@charset "UTF-8";

html {
  font-size: 62.5% !important;
}

body {
  width: 100%;
  margin: 0 auto;
  font: 0.625rem "メイリオ", Meiryo, "Meiryo UI", "Noto Sans JP", Avenir, "Open Sans", "Helvetica Neue", Helvetica, Arial, Verdana, Roboto, "游ゴシック", "Yu Gothic", "游ゴシック体", "YuGothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",  "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  letter-spacing: 0.05em;
  color: #111;
  font-size: 1.5rem;
  word-break: break-all;
}
*:focus {
  outline: none;
  }
/* for IE 6 */
* html body {
  font-size: 75%;
}

/* for IE 7 */
*:first-child + html body {
  font-size: 75%;
}
/* 共通 */
ul li{
  list-style: none;
}

a{
  text-decoration: none;
}

.center_line{
  width: 1200px;
  margin: auto;
}

/* Flexbox レイアウト */
.flex_wrap {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.flex_wrap.v_center {
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.flex_wrap.vh_center {
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -webkit-box-pack: center;
  justify-content: center;
  -ms-flex-pack: center;
}

.flex_wrap.space_between_vh {
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -ms-flex-pack: space-between;
}

.flex_wrap.space_between {
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -ms-flex-pack: space-between;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.flex_wrap.reverse {
  -webkit-flex-direction: row-reverse;
  -moz-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  flex-direction: row-reverse;
}

.flex_wrap.flex_end {
  -webkit-flex-direction: flex-end;
  -moz-flex-direction: flex-end;
  -webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
}

.flex_wrap.wrap {
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.l-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.l-column.col5 .col_inner:nth-child(-n+5){
  margin-bottom: 4px;
}
.l-column.col5 .col_inner_2:nth-child(n+5){
  margin-bottom: 10px;
}
.l-column.col5 .col_inner_3:nth-child(n+6){
  margin-top: 10px;
}
.l-column.col4 .col_inner{
  margin-right: 10px;
}
.l-column.col4 .col_inner:nth-child(4n){
  margin-right: 0;
}
.l-column.col4 .col_inner:nth-child(n+5){
  margin-top: 10px;
}

/* ボタン切り替え */
.btn > span:last-of-type,
.btn.active > span:first-of-type{
  display: none;
}
.btn.active > span:last-of-type {
  display: inline;
}
/* チェックボックススタイル */
/* ラベルのスタイル */
.checkbox label {
	padding-left:		1.2em;			/* ラベルの位置 */
	line-height:		1.1em;
	display:		inline-block;
	cursor:			pointer;
	position:		relative;
}
.checkbox label:before{
  content:		'';
	width:			12px;			/* ボックスの横幅 */
	height:			12px;			/* ボックスの縦幅 */
	display:		inline-block;
	position:		absolute;
	left:			0;
	background-color:	#fff;
	border-radius: 2px;
  border: 1px #51d789 solid;
}
/* 元のチェックボックスを表示しない */
.checkbox input[type=checkbox] {
	display:		none;
}
/* チェックした時のスタイル */
.checkbox input[type=checkbox]:checked + label:before {
	content:		'\2714';		/* チェックの文字 */
	font-size:		12px;			/* チェックのサイズ */
	color:			#fff;			/* チェックの色 */
	background-color:	#51d789;			/* チェックした時の色 */
  line-height: 1em;
}

/* ラベルのスタイル */
.checkbox-1 label {
	padding-left:		1.1em;			/* ラベルの位置 */
	line-height:		1.1em;
	display:		inline-block;
	cursor:			pointer;
	position:		relative;
  margin-right: 5px;
}
.checkbox-1 label:before{
  content:		'';
	width:			13px;			/* ボックスの横幅 */
	height:			13px;			/* ボックスの縦幅 */
	display:		inline-block;
	position:		absolute;
	left:			0;
	background-color:	#fff;
	border-radius: 2px;
  border: 1px #51d789 solid;
}
/* 元のチェックボックスを表示しない */
.checkbox-1 input[type=checkbox] {
	display:		none;
}
/* チェックした時のスタイル */
.checkbox-1 input[type=checkbox]:checked + label:before {
	content:		'\2714';		/* チェックの文字 */
	font-size:		12px;			/* チェックのサイズ */
	color:			#fff;			/* チェックの色 */
	background-color:	#51d789;			/* チェックした時の色 */
  line-height: 1em;
}


/* ヘッダー */
.header-header{
  background-color: #735b40;
}
.header-header p{
  width: 1200px;
  margin: auto;
  padding: 6px 0;
  color: #fff;
  font-size: 11px;
}

.title_wrap{
  width: 1200px;
  margin: auto;
}

.title_wrap h1{
  width: 280px;
  height: 95px;
  margin: auto 0 14px 0;
}

.header_menu1{
  margin: auto 0 5px 60px;
}

.header_menu1 li a{
  padding: 0 7px;
  border-right: 1px solid #535353;
  color:#535353;
  font-size: 12px;
}

.city{
  width: 103px;
  height: 32px;
  text-align: center;
  background-color: #f3e9dc;
  border-radius: 5px;
  color:#535353;
  display: inline-block;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 5px;
}

.header_menu2{
  font-size: 12px;
  border: 1px solid #735b40;
  border-top: 0;
}


.touroku{
  background: url(../images/icon_touroku.png) 10px 4px no-repeat;
  border-right: 1px solid #735b40;
}

.login{
  background: #50d789 url(../images/icon_login.png) 12px 3px no-repeat;
  border-right: 1px solid #735b40;
}
.search{
  background: url(../images/icon_search.png) 6px 4px no-repeat;
}

.touroku a{
  padding: 3px 12px 2px 28px;
  display: block;
  color: #222;
}
.login a{
  color: #fff;
  padding: 3px 12px 2px 28px;
  display: block;
}
.search a{
  padding: 0 12px 0 28px;
}
.search a span{
  background-color: #e6d7c3;
  color: #535353;
}
.shop-bnr_slider{
  width: 468px;
  margin: 14px 0;
}

.selectWrap{
  width: 50px;
  margin-left: 30px;
  position: relative;
  display: inline-block;
  padding: 2px 0;
}

.selectWrap::after {
  content: '▼';
  position: absolute;
  font-size: 11px;
  right: 6px;
  z-index: 9;
  color: #535353;
  top: 3px;
}
.select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  background: #e6d7c3;
  position: relative;
  z-index: 1;
  padding: 2px 6px 0 6px;
  border-radius: 2px;
  color: #535353;
}
select::-ms-expand {
    display: none;
}


/* TOPヘッダー */
.title_wrap_2{
  width: 1170px;
  margin: auto;
}
.header-body_2{
  background: url(../images/top/logo_bg_img.jpg) 0 212px no-repeat;
  background-size: 100% 24px;
}
.header-body_2 h1{
  width: 458px;
  height: 155px;
  margin-bottom: 0;
}
.header_main_area{
  position: relative;
}
.header_main_area h1 img{
  margin-top: 41px;
}
.header_main_area .header_menu1{
  margin: 174px 0 0 64px;
}
.header_main_area .header_mv img{
  width: 520px;
  height: 320px;
}
.header_main_area .header_mv{
  position: absolute;
  top: 83px;
  right: 0px;
}
.header_text_area{
  margin-top: 42px;
  padding-bottom: 15px;
}
.header_text_area p{
  width: 620px;
  color: #535353;
  font-size: 18px;
  letter-spacing: 0em;
}


/*メインナビ*/
.main_nav_wrap{
  background-color: #bde5b3;
  border-bottom: 3px solid #50d789;
}

.main_nav_area{
  width: 1200px;
  margin: auto;
}

.main_nav li{
  padding: 16px 0;
}

.main_nav li a{
  padding: 0 15px;
  color: #222;
  font-size: 18px;
  font-weight: bold;
  border-left: 1px solid #735b40;
  border-right: 1px solid #fff;
}

.main_nav li:hover{
  height: 100%;
  background: linear-gradient(#8fdd7e, #50d789) ;
  color: #fff;
}
.main_nav li a:hover{
  color: #fff;
}

.main_nav li.home{
  background: url(../images/icon_home_bk.png) 13px 15px no-repeat;
}
.main_nav li.home a{
  padding-left: 40px;
  position: relative;
}
.main_nav li.home:hover{
  background: url(../images/icon_home_wh.png) 13px 15px no-repeat, linear-gradient(#8fdd7e, #50d789) ;
}
.main_nav li.home a:before{
  content: "";
  left: 1px;
  width: 1px;
  height: 27px;
  background: #fff;
  display: block;
  position: absolute;
  left: -2px;
}
.main_nav li.home.active{
  background: url(../images/icon_home_wh.png) 13px 15px no-repeat, linear-gradient(#8fdd7e, #50d789) ;
}
.main_nav li.home.active a{
  color: #fff;
}
.main_nav_wrap li.ranking a{
  position: relative;
}
.main_nav_wrap li.ranking a:after{
  content: "";
  right: 1px;
  width: 1px;
  height: 27px;
  background:#735b40;
  display: block;
  position: absolute;
  top: 0px;
  right: -2px;
}
/* 店舗詳細ナビ */
.shop_detail_nav{
  width: 1140px;
  height: 61px;
  background-color: #d8f1d2;
  margin:10px 0 15px 0;
}
.shop_detail_nav ul li{
  padding: 0 17px;
  border-right: 1px solid #fff;
}
.shop_detail_nav ul li:hover{
  background-color: #bde5b3;
}
.shop_detail_nav .active{
  background-color: #bde5b3;
}
.shop_detail_nav ul li a{
  color: #222;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  line-height: 3.4em;
}


/* TOPナビ */
.main_nav_wrap_2{
  background-color: #bde5b3;
  border-bottom: 3px solid #50d789;
}
.nav_wrap_2_inner{
  width: 1170px;
  margin: auto;
}
.nav_wrap_2_inner .home{
  width: 64px;
  height: 60px;
  text-align: center;
  background: url(../images/icon_home_wh.png) 20px center no-repeat, linear-gradient(#8fdd7e, #50d789) ;
}

.main_nav_wrap_2 p{
  margin: auto 0 auto 10px;
  color: #353535;
  font-size: 21px;
  font-weight: bold;
}

/*パンくず*/
.breadcrumb{
  background-color: #efefef;
  border-top: 1px solid #fff;
}
.breadcrumb p{
  width: 1200px;
  margin: auto;
  padding:7px 0 7px 20px;
  background:  url(../images/icon_home_pan.png) 0px 8px no-repeat;
  color: #222;
  font-size: 11px;
}
.aggregation_b p{
  margin-bottom: 15px;
  padding:3px 0 0 46px;
  background: url(./../images/shop_ranking_staff/icon_aggregation.png) 15px 0 no-repeat;
  color: #1d1d1d;
  font-size: 16px;
  font-weight: bold;
}
.aggregation_b p span{
  font-size: 21px;
}
/* 右サイド */
/* 電話番号とSNSエリア */
.shop_main_inner_right{
  width: 320px;
  height: 250px;
  background-color: #fff;
  border: 10px solid #efefef; 
}

.inner_right_area{
  margin-top: 5px;
  padding:24px 15px 0 15px;
  position: relative;
}
.right_area_top{
  padding-bottom: 8px;
  border-bottom: 1px solid #bfbfbf;
}
.right_area_top img{
  position: absolute;
  top:16px;
}
.right_area_top p{
  color: #000;
  font-size: 12px;
  letter-spacing: 0;
  position: absolute;
  top: 18px;
  left: 40px;
}
.right_area_top p span{
  color: #50d789;
  font-size: 14px;
}
.right_area_top h3{
  margin: 10px 0 0 36px;
  color: #50d789;
  font-size: 26px;
  font-weight: bold;
  letter-spacing: 0;
}
.right_area_bottom_left .official_site{
  padding:10px 8px 10px 35px;
  color: #000;
  font-size: 12px;
  background: url(./../images/icon_site_green.png) 14px 10px no-repeat;
  border: 1px solid #50d789;
  border-radius: 5px;
  line-height: 5.5em;
  box-shadow:1px 5px 0px -3px #cccccc;
}
.no_official_site{
  padding:10px 8px 10px 35px;
  color: #cccccc;
  font-size: 12px;
  background: url(./../images/icon_site_grey.png) 14px 10px no-repeat;
  border: 1px solid #cccccc;
  border-radius: 5px;
  line-height: 5.5em;
  box-shadow:1px 5px 0px -3px #cccccc;
  pointer-events: none;
}

.sns_title_wrap img{
  width: 42px;
  height: 1px;
  margin-top: 8px;
}
.sns_title_wrap p{
  padding: 0 5px;
  color: #000;
  font-size: 11px;
}
.right_area_bottom_left ul{
  margin-top: 9px;
}
.right_area_bottom_left li{
  margin-right: 3px;
}
.right_area_bottom_left li:last-child{
  margin-right: 0;
}
.right_area_bottom_right{
  margin-top:11px;
  padding: 0 5px;
}
.right_area_bottom_right a{
  padding-left: 17px;
  color: #000;
  font-size: 12px;
  background: url(./../images/icon_sp.png) 0 0 no-repeat;
  letter-spacing: 0;
}

/* スクロールエリア-スクロール時 */
.shop_main_inner_right.is-fixed {
  position: fixed;
  top: 20px;
}

/*メインエリア*/
.main_wrap{
  margin-top: 15px;
}
/*タイトルデザイン*/
/* 共通タイトルデザイン */
.section_title h2{
  height: 46px;
  padding-top: 7px;
  padding-left: 36px;
  color: #1d1d1d;
  font-size: 24px;
}
/* 即癒しタイトル */
.iyashi{
  background: #fbf9f4 url(../images/border_blu.jpg) left center no-repeat;
}
.iyashi h2{
  background: url(../images/icon_hourglass.png) 14px 10px no-repeat;
}

/* お得クーポンタイトル */
.otoku-coupon_title{
  background: #fbf9f4 url(../images/border_red.jpg) left center no-repeat;
}
.otoku-coupon_title h2{
  padding-left: 45px;
  background: url(../images/icon_coupon_red.png) 14px 15px no-repeat;
}
.otoku-coupon_title a{
  margin-top: 8px;
}
/* ランキングタイトル */
.ranking_title{
  background: #fbf9f4 url(../images/border_green.jpg) left center no-repeat;
}
.ranking_title h2{
  padding-left: 45px;
  background: url(../images/icon_ranking.png) 14px 10px no-repeat;
}
.ranking_title .title_type2{
  background: url(../images/icon_ranking_ye.png) 14px 10px no-repeat;
}
/* 最新口コミ情報タイトル */
.kuchikomi_title{
  background: #fbf9f4 url(../images/border_yel.jpg) left center no-repeat;
}
.kuchikomi_title h2{
  padding-left: 45px;
  background: url(../images/icon_kuchikomi.png) 14px 13px no-repeat;
}
/* 写メ日記タイトル */
.photo_diary_title{
  background: #fbf9f4 url(../images/border_oramge.jpg) left center no-repeat;
}
.photo_diary_title h2{
  padding-left: 45px;
  background: url(../images/icon_camera_ora.png) 14px 11px no-repeat;
}
.diary_title2 h2{
  background: url(../images/icon_photo_ora.png) 14px 15px no-repeat;
}
/* セラピストタイトル */
.therapist_title{
  background: #fbf9f4 url(../images/border_pink.jpg) left center no-repeat;
}
.therapist_title h2{
  padding-left: 45px;
  background: url(../images/icon_women_pink.png) 17px 10px no-repeat;
}
/* 料金メニュータイトル */
.price_menu_title{
  background: #fbf9f4 url(../images/border_green.jpg) left center no-repeat;
}
.price_menu_title h2{
  padding-left: 45px;
  background: url(../images/icon_price.png) 14px 12px no-repeat;
}
/* リアルタイム速報タイトル */
.sokuhou_title-1{
  background: #fbf9f4 url(../images/border_purple.jpg) left center no-repeat;
}
.sokuhou_title-1 h2{
  padding-left: 45px;
  background: url(../images/icon_sokuhou.png) 14px 9px no-repeat;
}
/* 動画一覧タイトル */
.movie_list_title{
  background: #fbf9f4 url(../images/border_pink_purple.jpg) left center no-repeat;
}
.movie_list_title h2{
  padding-left: 45px;
  background: url(../images/icon_movie.png) 14px 9px no-repeat;
}
/* 共通デザイン */
.border_green{
  padding: 4px;
  border: 6px solid #50d789;
}
.border_purple{
  border: 3px solid #cdccf6;
}
/* スタッフカードデザイン */
.result_area_inner{
  margin-bottom: 10px;
}
.staff_card_wrap{
  width: 19%;
  margin: auto 5px;
  border: 1px solid #f4bed8;
}
.staff_card_inner{
  border: 1px solid #fff;
}
.time_area{
  width: 100%;
  height: 32px;
  background-color:#fbf9f4;
}
.working_time{
  background-color: #effeff;
}
.waiting{
  background-color: #effeff;
}
.time_area h3{
  color: #27d4df;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  line-height: 2.3em;
}
.working_time h3{
  padding-left: 18px;
  background: url(./../images/shop_detail_staff_list/icon_clock.png) 2px 7px no-repeat;
  letter-spacing: -0.02em;
}
.working_time.type_blue h3{
  color: #278bdf;
  background: #e0e8ff url(./../images/shop_detail_staff_list/icon_clock_blue.png) 2px 7px no-repeat;
}
.bg_type2 h3{
  background: url(../images/icon_hourglass.png) 26px center no-repeat;
  background-size: 10px;
  font-size: 16px;
  line-height: 2em;
}
.waiting h3{
  background: url(./../images/shop_detail_staff_list/icon_time.png) 32px 7px no-repeat;
  letter-spacing: -0.02em;
}
.staff_card_inner .img_area{
  position: relative;
}
.staff_card_inner .img_area img{
  width: 100%;
  height: 100%;
}
.staff_card_inner .img_area .new_face_icon{
  width: 30px;
  height: 36px;
  position: absolute;
  top: 5px;
  left: 7px;
}
.staff_card_inner .img_area .cup_size{
  width: 54px;
  height: 45px;
  padding: 5px 0 0 7px;
  background: url(./../images/shop_detail_staff_list/cup_bg.png) no-repeat;
  color: #e64d95;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  position: absolute;
  right: 0;
  bottom: 0;
}
.staff_card_inner .img_area .ranking_no{
  width: 58px;
  height: auto;
}
.text_area {
  padding: 4px 5px;
  position: relative;
}
.text_blue{
  color: #4894cb;
}
.text_area img{
  width: 24px;
  height: 21px;
  position: absolute;
  right: 4px;
  bottom: 4px;
}
.icon_type2 img{
  bottom: 0;
  top: 5px;
}
.text_inner h2{
  color: #e64d95;
  font-size: 18px;
}
.text_inner h2 span{
  color: #1d1d1d;
  font-size: 14px;
  font-weight: normal;
}
.text_inner p{
  color: #1d1d1d;
  font-size: 12px;
  letter-spacing: 0;
}
.card_type2{
  width: 19.4%;
  margin: 0 3px;
}
.l-column.col5.staff_col .col_inner_3:nth-child(n+6){
  margin-top: 6px;
}
/* ランキング順位デザイン */
.ranking_number{
  position: absolute;
  left: 5px;
  bottom: 13px;
}
.ranking_number.style{
  width: 58px;
  height: 58px;
  padding-top: 8%;
  text-align: center;
  color: #fff;
  background-color:rgba(0,6,10,0.8);
  border-radius: 50%;
  font-family: "ヒラギノ明朝 ProN W8", "HiraMinProN-W8", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
  font-size: 28px;
}
/* 写メ日記カードデザイン */
/* 日記 -4カラム- */
.diary_col_4_wrap{
  margin-bottom: 26px;
}
.diary_col_4{
  margin-bottom: 10px;
}
.diary_col_inner{
  width: 24.1%;
  background-color: #fbf9f4;
  border: 1px solid #fee3db;
}
.diary_col_inner a{
  width: 100%;
  padding: 1px;
  display: inline-block;
}
.diary_img{
  width: 100%;
}
.inner_detail_wrap{
  width: 100%;
  padding: 0 6px;
  text-align: left;
  line-height: 1em;
}
.inner_detail_wrap p{
  color: #1d1d1d;
  font-size: 11px;
}
.inner_detail_wrap h4{
  color: #fb724d;
  font-size: 14px;
}
.inner_detail_wrap span{
  color: #e64d95;
  font-size: 14px;
  font-weight: bold;
}
.inner_detail{
  margin-top: 10px;
}
.diary_col_inner .inner_detail img{
  width: 32px;
  height: 32px;
  margin-right: 7px;
  border-radius: 50px;
}
/* 動画一覧カードデザイン */
.movie_card{
  background-color: #fbf9f4;
  border: 1px solid #f0cef6; 
  padding: 1px;
}
.category_title {
  padding: 5px 0; 
  background-color: #fbf9f4;
  border: 1px solid #c250d7;
  color: #000;
  font-size: 14px;
  text-align: center;
}
.category_title img{
  margin-right: 3px;
}
.movie_card .modal img{
  width: 100%;
  padding: 1px;
}
.movie_card_title{
  padding: 2px;
}
.movie_card_title p{
  color: #292929;
  font-size: 12px;
}
.movie_card_title h3{
  color: #c250d7;
  font-size: 16px;
}
/* 左サイドエリアランキング */
.left_side_ranking_wrap{
  width: 180px;
  margin-bottom: 15px;
  padding: 1px 1px 5px 1px;
  border: 1px solid #a38a72;
  color: #222;
  font-size: 14px;
}
.left_side_ranking_wrap a{
  color: #222;
}
.left_side_ranking_wrap .side_title{
  padding:5px 0 6px 55px;
  background: #f3e9dc url(../images/side_ranking_title_icon.png) 4px 3px no-repeat;
  line-height: 1.4em;
}
.left_side_ranking_wrap .side_title span{
  font-size: 18px;
  font-weight: bold;
}
.sub_title{
  padding: 7px 0 5px 32px;
  background: url(../images/sub_title_icon.png) 4px 6px no-repeat;
  border-bottom: 1px solid #fff;
  font-size: 16px;
  font-weight: bold;
}
.t_green{
  background-color: #e5f7ce;
}
.t_blue{
  background-color: #cef7e1;
}
.t_pink{
  background-color: #f8d1ed;
}
.t_ora{
  background-color: #f8dad1;
}
.t_yel{
  background-color: #f8f2d1;
}
.left_side_ranking_wrap dl{
  margin-top: 5px;
  letter-spacing: 0;
}
.left_side_ranking_wrap dd{
  border-bottom: 1px dashed #a38a72
}
.left_side_ranking_wrap dd a{
  display: block;
  padding: 8px 5px 6px 5px;
}
.overall_ranking a{
  width: 100%;
  height: 100%;
  background: #f7f3ed url(../images/right_arrow_brn.png) 98% center no-repeat;
  border: 1px solid #fff;
  border-top:0;
}
/*サイドメニュー*/
.side_menu{
  width: 180px;
  margin-right: 16px;
  margin-bottom: 10px;
  border: 1px solid #a38a72;
  font-size: 12px;
}
.side_menu th{
  padding: 7px 0;
  color: #613d20;
  font-weight: normal;
}
.side_menu td{
  color: #2e2218;
  font-size: 14px;
}
.side_menu td a{
  width: 174px;
  margin: auto;
}
.side_menu span{
  margin-right: 6px;
  font-size: 10px;
}

.type1 td{
  text-align: right;
}
.type1 .bed{
  padding-left: 26px;
  background: #f3e9dc url(../images/icon_bed.png) 4px center no-repeat;
}

.type1 .women{
  padding-left: 26px;
  background: #f3e9dc url(../images/icon_women.png) 6px center no-repeat;
}

.type1 .coupon{
  padding-left: 26px;
  background: #f3e9dc url(../images/icon_coupon.png) 4px center no-repeat;
}

.type2 .bed{
  padding-left: 26px;
  background: #f3e9dc url(../images/icon_bed.png) 4px center no-repeat;
}

.type2 .women{
  padding-left: 26px;
  background: #f3e9dc url(../images/icon_women.png) 6px center no-repeat;
}
.type2 .search2{
  padding-left: 26px;
  background: #f3e9dc url(../images/icon_search2.png) 4px center no-repeat;
}
.type3 .search2{
  padding-left: 26px;
  background: #f3e9dc url(../images/icon_search2.png) 4px center no-repeat;
}
.type2 th{
  color: #222;
  font-size: 14px;
}
.type2 th img{
  position: absolute;
  margin-top: 28px;
  margin-left: -16px;
}
.type2 td{
  width: 170px;
  margin: auto;
}
.border-b{
  border-bottom: 1px solid #f3e9dc;
}
.type2 p{
  width: 170px;
  margin: auto;
  padding: 10px 0;
  line-height:1em;
}

.type2 td a{
  color:#4894cb;
  font-size: 12px;
}
.type3{
  padding-bottom: 5px;
}
.type3 th{
  color: #222;
  font-size: 14px;
}
.type3 th img{
  position: absolute;
  margin-top: 28px;
  margin-left: -16px;
}
.type3 .button_area{
  padding-top: 10px;
}
.type3 .button_area a{
  width: 170px;
  margin:auto auto 5px auto;
  text-align: center;
  background: linear-gradient(#fff, #f9f6ef) ;
  border: 1px solid #ceb57d;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.3);
  color:#222;
  font-size: 14px;
  display: block;
  padding: 10px 0;
}

.badge1{
  font-size: 12px;
}
.badge2{
  padding: 2px;
  background-color: #f3e9dc;
  border-radius: 3px;
  color: #222;
  font-size: 12px;
  width: 23px;
  flex: none;
  text-align: center;
}
.city_area{
  padding: 5px 0;
  border-bottom: 1px solid #f3e9dc;
}
.city_name{
  margin: 3px 0 0 3px;
  color: #222;
  font-size: 12px;
}
.cm_img_area{
  border: 10px solid #fff;
}
.cm_img_area p{
  margin-bottom: 10px;
}
.cm_img_area p:nth-child(3n){
  margin-bottom: 0;
}
/* メインエリア */
.right_main_area{
  width: 1004px;
}
/* formデザイン */
.search_form_wrap{
  position: relative;
}
.form_bo_lb{
  border: 5px solid #27d4df;
}
.form_bo_ora{
  border: 5px solid #fb724d;
}
.form_bo_pink_p{
  border: 5px solid #c250d7;
}
/* サイドコンテンツ */
.side_contents_area{
  width: 262px;
}
.side_contents_area h5{
  padding:8px 0 7px 45px;
  background-color: #fbf9f4;
  color: #1d1d1d;
  font-size: 18px;
  border-bottom: 1px solid #a38a72;
}
.side_contents{
  border: 1px solid #a38a72;
  margin-bottom: 16px;
}
/* 写メ日記 */
.photo_diary_area{
  border: 5px solid #fff;
}
.photo{
  background: #a38a72 url(../images/pref/icon_photo.png) 12px 8px no-repeat;
}
.small_col_3{
  width: 241px;
  margin: auto;
}
.small_col_3 a{
  width: 32%;
  height: 79px;
  margin-right: 4px;
}
.small_col_3 a img{
  width: 100%;
  height: 79px;
}
.small_col_3 a:nth-child(-n+3){
  margin-top: 5px;
  margin-bottom: 2px;
}
.small_col_3 a:nth-child(3n){
  margin-right: 0;
}
.photo_diary_wrap h3{
  width: 272px;
  height: 48px;
  margin: 0 82px 20px auto;
  padding-left: 52px;
  background: url(./../images/shop_detail_dialy_list/icon_photo_ora.png) 15px center no-repeat #ffe6df;
  border-radius: 50px;
  color: #1d1d1d;
  font-size: 21px;
  line-height: 2.4em;
}
.post_date a{
  height: 100%;
  margin-top: 15px;
  color: #333;
  font-size: 14px;
  font-weight: bold;
}
.post_date a span{
  padding: 0 5px 0 20px;
  background: url(./../images/shop_detail_dialy_list/exclamation_mark.png) 3px 3px no-repeat;
  letter-spacing: 0;
}
.side_right_area .side_inner{
  width: 320px;
}
.side_inner h2{
  height: 32px;
  padding-left: 28px;
  background-color: #ffe6df;
  color: #1d1d1d;
  font-size: 14px;
  font-weight: normal;
  text-align: left;
  letter-spacing: 0;
  line-height: 2.5em;
  position: relative;
  z-index: -1;
}
.side_inner h2 img{
  position: absolute;
  top: 27px;
  left: 6px;
}
.side_calendar h2{
  background: #ffe6df url(./../images/shop_detail_dialy_list/icon_calendar.png) 8px 8px no-repeat;
}
.side_archive h2{
  background: #ffe6df url(./../images/shop_detail_dialy_list/icon_box.png) 8px 12px no-repeat;
}
.diary h2{
  background: #ffe6df url(./../images/shop_detail_dialy_list/icon_women_ora.png) 9px 9px no-repeat;
}
.diary_col_inner a:hover{
  opacity: 0.5;
}
.btn_wrap a{
  margin: 0 6px;
  color: #a38a72;
  border: 1px solid #a38a72;
  border-radius: 5px;
  font-size: 16px;
}
.back_btn {
  padding: 5px 10px 5px 22px;
  background: url(./../images/staff/left_arrow_brn.png) 8px center no-repeat;
}
.list_btn {
  padding: 5px 10px 5px 32px;
  background: url(./../images/staff/icon_list_brn.png) 10px center no-repeat;
}
.next_btn {
  padding: 5px 22px 5px 10px;
  background: url(./../images/staff/right_arrow_brn.png) 133px center no-repeat;
}
.diary_contents_wrap{
  margin:10px 0 18px 0;
  padding-bottom: 37px;
  border-bottom: 1px solid #ddd;
}
.diary_contents_wrap img{
  width: 300px;
  height: 474px;
}
.diary_text_area{
  width: 400px;
  margin-left: 38px;
  color: #222;
}
.diary_text_area h4{
  padding-left: 28px;
  margin-bottom: 24px;
  background: url(./../images/staff_dialy_detail/text_area_icon.png) left 3px no-repeat;
  font-size: 21px;
}
.diary_text_area p{
  font-size: 16px;
}
/* カレンダーデザイン */
.side_inner{
  margin-bottom: 25px;
}
.side_inner table{
  width: 100%;
  border-collapse: collapse;
}
.side_calendar{
  margin-top: 15px;
}
.side_calendar table{
  margin-top: 22px;
  border: 2px solid #ebebeb;
  color: #515151;
  font-size: 12px;
}
.side_calendar table thead td,.side_calendar table thead th{
  height: 40px;
  padding-top: 20px;
  text-align:center;
}
.back_arrow a{
  padding-left: 10px;
  background: url(../../images/shop_detail_dialy_list/left_arrow.png) 0 center no-repeat;
}
.next_arrow a{
  padding-right: 10px;
  background: url(../../images/shop_detail_dialy_list/right_arrow.png) 0 center no-repeat;
}
.side_calendar table thead tr{
  border-top: 2px solid #ebebeb;
}
.side_calendar table thead th p{
  padding: 2px 15px;
  background-color: #eee;
  border: 1px solid #d7d7d7;
  border-radius: 35px;
  font-weight: normal;
  display: inline-block;
}
.side_calendar table tbody th{
  vertical-align:bottom;
}
.side_calendar table tbody td{
  width: 40px;
  height: 40px;
  border: 1px solid #ececec;
  vertical-align: top;
  padding: 1px 0 0 2px;
}
.side_calendar table .today{
  background-color: #ffe6df;
  color: #fff;
}
.side_calendar table .today span{
  background-color: #ea5a57;
  border-radius: 50px;
}
.side_calendar table .no_date{
  background-color: #f3f3f5;
}
/* 月別アーカイブ */
.side_archive table{
  margin-top: 25px;
}
.side_archive table tr{
  height: 35px;
  border-bottom: 1px solid #ebebeb;
}
.side_archive table tr td a{
  padding-left: 8px;
  color: #4894cb;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 3em;
}
.side_archive table tr td a span{
  margin-left: 10px;
}

/* 新人セラピスト */
.new_face_area{
  border: 5px solid #fff;
}
.new_face{
  background: #a38a72 url(../images/pref/icon_beginner.png) 12px 8px no-repeat;
}
.new_face_inner_wrap{
  margin-top: 5px;
  margin-right: 10px;
  width: 240px;
}
.new_face_inner_wrap img{
  width: 108px;
  height: 143px;
  margin-right: 10px;
}
.new_face_text{
  width: 124px;
  height: 143px;
}
.new_face_text p{
  text-align: center;
  margin-bottom: 11px;
  color: #50d789;
  background-color: #edfaf3;
  border:1px solid #50d789;
  font-size: 14px;
  font-weight: bold;
}
.new_face_text ul li{
  color: #1d1d1d;
  font-size: 12px;
}
.new_face_text ul li .name{
  margin-right: 6px;
  color: #e64d95;
  font-size: 14px;
  font-weight: bold;
}
.slider_button{
  margin-top: 5px;
  background-color: #eeeeee;
}
.slider_button a{
  width: 52px;
  height: 23px;
  text-align: center;
  padding-top: 3px;
  background-color: #a38a72;
  border-right: 1px solid #fff;
}
.slider_button a:last-child{
  border-left: 1px solid #fff;
  border-right: 0;
}
/* 動画 de お店PR */
.shop_movie_area{
  border: 5px solid #fff;
}
.shop_movie{
  background: #a38a72 url(../images/pref/icon_movie.png) 12px 8px no-repeat;
}
.movie_text{
  margin:10px 0 0 5px;
  line-height: 0.8em;
}
.movie_text a{
  color: #4894cb;
  font-size: 12px;
}

.movie_text p{
  margin-top: 5px;
  color: #222;
  font-size: 10px;
}

.shop_movie_area ul li{
  padding: 5px 0;
}
/* スライダーロード時縦並び非表示 */
.shop-bnr_slider{
  display: none;
}
.shop-bnr_slider.slick-initialized{
  display: block; /*slick-initializedが付与されたら表示*/
}
.main_coupon_area{
  display: none;
}
.main_coupon_area.slick-initialized{
  display: block;
}
.slider_area{
  display: none;
}
.slider_area.slick-initialized{
  display: block;
}
.iyashi_slider_innner{
  display: none;
}
.iyashi_slider_innner.slick-initialized{
  display: block;
}
.new_face_group{
  display: none;
}
.new_face_group.slick-initialized{
  display: block;
}
.mv_img{
  display: none;
}
.mv_img.slick-initialized{
  display: block;
}
.thum_img{
  display: none;
}
.thum_img.slick-initialized{
  display: block;
}
.photo_nav_slider{
  display: none;
}
.photo_nav_slider.slick-initialized{
  display: block;
}

/* スライダー */
#new_face_slider .slick-arrow{
  width: 52px;
  height: 23px;
  background-color: #a38a72;
  border-right: 1px solid #fff;
}
#new_face_slider .slick-arrow:last-child{
  border-right: 0 solid #fff;
  border-left: 1px solid #fff !important;
}

#new_face_slider .slick-prev{
  top:164px !important;
  left: 0 !important;
  z-index: 1 !important;
}
#new_face_slider .slick-next{
  top:164px !important;
  right: 0 !important;
}
#new_face_slider .slick-prev:before, .slick-next:before{
  font-size: 30px !important;
  position: relative !important;
  top: -7px !important;
}
#new_face_slider .slick-next:before{
  font-size: 30px !important;
  position: relative !important;
  top: -7px !important;
}
.slick-prev:before, .slick-next:before{
  font-size: 45px !important;
  opacity: 1 !important;
}
.slick-prev:before{
  content: '\2039' !important;
}
.slick-next:before{
  content: '\203A' !important;
}
.slick-dotted.slick-slider{
  margin-bottom: 21px !important;
}
.slick-dots{
  bottom: -20px !important;
  right: 7px !important;
  text-align: right !important;
}
.slick-dots li{
  width: 2px !important;
}
.slick-dots li.slick-active button:before{
  color: #a38a72 !important;
}
.slick-dots li button:before{
  color: #d7d7d7 !important;
}

#sub_slider .slick-prev{
  top: 135px !important;
  left: 14px !important;
  z-index: 1 !important;
}
#sub_slider .slick-next{
  top: 135px !important;
  right: 14px !important;
}
#col_6_slider .slick-arrow{
  width: 21px;
  height: 296px;
  text-align: center;
  background-color: #8cdbe0;
}
#col_6_slider .slick-prev{
  left: -22px !important;
  z-index: 1 !important;
}
#col_6_slider .slick-next{
  right: -22px !important;
}
/* テキストエリア */
.free_text_area{
  margin-bottom: 16px;
  padding: 12px;
  background-color: #fbf9f4;
  border: 1px solid #a38a72;
  font-size: 12px;
}
/* ボタンデザイン */
/* もっと見るボタン デザイン */
.more_btn_style{
  width: 94px;
  height: 24px;
  padding: 2px 0px 2px 6px;
  background: #fefefe;
  box-shadow:0px 1px 4px -1px rgba(47,43,47,0.47);
  border-radius: 3px;
  color: #222;
  font-family: "メイリオ";
  font-size: 12px;
  text-align: center;
}
.more_btn_style img{
  width: 15px;
  height: 15px;
  margin: auto 0 auto 2px;
  padding: 3px 5px;
  border-radius: 3px;
}
.sky{
  background:linear-gradient( #ffffff 0%, #ffffff 24%, #e7e7e7 47%, #eff5f9 61%, #fefefe 100%);
  border: 1px solid #27d4df;
}
.sky img{
  background-color: #27d4df;
}
.red{
  background: linear-gradient( #ffffff 0%, #ffffff 24%, #e7e7e7 47%, #f9eff3 61%, #fefefe 100%);
  border: 1px solid #cc042f;
}
.red img{
  background-color: #cc042f;
  margin-bottom: 2px;
}
.blue{
  background: linear-gradient( #ffffff 0%, #ffffff 24%, #e7e7e7 47%, #eff3f9 61%, #fefefe 100%);
  border: 1px solid #4894cb;
  font-weight: normal;
  letter-spacing: 1px;
}
.blue img{
  background-color: #4894cb;
  margin-bottom: 2px;
}
.pink{
  background: linear-gradient( #ffffff 0%, #ffffff 24%, #e7e7e7 47%, #f6e9ef 61%, #fefefe 100%);
  border: 1px solid #e64d95;
  font-weight: normal;
  letter-spacing: 1px;
}
.pink img{
  background-color: #e64d95;
  margin-bottom: 2px;
}
.yellow{
  background: linear-gradient( #ffffff 0%, #ffffff 24%, #e7e7e7 47%, #f9f5ef 61%, #fefefe 100%);
  border: 1px solid #ffbc08;
  font-weight: normal;
  letter-spacing: 1px;
}
.yellow img{
  background-color: #ffbc08;
  margin-bottom: 2px;
}
.purple{
  background: linear-gradient( #ffffff 0%, #ffffff 24%, #e7e7e7 47%, #d3d1ed 61%, #fefefe 100%);
  border: 1px solid #c6c3f2;
  font-weight: normal;
  letter-spacing: 1px;
}
.purple img{
  background-color: #6e68f0;
}
.pink_purple img{
  background-color: #c250d7;
}
.orange{
  background: linear-gradient( #ffffff 0%, #ffffff 24%, #e7e7e7 47%, #eff5f9 61%, #fefefe 100%);
  border: 1px solid #fb724d;
  font-weight: normal;
}
.orange img{
  background-color: #fb724d;
}
.green{
  background: linear-gradient( #ffffff 0%, #ffffff 24%, #e7e7e7 47%, #eaf6e9 61%, #fefefe 100%);
  border: 1px solid #50d789;
  font-weight: normal;
}
.green img{
  background-color: #50d789;
}
/* もどるボタン */
.base_btn_style{
  width: 200px;
  margin: auto;
  padding: 11px 0px 10px 44px;
  border-radius: 3px;
  box-shadow:0px 0px 6px 1px rgba(166,166,166,0.41);
  color: #222;
  font-size: 18px;
  display: block;
}
.left_arrow_p{
  background:url(../images/left_arrow_p.png) 18px center no-repeat,linear-gradient( #fefefe 3%, #f0f4fc 60%, #f1eff9 70%, #e7e7e7 107%, #ffffff 100%);
}
/* 続きを見るボタン */
.more_link{
  width: 212px;
  height: 52px;
  margin: 60px auto 0 auto;
  background: #e7e7e7;
  background: -moz-linear-gradient( #ffffff 0%, #e7e7e7 100%);
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#e7e7e7));
  background: -webkit-linear-gradient( #ffffff 0%, #e7e7e7 100%);
  background: -o-linear-gradient( #ffffff 0%, #e7e7e7 100%);
  background: linear-gradient( #ffffff 0%, #e7e7e7 100%);
  border: 1px solid #eaeaea;
  border-radius: 8px;
  box-shadow: 3px 3px 10px 0px rgba(0,0,0,0) inset, 0px -1px 3px 0px rgba(0,0,0,0.6) inset;
  color: #556270;
  line-height: 3em;
  text-align: center;
  font-size: 18px;
}
/* もっと見るボタン-サイドエリア- */
.side_more_area{
  margin-top: 5px;
  padding: 5px;
  text-align: right;
  background-color: #fbf9f4;
}
.side_more_btn{
  color: #222;
  font-size: 12px;
  display: inline-flex;
}
.side_more_btn img{
  width: 14px;
  height: 14px;
  margin:1px 0 0 2px;
  padding: 2px 3px;
  border-radius: 3px;
}
.s_orange:hover{
  color: #fb724d;
  font-weight: bolder;
}
.s_orange img{
  background-color: #fb724d;
}
.s_purple:hover{
  color: #c250d7;
  font-weight: bolder;
}
.s_purple img{
  background-color: #c250d7;
}
/* ピックアップエリアアイコンデザイン */
.icon{
  width: 83px;
  height: 21px;
  padding:3px 0 0 24px;
  color: #fff;
  font-size: 11px;
  text-align: center;
}
.coupon_icon{
  background: #cc042f url(../images/icon_coupon_wht.png) 7px center no-repeat;
}

/* バッチデザイン */
.badge{
  width: 87px;
  height: 18px;
  margin: auto;
  padding:2px 0 0 22px;
  background: url(../images/coupon_wht.png) 5px center no-repeat;
  color: #fff;
  font-size: 10px;
  letter-spacing: 0;
}
.badge3{
  width: 85px;
  height: 24px;
  padding:2px 6px 1px 22px;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
}
.badge4{
  margin-right: 7px;
  padding: 3px 13px 2px 13px;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
}
.event_i{
  background: url(../images/coupon_wht.png) 6px 8px no-repeat;
}
.newface_i{
  background: url(./../images/bage_beginner.png) 5px 3px no-repeat;
}
.news_i{
  background: url(./../images/bage_news.png) 4px 4px no-repeat;
  background-size: 16px;
}
.experience_i{
  background: url(./../images/bage_experience.png) 4px 4px no-repeat;
  background-size: 16px;
}
.work_i{
  background: url(./../images/bage_work.png) 3px 5px no-repeat;
}
.event_mark{
  background-color: #8950a6;
}
.news_mark{
  background-color: #1ea6df;
}
.experience_mark{
  background-color: #4cae6d;
}
.no_mark{
  background-color: #f9f9f9;
  border: 1px solid #d5d5d5;
}
.coupon_mark{
  background-color: #cc042f;
}
.new_face_mark{
  background-color: #e64d95;
}
.work_mark{
  background-color: #27d4df;
}
.experience_mark2{
  background-color: #f16f19;
}
.bg_red{
  background-color: #faeaee;
}
.bg_g{
  background-color: #f0f8e9;
}
.bg_p{
  background-color: #f3e9f8;
}
.bg_ora{
  background-color: #fcf1eb;
}
.bg_lb{
  background-color: #e4f9fa;
}
.bg_pink_p{
  background-color: #c250d7;
}
/* ページャー */
.page_number_link{
padding-bottom: 20px;
}
.page_number_link li{
  margin-right: 10px;
}
.page_number_link li:last-child{
  margin-right: 0;
}
.page_number_link a{
  padding: 5px 10px;
  background: -moz-linear-gradient( #ffffff 0%, #fafafa 50%, #f2f2f2 100%);
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), color-stop(50%, #fafafa), to(#f2f2f2));
  background: -webkit-linear-gradient( #ffffff 0%, #fafafa 50%, #f2f2f2 100%);
  background: -o-linear-gradient( #ffffff 0%, #fafafa 50%, #f2f2f2 100%);
  background: -ms-linear-gradient( #ffffff 0%, #fafafa 50%, #f2f2f2 100%);
  background: linear-gradient( #ffffff 0%, #fafafa 50%, #f2f2f2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=#ffffff, endColorstr=#f2f2f2,GradientType=0 );
  border: 1px solid #ddd;
  border-radius: 3px;
  color: #556270;
  font-size: 13px;
  font-weight: bold;
  display: inline-flex;
}
.page_number_link a:hover{
  background: #d8f1d2;
}
.page_number_link .active{
  color: #fff;
  background: #50d789;
  border: 1px solid #22be64;
}
/* 店舗詳細の共通デザイン */
.shop_detail_main{
  width: 1200px;
  margin: 10px auto 100px auto;
  padding: 1px;
  border: 1px solid #e7e7e7;
}
.shop_detail_inner{
  border-top: 8px solid #50d789;
}
.shop_detail_inner_group{
  width: 1140px;
  margin: auto;
}
.shop_top_area{
  margin-top: 20px;
  box-shadow: 0px 1px 4px #ccc;
}
.shop_name_wrap{
  padding: 10px 15px 0 15px;
}
/* 店舗情報-テーブル- */
.shop_detail_table_wrap{
  margin-top: 19px;
  border: 1px solid #a38a72;
  text-align: left;
}
/* 店舗情報-メニューテーブル- */
.shop_menu_table thead th{
  width: 790px;
  padding:5px 0 5px 26px;
  color: #222;
  font-size: 14px;
  font-weight: normal;
  background: #f3e9dc url(../images/icon_bed.png) 4px center no-repeat;
  text-align: left;
  position: relative;
}

.shop_menu_table thead th img{
  position: absolute;
  top: 31px;
  left: 15px;
}

.shop_menu_table tbody th{
  padding:15px 0 10px 26px;
  color: #424242;
  background: url(../images/dot_green.png) 10px 20px no-repeat;
  font-size: 14px;
  text-align: left;
}
.shop_menu_table tbody ul{
  padding-left: 20px;
}
.shop_menu_table tbody ul:first-child{
  margin-bottom: 5px;
}
.shop_menu_table tbody li{
  margin: 2px;
  padding: 0px 4px;
  color: #ae2d5b;
  border: 1px solid #ae2d5b;
  border-radius: 3px;
  font-size: 13px;
}
.shop_menu_table .service_menu li{
  color: #754b47;
  border: 1px solid #754b47;
}
.shop_menu_table ul{
  width: 782px;
}
/* 店舗情報-詳細テーブル- */
.shop_info_table{
  width: 760px;
  margin: 25px auto 15px auto;
  color: #424242;
  font-size: 13px;
  border-top: 1px solid #b7b7b7;
  border-bottom: 1px solid #b7b7b7;
  border-collapse: collapse;
}

.shop_info_table tr:nth-child(even){
  background-color: #fbfbfb;
}
.shop_info_table tr{
  border-bottom: 1px solid #eeeeee;
}
.shop_info_table tr:last-child{
  border-bottom: 0;
}
.shop_info_table td{
  padding:12px 0 12px 20px;
}
.shop_info_table tr td:nth-child(odd){
  border-right: 1px solid #eeeeee;
}
.shop_info_table tr td a{
  color: #3b87d4;
}
/* モーダル内デザイン */
/* 左サイドランキング */
.select_area_wrap{
  position: relative;
}
.select_area{
  width: 586px;
  padding: 22px 0;
  background-color: #544c3e;
  position: absolute;
  z-index: 1;
  top: -22px;
  left: 185px;
}
.select_area ul{
  width: 540px;
  margin: auto;
}
.select_area ul li{
  margin: 2px 4px;
  padding: 4px 18px;
  background-color: #37322a;
  border: 1px solid #fff;
  color: #fff;
  font-size: 16px;
}
.select_area ul li a{
  color: #fff;
}
.select_area .active_style{
  color: #37322a;
  background-color: #fff;
  border: 1px solid #37322a;
}
.select_area .active_style a{
  color: #37322a;
}
.select_area img{
  position: absolute;
  top: 25px;
  left: -25px;
}
.swich{
  display: none;
}
.swich2{
  display: none;
}
.swich3{
  display: none;
}
.swich4{
  display: none;
}
.is_show{
  display: block;
}
/* 道案内 */
#photo_nav .modaal-content-container{
  width: 660px !important;
}
.photo_nav_title{
  width: 640px;
  margin:0 auto 5px auto;
  padding: 10px 0 9px 0;
  color: #fff;
  background-color: #50d789;
  font-size: 24px;
  text-align: center
}
.photo_nav_title img{
  margin-right: 5px;
}
.photo_nav_text{
  margin-top: 5px;
  padding: 14px 12px; 
  border: 1px solid #50d789;
  color: #282828;
  font-size: 16px;
}
.modaal-wrapper .modaal-close{
  display: none;
}
.modal_inner{
  position: relative;
}
.close{
  width: 48px;
  height: 48px;
  background: #ffffff;
  background: -moz-linear-gradient( #fefefe 0%, #f1eff9 80%, #e7e7e7 90%, #ffffff 100%);
  background: -webkit-gradient(linear, left top, left bottom, from(#fefefe), color-stop(80%, #f1eff9), color-stop(90%, #e7e7e7), to(#ffffff));
  background: -webkit-linear-gradient( #fefefe 0%, #f1eff9 80%, #e7e7e7 90%, #ffffff 100%);
  background: -o-linear-gradient( #fefefe 0%, #f1eff9 80%, #e7e7e7 90%, #ffffff 100%);
  background: -ms-linear-gradient( #fefefe 0%, #f1eff9 80%, #e7e7e7 90%, #ffffff 100%);
  background: linear-gradient( #fefefe 0%, #f1eff9 80%, #e7e7e7 90%, #ffffff 100%);
  border-radius: 50px;
  box-shadow:-6px 7px 6px -9px rgba(0,0,0,0.29);
  color: #222;
  font-size: 32px;
  position: absolute;
  top: -23px;
  right: -32px;
  z-index: 1;
}
/* 道案内スライダー */
.photo_nav_slider{
  width: 640px;
}
.photo_nav_slider .slick-arrow{
  width: 48px;
  height: 48px;
  background-color: #000;
  opacity: 0.8;
  z-index: 1;
}
.photo_nav_slider .slick-prev:hover,.photo_nav_slider .slick-prev:focus,.photo_nav_slider .slick-next:hover, .photo_nav_slider .slick-next:focus{
  background-color: #000;
}
.photo_nav_slider .slick-prev{
  left: 0;
}
.photo_nav_slider .slick-next{
  right: 0px;
}
.photo_nav_slider .slick-prev:before{
  line-height: 0.5em !important;
}
.modal_custom .modaal-container{
  width: 660px !important;
  padding: 10px;
}
.modal_custom .modaal-content-container{
  padding: 0;
}

/*フッター*/
footer{
  padding: 40px 0;
  background-color:#f3e9dc;
}
.footer_area{
  width: 1200px;
  margin: auto;
  font-size: 14px;
}
.footer_area h3{
  color: #a38a72;
  font-size: 16px;
  font-weight: bold;
}
.footer_area div{
  margin-bottom: 20px;
}
.footer_area li{
  border-left: 1px solid #222;
  margin-bottom: 5px;
}
.footer_area a{
  padding: 0 10px;
  color: #222;
}
.footer_area li a:hover{
  background-color: #a38a72;
  color: #fff;
}

