@charset "UTF-8";

/* 店舗詳細 スタイル */
.main_area{
  width: 1140px;
  margin: 20px auto 0 auto;
  padding-bottom: 28px;
}
.open_area_type{
  padding-bottom: 5px;
}
.open{
  margin-right: 10px;
  padding: 0 14px 0 30px ;
  background: url(../../images/shop_list/icon_door.png) 12px 5px no-repeat;
  border: 1px solid #50d789;
  border-radius: 15px;
}
.shop_kuchikomi_wrap{
  text-align: right;
}
.shop_kuchikomi_wrap p{
  padding: 12px 0 0 20px;
  background: url(../../images/shop_list/icon_list_ore.png) 2px 18px no-repeat;
  font-size: 12px;
}
.shop_kuchikomi_wrap img{
  margin: 0 5px;
}
.shop_kuchikomi_wrap p span{
  margin-right: 2px;
  font-size: 21px;
}
.shop_kuchikomi_wrap p a{
  padding: 0 5px;
  color: #50d789;
  border-bottom: 1px solid #50d789;
}
.okiniiri{
  padding:5px 14px 5px 32px;
  color: #777;
  font-size: 14px;
  background: url(../../images/shop_list/icon_heart_gry.png) 12px 8px no-repeat;
  border-radius: 5px;
  border: 1px solid #777;
}
.shop_name_wrap{
  padding-bottom: 6px;
}
.shop_name_wrap h2{
  color: #50d789;
  font-size: 30px;
}

.shop_detail_wrap {
  height:42px;
  background-color: #f7f3ed;
  box-shadow: 2px 2px 4px #ccc;
}
.shop_detail_wrap h3{
  font-size: 24px;
  font-weight: normal;
}
.shop_detail_wrap h3 span{
  margin-left: 10px;
  padding-left: 30px;
  font-size: 16px;
  font-weight: normal;
  background: url(../../images/shop_list/icon_clock_br.png) 6px 0 no-repeat;
}
.shop_detail_wrap h3 .womens{
  background: url(../../images/staff/icon_womens_brn.png) 6px 0 no-repeat;
}
.staff_count{
  margin-right: 20px;
  padding:2px 10px 2px 30px;
  font-size: 12px;
  background: #fff url(../../images/shop_list/icon_hell.png) 12px 10px no-repeat;
  border-radius: 20px;
  border: 1px solid #50d789;
}
.staff_count span{
  color: #ff55a5;
  font-size: 18px;
}
.shop_mai_inner_wrap{
  width: 1140px;
  margin: 11px auto 15px auto;
}
.shop_main_inner_left{
  height: 250px;
  border: 15px solid #efefef;
  margin-right: 30px;
}
.shop_main_inner_right{
  width: 320px;
  height: 250px;
  border: 10px solid #efefef;
}
/* 電話番号とSNSエリア */
.inner_right_area{
  margin-top: 5px;
  padding:24px 15px 0 15px;
  position: relative;
}
.right_area_top{
  padding-bottom: 8px;
  border-bottom: 1px solid #bfbfbf;
}
.right_area_top img{
  position: absolute;
  top:16px;
}
.right_area_top p{
  color: #000;
  font-size: 12px;
  letter-spacing: 0;
  position: absolute;
  top: 18px;
  left: 40px;
}
.right_area_top p span{
  color: #50d789;
  font-size: 14px;
}
.right_area_top h3{
  margin: 10px 0 0 36px;
  color: #50d789;
  font-size: 26px;
  font-weight: bold;
  letter-spacing: 0;
}
.right_area_bottom_left .official_site{
  padding:10px 8px 10px 35px;
  color: #000;
  font-size: 12px;
  background: url(../../images/shop_detail/icon_site_green.png) 14px 10px no-repeat;
  border: 1px solid #50d789;
  border-radius: 5px;
  line-height: 5.5em;
  box-shadow:1px 5px 0px -3px #cccccc;
}
.sns_title_wrap img{
  width: 42px;
  height: 1px;
  margin-top: 8px;
}
.sns_title_wrap p{
  padding: 0 5px;
  color: #000;
  font-size: 11px;
}
.right_area_bottom_left ul{
  margin-top: 9px;
}
.right_area_bottom_left li{
  margin-right: 3px;
}
.right_area_bottom_left li:last-child{
  margin-right: 0;
}
.right_area_bottom_right{
  margin-top:11px;
  padding: 0 5px;
}
.right_area_bottom_right a{
  padding-left: 17px;
  color: #000;
  font-size: 12px;
  background: url(../../images/shop_detail/icon_sp.png) 0 0 no-repeat;
  letter-spacing: 0;
}

.main_wrap_area{
  margin-top: 20px;
}
.contents_left_area{
  width: 790px;
  margin-right: 30px;
}

.section_wrap{
  margin-bottom: 15px;
}
.section_title{
  margin-bottom: 15px;
}


/* 口コミ */
.kuchikomi_title{
  background: #fbf9f4 url(../../images/pref/border_yel.jpg) left center no-repeat;
}
.kuchikomi_title h2{
  padding-left: 45px;
  background: url(../../images/pref/icon_kuchikomi.png) 14px 11px no-repeat;
  line-height: 1.9em;
}
.yellow{
  margin-right: 15px;
}
.kuchikomi_main_area .kensuu{
  margin-bottom: 11px;
  color: #222;
  font-size: 14px;
  text-align: center;
}
.kuchikomi_main_area .kensuu span{
  font-size: 18px;
}
.kuchikomi_area{
  border: 3px solid #ffbc08;
  margin-bottom: 15px;
}
.kuchikomi_gruop{
  width: 100%;
  margin-right: 0;
  margin-bottom: 0;
  border: 7px solid #fff;
  border-collapse:collapse;
}
.image_area{
  width: 120px;
  height: 160px;
  position: relative;
}
.image_area p{
  width: 120px;
  height: 21px;
  background-color: rgba(0,0,0,0.5);
  color: #fff;
  font-size: 14px;
  text-align: center;
  line-height: 1.9em;
  position: absolute;
  bottom: 0;
}
.inner_detail{
  width: 650px;
  padding-left: 20px;
}
.top_text_area p{
  margin-bottom: 22px;
  font-size: 12px;
}
.top_text_area p:first-child{
  margin-right: 22px;
  padding-left: 18px;
  background: url(../../images/shop_detail_review_list/icon_pen.png) 0 1px no-repeat;
  color: #222;
}
.top_text_area p:last-child{
  padding: 1px 0 0 18px;
  background: url(../../images/shop_detail_review_list/icon_men.png) 0 0 no-repeat;
  color: #525183;
  line-height: 1.5em;
}
.top_text_area p span{
  font-size: 14px;
}
.good_mark_wrap p{
  width: 42px;
  margin: 15px 2px 0 0;
  padding-right: 6px;
  background: url(../../images/shop_detail_review_list/bubble_bg.png) no-repeat;
  color: #3f3f3f;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0;
  text-align: center;
}
.good_mark_wrap a:hover{
  opacity: 0.75;
}
.inner_detail h4{
  margin-top: -15px;
  color: #ff5908;
  font-size: 18px;
  font-weight: bold;
}

.evaluation_wrap{
  height: 47px;
  margin-left: -10px;
  padding-left: 10px;
  background-color: #fbf9f4;
  line-height: 3.5em;
}
.evaluation_wrap p{
  color: #222;
  font-size: 14px;
  letter-spacing: 0;
}
.evaluation_wrap p span{
  font-weight: bold;
}
.evaluation_group{
  padding-left: 20px;
  background: url(../../images/shop_detail/icon_list_ora.png) 0 18px no-repeat;
}

.evaluation_group p{
  font-size: 14px;
}
.evaluation_group p span{
  font-size: 21px;
  font-weight: normal;
  margin-right: 10px;
}
.evaluation_group p img{
  margin-top: 13px;
}
.bottom_text_area{
  margin-top: 20px;
}
.bottom_text_area p{
  font-size: 14px;
}
.yellow{
  margin-right: 0;
}
.kuchikomi_area:last-child{
  margin-bottom: 20px;
}

/* 店舗情報-テーブル- */
.shop_detail_table_wrap{
  margin-top: 55px;
  border: 1px solid #a38a72;
  text-align: left;
}
/* 店舗情報-メニューテーブル- */
.shop_menu_table thead th{
  width: 790px;
  padding:5px 0 5px 26px;
  color: #222;
  font-size: 14px;
  font-weight: normal;
  background: #f3e9dc url(../../images/icon_bed.png) 4px center no-repeat;
  text-align: left;
  position: relative;
}

.shop_menu_table thead th img{
  position: absolute;
  top: 31px;
  left: 15px;
}

.shop_menu_table tbody th{
  padding:15px 0 10px 26px;
  color: #424242;
  background: url(../../images/shop_detail/dot_green.png) 10px 20px no-repeat;
  font-size: 14px;
  text-align: left;
}
.shop_menu_table tbody ul{
  padding-left: 20px;
}
.shop_menu_table tbody ul:first-child{
  margin-bottom: 5px;
}
.shop_menu_table tbody li{
  margin: 2px;
  padding: 0px 4px;
  color: #ae2d5b;
  border: 1px solid #ae2d5b;
  border-radius: 3px;
  font-size: 13px;
}
.shop_menu_table .service_menu li{
  color: #754b47;
  border: 1px solid #754b47;
}
.shop_menu_table ul{
  width: 782px;
}

/* 店舗情報-詳細テーブル- */
.shop_info_table{
  width: 760px;
  margin: 25px auto 15px auto;
  color: #424242;
  font-size: 13px;
  border-top: 1px solid #b7b7b7;
  border-bottom: 1px solid #b7b7b7;
  border-collapse: collapse;
}

.shop_info_table tr:nth-child(even){
  background-color: #fbfbfb;
}
.shop_info_table tr{
  border-bottom: 1px solid #eeeeee;
}
.shop_info_table tr:last-child{
  border-bottom: 0;
}
.shop_info_table td{
  padding:12px 0 12px 20px;
}
.shop_info_table tr td:nth-child(odd){
  border-right: 1px solid #eeeeee;
}
.shop_info_table tr td a{
  color: #3b87d4;
}


/* サイドコンテンツ */
.contents_right_area{
  width: 320px;
}
.side_contents_title{
  background-color: #fbf9f4;
  border-bottom: 1px solid #a38a72;
}
.side_contents_title h5{
  padding: 8px 0 7px 40px;
  background-color: #fbf9f4;
  color: #1d1d1d;
  font-size: 18px;
}
.side_contents_title .green{
  width: 83px;
}
/* 新人セラピスト */
.new_face_inner img{
  width: 100%;
}
.new_face_text{
  width: 100%;
}
.new_face_text p{
  width: 190px;
  padding: 3px 0;
  margin-bottom: 6px;
}
.new_face_text ul li{
  font-size: 14px;
}
.new_face_text ul li:first-child{
  font-size: 11px;
}
.new_face_text ul li .name{
  font-size: 16px;
}
/* お店PR動画 */
.movie_text{
  width: 195px;
  margin-top: 0;
  line-height: 1em;
  letter-spacing: 0;
}
.movie_text p{
  color: #222;
  font-size: 12px;
}
.movie_text p:first-child{
  margin: 0 0 5px 0;
  padding: 5px 0;
  color: #000;
  background-color: #fbf9f4;
  border: 1px solid #888;
  text-align: center;
}
.movie_text a{
  color: #c250d7;
  font-size: 14px;
}

/* 姉妹店情報 */
.sis_stor_area{
  border: 5px solid #fff;
  border-bottom: 0;
}
.sis_store{
  background: #a38a72 url(../../images/shop_detail/icon_link_pur.png) 12px 8px no-repeat;
}
.sis_stor_area ul li{
  padding: 10px 5px;
  background: url(../../images/shop_detail/arrow_right_gry.png) right center no-repeat;
  border-bottom: 1px solid #f3e9dc;
  line-height: 1.2em;
}
.sis_stor_area ul li:last-child{
  border-bottom: 0;
}
.sis_stor_area ul li a{
  color: #d03791;
  font-size:14px;
  display: block;
}

.sis_stor_area ul li a span{
  color: #222;
  font-size: 12px;
}


.modal_inner {
  width: 610px;
}
