@charset "UTF-8";
/* 即癒し一覧 スタイル */

/*チェックボックススタイル*/
.area_table div{
  margin-bottom: 3px;
}
.checkbox label:before{
  border: 1px solid #27d4df;
}
.checkbox input[type=checkbox]:checked + label:before{
  background-color: #27d4df;
}
.checkbox-1 label{
  margin-left: 4px;
}
.checkbox-1 label:before{
  border: 1px solid #27d4df;
}
.checkbox-1 label:nth-child(1n){
  margin-left: 0;
}
.checkbox-1 input[type=checkbox]:checked + label:before{
  background-color: #27d4df;
}
.kensuu{
  font-size: 14px;
  margin-bottom: 8px;
}
.kensuu span{
  font-size: 18px;
}

/* ラジオボタンスタイル */
/* ラベルのスタイル */
.radio label {
	padding-left:		20px;			/* ラベルの位置 */
	line-height:		16px;
	display:		inline-block;
	cursor:			pointer;
	position:		relative;
  margin-right: 14px;
}
.radio label:before{
  content:		'';
	width:			14px;			/* ボックスの横幅 */
	height:			14px;			/* ボックスの縦幅 */
	display:		inline-block;
	position:		absolute;
	left:0;
	background-color:	#fff;
	border-radius: 50px;
  border: 1px #27d4df solid;
}
/* 元のチェックボックスを表示しない */
.radio input[type=radio] {
	display:		none;
}
/* チェックした時のスタイル */
.radio input[type=radio]:checked + label:before {
	content:		'\02022';		/* チェックの文字 */
	font-size:	22px;			/* チェックのサイズ */
	color:			#27d4df;			/* チェックの色 */
	background-color:	#fff;			/* チェックした時の色 */
  border: 1px #27d4df solid;
  line-height: 0.6em;
}
/* テキストエリア */
.free_text_area{
  margin:15px auto;
  border: 0;
}
.diary_col_inner{
  width: 19.25%;
  margin: 0 3px
}
.diary_img{
  width: 100%;
}

