@charset "UTF-8";

/* 店舗詳細 スタイル */
.main_area{
  width: 1140px;
  margin: 20px auto 0 auto;
  padding-bottom: 28px;
}
.open_area_type{
  padding-bottom: 5px;
}
.open{
  margin-right: 10px;
  padding: 0 14px 0 30px ;
  background: url(../../images/shop_list/icon_door.png) 12px 5px no-repeat;
  border: 1px solid #50d789;
  border-radius: 15px;
}
.shop_kuchikomi_wrap{
  text-align: right;
}
.shop_kuchikomi_wrap p{
  padding: 12px 0 0 20px;
  background: url(../../images/shop_list/icon_list_ore.png) 2px 18px no-repeat;
  font-size: 12px;
}
.shop_kuchikomi_wrap img{
  margin: 0 5px;
}
.shop_kuchikomi_wrap p span{
  margin-right: 2px;
  font-size: 21px;
}
.shop_kuchikomi_wrap p a{
  padding: 0 5px;
  color: #50d789;
  border-bottom: 1px solid #50d789;
}
.okiniiri{
  padding:5px 14px 5px 32px;
  color: #777;
  font-size: 14px;
  background: url(../../images/shop_list/icon_heart_gry.png) 12px 8px no-repeat;
  border-radius: 5px;
  border: 1px solid #777;
}
.shop_name_wrap{
  padding-bottom: 6px;
}
.shop_name_wrap h2{
  color: #50d789;
  font-size: 30px;
}

.shop_detail_wrap {
  height:42px;
  background-color: #f7f3ed;
  box-shadow: 2px 2px 4px #ccc;
}
.shop_detail_wrap h3{
  font-size: 24px;
  font-weight: normal;
}
.shop_detail_wrap h3 span{
  margin-left: 10px;
  padding-left: 30px;
  font-size: 16px;
  font-weight: normal;
  background: url(../../images/shop_list/icon_clock_br.png) 6px 0 no-repeat;
}
.shop_detail_wrap h3 .womens{
  background: url(../../images/staff/icon_womens_brn.png) 6px 0 no-repeat;
}
.staff_count{
  margin-right: 20px;
  padding:2px 10px 2px 30px;
  font-size: 12px;
  background: #fff url(../../images/shop_list/icon_hell.png) 12px 10px no-repeat;
  border-radius: 20px;
  border: 1px solid #50d789;
}
.staff_count span{
  color: #ff55a5;
  font-size: 18px;
}
.shop_mai_inner_wrap{
  width: 1140px;
  margin: 11px auto 15px auto;
  position: relative;
}
.shop_main_inner_left{
  height: 250px;
  border: 15px solid #efefef;
  margin-right: 30px;
}
/* #sticky_continer{
  width: 320px;
  position: absolute;
  right: 0;
} */
.shop_main_inner_right{
  width: 320px;
  height: 250px;
  background-color: #fff;
  border: 10px solid #efefef;
}

/* 電話番号とSNSエリア */
.inner_right_area{
  margin-top: 5px;
  padding:24px 15px 0 15px;
  position: relative;
}
.right_area_top{
  padding-bottom: 8px;
  border-bottom: 1px solid #bfbfbf;
}
.right_area_top img{
  position: absolute;
  top:16px;
}
.right_area_top p{
  color: #000;
  font-size: 12px;
  letter-spacing: 0;
  position: absolute;
  top: 18px;
  left: 40px;
}
.right_area_top p span{
  color: #50d789;
  font-size: 14px;
}
.right_area_top h3{
  margin: 10px 0 0 36px;
  color: #50d789;
  font-size: 26px;
  font-weight: bold;
  letter-spacing: 0;
}
.right_area_bottom_left .official_site{
  padding:10px 8px 10px 35px;
  color: #000;
  font-size: 12px;
  background: url(../../images/shop_detail/icon_site_green.png) 14px 10px no-repeat;
  border: 1px solid #50d789;
  border-radius: 5px;
  line-height: 5.5em;
  box-shadow:1px 5px 0px -3px #cccccc;
}
.sns_title_wrap img{
  width: 42px;
  height: 1px;
  margin-top: 8px;
}
.sns_title_wrap p{
  padding: 0 5px;
  color: #000;
  font-size: 11px;
}
.right_area_bottom_left ul{
  margin-top: 9px;
}
.right_area_bottom_left li{
  margin-right: 3px;
}
.right_area_bottom_left li:last-child{
  margin-right: 0;
}
.right_area_bottom_right{
  margin-top:11px;
  padding: 0 5px;
}
.right_area_bottom_right a{
  padding-left: 17px;
  color: #000;
  font-size: 12px;
  background: url(../../images/shop_detail/icon_sp.png) 0 0 no-repeat;
  letter-spacing: 0;
}


.contents_left_area{
  width: 790px;
  margin-right: 30px;
}

.section_wrap{
  margin-bottom: 15px;
}
.section_title{
  margin-bottom: 5px;
}
/* お得なクーポン */
.otoku-coupon_title .red{
  width: 106px;
  height: 24px;
  margin-right: 15px;
}
.otoku-coupon_innner{
  border: 6px solid #cc042f;
}
.otoku-coupon_group{
  border: 4px solid #fff;
}

.coupon_top_area{
  margin-bottom: 10px;
  background: url(../../images/shop_detail/coupon_big_bg.png) no-repeat;
}
.coupon_top_area h5{
  padding:31px 0 12px 0;
  color: #cc042f;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}
.coupon_top_area p{
  width: 620px;
  margin-left: 64px;
  padding: 18px 0;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 1.3em;
}
.coupon_top_area .coupon_shop_name{
  width: 650px;
  height: 33px;
  margin:auto;
  padding: 0;
  background-color: #cc042f;
  border-radius: 6px;
  color: #fff;
  font-size: 16px;
  text-align: center;
  line-height: 2.2em;
}
.coupon_bottom_area{
  width: 760px;
  margin: auto;
}
.bottom_area_left p{
  font-size: 11px;
  letter-spacing: 0;
}
.bottom_area_left p:first-child{
  width: 80px;
}
.bottom_area_left p:last-child{
  width: 370px;
}
.bottom_area_right {
  padding-left: 11px;
}

.bottom_area_right p{
  width: 144px;
  height: 38px;
  margin-right: 5px;
  padding-top: 4px;
  text-align: center;
  color: #777777;
  border: 1px solid #d5d5d5;
  font-size: 12px;
  line-height: 1.3em;
}
/* 料金メニュー */
.price_menu_inner{
  width: 760px;
  margin: auto;
}
.price_menu_inner p{
  margin-bottom: 15px;
  padding: 10px 6px;
  color: #222;
  font-size: 15.5px;
  letter-spacing: 0;
}
.price_table h3{
  margin-bottom: 15px;
  padding: 6px 0 5px 54px;
  color: #222;
  font-size: 21px;
}
.price_menu_inner table{
  width: 100%;
  border-collapse: collapse;
  color: #222;
  text-align: left;
}
.price_menu_inner table tr{
  border-bottom: 1px solid #ccc;
}
.price_menu_inner table th{
  padding: 10px 0 10px 16px;
  font-size: 16px;
  font-weight:normal;
  text-align: left;
}
.price_menu_inner table td{
  padding: 10px 0 10px 16px;
  text-align: left;
}
/* サービス内容table */
.service_menu_t{
  padding-bottom: 30px;
}
.service_menu_t h3{
  background: #fff1f5 url(../../images/shop_detail_price/icon_service.jpg) no-repeat;
}
.service_menu_t table th{
  width: 140px;
  background: url(../../images/shop_detail_price/right_arrow_pink.png) right center no-repeat;
}
.service_menu_t table td{
  font-size: 14px;
}
.service_menu_t table td ul li{
  margin: 2px;
  padding: 3px 10px;
  border: 1px solid #ff779d;
  border-radius: 5px;
}
.service_menu_t table td p{
  margin: 0;
  padding:10px 0 0 0;
}
.service_menu_t table td p span{
  font-size: 14px;
}
.service_menu_t table .multiple_lines{
  vertical-align:top;
  padding-top: 13px;
  background: url(../../images/shop_detail_price/right_arrow_pink.png) right 19px no-repeat;
}
/* 料金表table */
.price_menu h3{
  margin-bottom: 25px;
  background: #fffbf1 url(../../images/shop_detail_price/icon_price.jpg) no-repeat;
}
.price_menu table{
  margin-bottom: 25px;
}
.price_menu table thead th{
  padding:0 0 0 35px;
  background: url(../../images/shop_detail_price/price_menu_icon.png) 5px 4px no-repeat;
  font-size: 18px;
  font-weight: bold;
}
.price_menu table tbody th{
  width: 200px;
  background: url(../../images/shop_detail_price/right_arrow_brown.png) right center no-repeat;
}
.price_menu table tbody td{
  font-size: 16px;
}
.price_menu table tbody tr:nth-child(odd) {
    background-color: #fbfbfb;
}


/* サイドコンテンツ */
.contents_right_area{
  width: 320px;
}
.side_contents_title{
  background-color: #fbf9f4;
  border-bottom: 1px solid #a38a72;
}
.side_contents_title h5{
  padding: 8px 0 7px 40px;
  background-color: #fbf9f4;
  color: #1d1d1d;
  font-size: 18px;
}
.side_contents_title .green{
  width: 83px;
}
/* 新人セラピスト */
.new_face_inner img{
  width: 100%;
}
.new_face_text{
  width: 100%;
}
.new_face_text p{
  width: 190px;
  padding: 3px 0;
  margin-bottom: 6px;
}
.new_face_text ul li{
  font-size: 14px;
}
.new_face_text ul li:first-child{
  font-size: 11px;
}
.new_face_text ul li .name{
  font-size: 16px;
}
/* お店PR動画 */
.movie_text{
  width: 195px;
  margin-top: 0;
  line-height: 1em;
  letter-spacing: 0;
}
.movie_text p{
  color: #222;
  font-size: 12px;
}
.movie_text p:first-child{
  margin: 0 0 5px 0;
  padding: 5px 0;
  color: #000;
  background-color: #fbf9f4;
  border: 1px solid #888;
  text-align: center;
}
.movie_text a{
  color: #c250d7;
  font-size: 14px;
}

/* 姉妹店情報 */
.sis_stor_area{
  border: 5px solid #fff;
  border-bottom: 0;
}
.sis_store{
  background: #a38a72 url(../../images/shop_detail/icon_link_pur.png) 12px 8px no-repeat;
}
.sis_stor_area ul li{
  padding: 10px 5px;
  background: url(../../images/shop_detail/arrow_right_gry.png) right center no-repeat;
  border-bottom: 1px solid #f3e9dc;
  line-height: 1.2em;
}
.sis_stor_area ul li:last-child{
  border-bottom: 0;
}
.sis_stor_area ul li a{
  color: #d03791;
  font-size:14px;
  display: block;
}

.sis_stor_area ul li a span{
  color: #222;
  font-size: 12px;
}


.modal_inner {
  width: 610px;
}
