@charset "UTF-8";

.text{
  margin-left: 5px;
  color: #222;
  font-size: 11px;
  line-height: 1.5em;
  letter-spacing: 0em;
}
.text span{
  font-size: 16px;
  font-weight: bold;
}
.coupon_text_area .pick_up{
  width: 44px;
  height: 44px;
  margin-top: 2px;
}
.coupon_text_area .icon_style{
  position: absolute;
  right: -1px;
}


/* 検索エリア */
.search_wrap{
  padding: 5px 0 10px 0;
  background-color: #efffeb;
}
.search_wrap h2{
  text-align: center;
  padding:9px 0 8px 0;
  font-size: 1.6rem;
}
.search_wrap h2 img{
  width: 20px;
}
.search_wrap img{
  margin-right: 5px;
}
.main_search_wrap{
  width: 98%;
  margin: 10px auto;
  background-color: #fff;
  border: 1px solid #a38a72;
  border-collapse: collapse;
  color: #613d20;
  font-size: 1.6rem;
}
.main_search_wrap tr{
  border-bottom: 1px solid #a38a72;
}
.main_search_wrap th{
  display: flex;
}
.main_search_wrap th img{
  width: 38.5px;
  height: 36px;
  margin-right: 0;
  padding: 2px;
}
.main_search_wrap td:nth-child(2n){
  width: 100%;
  padding-left: 12px;
}
.main_search_wrap td:nth-child(3n){
  padding-right: 10px;
}
.main_search_wrap td a{
  display: flex;
}
.main_search_wrap td img{
  width: 24px;
  margin: 5px 0 0 0;
}
/* エリアから探す */
.main_search_wrap .area_search_group{
  display: table-cell;
  padding-left: 80px;
  font-size: 10px;
  display: none;
}
.area_search_group {
  height: 24px;
}
.area_search_group ul li{
  border-right: 1px solid #555555;
}
.area_search_group ul li:last-child{
  border-right: 0;
}
.area_search_group ul li a{
  padding: 0 3px;
}
.area_search_group .group_1 a{
  color: #6e68f0;
}
.area_search_group .group_2 a{
  color: #c268f0;
}
.area_search_group .group_3 a{
  color: #f068b5;
}
.area_search_group .group_4 a{
  color: #f06868;
}
.area_search_group .group_5 a{
  color: #ff8828;
}
.area_search_group ul li a:hover{
  color: #fff;
}
.area_search_group .group_1 a:hover{
  background-color: #6e68f0;
}
.area_search_group .group_2 a:hover{
  background-color: #c268f0;
}
.area_search_group .group_3 a:hover{
  background-color: #f068b5;
}
.area_search_group .group_4 a:hover{
  background-color: #f06868;
}
.area_search_group .group_5 a:hover{
  background-color: #ff8828;
}
/* 施術から探す */
.main_search_wrap .menu_search_group{
  display: none;
}
.main_search_wrap .menu_type{
  padding: 5px;
  font-size: 10px;
  letter-spacing: 0;
}
.main_search_wrap .menu_type li a{
  margin: 3px;
  padding: 0 3px;
  color: #ae2d5b;
  border: 1px solid #ae2d5b;
  border-radius: 3px;
}
/* こだわり検索 */
.commitment_search_group{
  display: none;
}
/* 予算から探す */
.budget_search_group{
  display: none;
}
.budget_search_group ul{
  padding: 3px 10px;
  font-size: 10px;
}
.budget_search_group ul li a{
  padding: 5px;
  color: #222;
}
.budget_search_group ul li a:hover{
  background-color: #a38a72;
}
.budget_search_group ul li{
  border-bottom: 1px solid #a38a72;
}
.budget_search_group ul li:last-child{
  border-bottom:0;
}
.main_search_wrap form{
  width: 98%;
  margin: auto;
  border: 1px solid #a38a72;
  border-radius: 5px;
}
/* お得クーポン */
.otoku-coupon_title a{
  margin-top: 8px;
}
.otoku-coupon_innner{
  border: 5px solid #cc042f;
  margin-bottom: 7.5px;
}
.otoku-coupon_group{
  border: 2px solid #fff;
}
.otoku-coupon{
  border: 1px solid #f8cad4;
}
.otoku-coupon_left{
  width: 75%;
  padding: 5px 0 0 5px;
  border-right: 2px dotted #f8cad4;
  position: relative;
}
.otoku-coupon_left::before{
  content: "";
  border-left: 2px solid #cc042f;
  height: 90%;
  position: absolute;
  top: 5%;
  left: 0.2%;
}
.otoku-coupon_left h5{
  color: #cc042f;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.2em;
  letter-spacing: 0em;
}
.otoku-coupon_left p{
  font-size: 1.2rem;
  letter-spacing: 0;
}
.otoku-coupon_right {
  width: 25%;
  margin: 0 auto 0 auto;
  padding: 2.5px;
}
.otoku-coupon_right img{
  width: 100%;
}
.otoku-coupon_right a{
  display: flex;
  height: 40px;
  margin-bottom: 2px;
}
.otoku-coupon_right p{
  text-align: center;
  color: #777777;
  border: 1px solid #d5d5d5;
  font-size: 10px;
  letter-spacing: 0em;
}
.otoku-coupon_left .shop_link{
  padding:2px 0 0 18px;
  color: #4894cb;
  background: url(../../images/icon_shop_blue_sp.png) left 2px no-repeat;
  background-size: 15px;
  font-size: 1rem;
  line-height: 1.6em;
}
.shop_link span{
  color: #222;
}
/* 写メ日記 */
.photo_diary_area{
  margin-bottom: 7.5px;
  border: 5px solid #fb724d;
}

/* リアルタイム速報 */

.sokuhou_inner_wrap{
  border: 5px solid #6e68f0;
  border-top:0;
  margin-bottom: 7.5px;
}
.sokuhou_inner{
  padding: 5px;
  border-bottom: 1px solid #ebebeb;
  color: #222;
  position: relative;
}
.sokuhou_inner::after{
  content: "";
  border-bottom: 20px solid #ebebeb;
}
.sokuhou_inner h3{
  color: #6e68f0;
  font-size: 14px;
  font-weight: normal;
}
.sokuhou_inner p{
  font-size: 1.2rem;
  line-height: 1.2em;
}
.sokuhou_inner .badge_date_wrap{
  margin-bottom: 4px;
  font-size: 10px;
  line-height: 2em;
}
.sokuhou_inner a{
  position: absolute;
  top: 45%;
  right: 2%;
}
.sokuhou_inner a img{
  width: 10px;
}
.detail{
  font-size: 10px;
}
/* 口コミ */
.kuchikomi_area{
  border: 6px solid #ffbc08;
  padding: 2px;
}
.kuchikomi_inner{
  margin-bottom: 2px;
  padding-bottom: 5px;
  background-color: #fbf9f4;
  color: #222;
}
.top_area{
  position: relative;
  margin-bottom: 3px;
}
.top_area img{
  margin: 5px;
  height: 40px;
}
.top_area .date{
  font-size: 10px;
}
.top_area h3{
  color: #ff5908;
  font-size: 14px;
}
.date_title_wrap{
  margin-top:5px;
}
.rating_star_wrap{
  font-size: 10px;
}
.rating_star_wrap img{
  margin: 0 5px;
  height: 18px;
}
.rating_star_wrap{
  line-height: 2.2em;
}
.top_area .arrow_area img{
  width: 8px;
  height: auto;
  margin: 0;
  position: absolute;
  top: 50%;
  right: 2%;
}
.shop_info_area{
  padding-left: 8px;
  font-size: 12px;
}
.shop_info_area p{
  font-size: 10px;
}
.shop_info_area  a{
  color: #4894cb;
}

.text-center{
  text-align: center;
}
.evaluation_group{
  background: #fbf9f4 url(../../images/pref/check.png) 30px 20px no-repeat;
}

.evaluation_group p{
  margin-left: 60px;
  font-size: 12px;
}
.evaluation_group img{
  margin-left: 60px;
}
.detail_more_btn {
  width: 87px;
  height: 26px;
  padding: 4px 19px 4px 5px;
  background: #ff5908 url(../../images/pref/right_arrow_wht.png) 76px center no-repeat;
  box-shadow:0px 2px 0px 0px #dcdcdc;
  color: #fff;
  font-size: 12px;
  line-height: 2.4em;
  text-align: center;
}
/* 動画 de お店PR */
.shop_movie_area{
  height: 263px;
  padding: 4px;
  border: 5px solid #c250d7;
  border-top: 0;
}
/* 新規掲載店 */
.new_shop_inner_wrap{
  border: 5px solid #00b4ff;
  border-top: 0;
}
.new_shop_inner .sp_badge{
  margin: 0 5px;
}
.new_shop{
  border: 1px solid #fff;
  border-collapse:collapse;
}
.new_shop_inner h3{
  color: #00b4ff;
}

.new_shop tbody a{
  color: #4894cb;
}
/* ランキング */
.ranking_inner{
  border: 5px solid #50d789;
  padding: 3px;
}
.ranking_area{
  width: 100%;
}
.ranking_area h3{
  margin-bottom: 5px;
  padding: 5px 0 5px 30px;
  background-color: #fbf9f4;
  border-top: 1px solid #f3e9dc; 
  border-bottom: 1px solid #f3e9dc; 
  font-size: 1.6rem;
  color: #1d1d1d;
}

/* お店ランキング */
.shop_ranking{
  background: #fbf9f4 url(../../images/pref/shop_ranking.png) 6px 6px no-repeat;
  background-size: 20px;
  position: relative;
}
.shop_ranking .shop_ranking_more{
  position: absolute;
  top:7px;
  right:5px;
}
.ranking_area .img_wrap{
  position: relative;
}
.ranking_area .main_img{
  width: 100%;
}
.ranking_area .ranking_no{
  width: 20%;
  position: absolute;
  top: 2%;
  left: 2%;
}
.ranking_area .aggregate{
  margin: 10px 0 20px 0;
  font-size: 12px;
  color: #1d1d1d;
  text-align: center;
}
.ranking_area .aggregate:nth-child(2n){
  margin-bottom: 6px;
}
.ranking_area  .card {
  margin: 0 1px;
}
.ranking_area  .card a{
  color: #4894cb;
  font-size: 10px;
}

/* セラピストランキング */
.therapist_ranking{
  background: #fbf9f4 url(../../images/pref/icon_women_pink.png) 8px 4px no-repeat;
  background-size: 14px;
  position: relative;
}
.therapist_ranking_more{
  position: absolute;
  top:8px;
  right:8px;
}
.right_ranking{
  border: 3px solid #fff;
  border-bottom: 0;
}
.right_ranking tbody td a{
  color: #4894cb;
  font-size: 12px;
}
.right_ranking tbody td{
  font-size: 11px;
}
.right_ranking .name{
  margin-right: 0;
  color: #e64d95;
  font-size: 14px;
  font-weight: bold;
}
.right_ranking .size{
  font-size: 12px;
  margin-right: 0;
}
/* おすすめ検索 */
.recommend_title{
  margin-bottom: 11.5px;
  padding: 0;
  font-size: 1.6rem;
  text-align: center;
}
/* おすすめ検索 */
.col_2{
  width: 94%;
  margin: auto;
}
.col_innner{
  width: 48.5%;
  height: 109px;
  margin-right:3%;
}
.col_innner:nth-child(even){
  margin-right: 0;
}
.col_innner:nth-child(-n + 2){
  margin-bottom: 8px;
}
.col_innner a{
  position: relative;
}
.col_innner a img{
  width: 100%;
  height: auto;
}
.col_innner a p{
  width: 100%;
  padding: 5px 0;
  background-color: #000;
  opacity: 0.8;
  color: #fff;
  font-size: 10px;
  font-family: "ＭＳ Ｐゴシック";
  letter-spacing: 0em;
  text-align: center;
  position: absolute;
  bottom: 7px;
}














