@charset "UTF-8";

/* 店舗詳細 スタイル */
.main_area{
  width: 1140px;
  margin: 20px auto 0 auto;
  padding-bottom: 28px;
}
.open_area_type{
  padding-bottom: 5px;
}
.open{
  margin-right: 10px;
  padding: 0 14px 0 30px ;
  background: url(../../images/shop_list/icon_door.png) 12px 5px no-repeat;
  border: 1px solid #50d789;
  border-radius: 15px;
}
.shop_kuchikomi_wrap{
  text-align: right;
}
.shop_kuchikomi_wrap p{
  padding: 12px 0 0 20px;
  background: url(../../images/shop_list/icon_list_ore.png) 2px 18px no-repeat;
  font-size: 12px;
}
.shop_kuchikomi_wrap img{
  margin: 0 5px;
}
.shop_kuchikomi_wrap p span{
  margin-right: 2px;
  font-size: 21px;
}
.shop_kuchikomi_wrap p a{
  padding: 0 5px;
  color: #50d789;
  border-bottom: 1px solid #50d789;
}
.okiniiri{
  padding:5px 14px 5px 32px;
  color: #777;
  font-size: 14px;
  background: url(../../images/shop_list/icon_heart_gry.png) 12px 8px no-repeat;
  border-radius: 5px;
  border: 1px solid #777;
}
.shop_name_wrap{
  padding-bottom: 6px;
}
.shop_name_wrap h2{
  color: #50d789;
  font-size: 30px;
}

.shop_detail_wrap {
  height:42px;
  background-color: #f7f3ed;
  box-shadow: 2px 2px 4px #ccc;
}
.shop_detail_wrap h3{
  font-size: 24px;
  font-weight: normal;
}
.shop_detail_wrap h3 span{
  margin-left: 10px;
  padding-left: 30px;
  font-size: 16px;
  font-weight: normal;
  background: url(../../images/shop_list/icon_clock_br.png) 6px 0 no-repeat;
}
.shop_detail_wrap h3 .womens{
  background: url(../../images/staff/icon_womens_brn.png) 6px 0 no-repeat;
}
.staff_count{
  margin-right: 20px;
  padding:2px 10px 2px 30px;
  font-size: 12px;
  background: #fff url(../../images/shop_list/icon_hell.png) 12px 10px no-repeat;
  border-radius: 20px;
  border: 1px solid #50d789;
}
.staff_count span{
  color: #ff55a5;
  font-size: 18px;
}
.shop_mai_inner_wrap{
  width: 1140px;
  margin: 11px auto 15px auto;
  position: relative;
}
.shop_main_inner_left{
  height: 250px;
  border: 15px solid #efefef;
  margin-right: 30px;
}
#sticky_continer{
  width: 320px;
  position: absolute;
  right: 0;
}
.shop_main_inner_right{
  width: 320px;
  height: 250px;
  background-color: #fff;
  border: 10px solid #efefef;
  position: -webkit-sticky;/* Safariに対応する */
  position: sticky;/* 要素を固定/解除する */
  top: 30px;
}
/* スクロール時要素を固定/解除する_IE */
.shop_main_inner_right.sticky-fixed.is-sticky {
  position: fixed;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}

.shop_main_inner_right.sticky-fixed.is-sticky:not([style*="margin-top"]) {
  margin-top: 0 !important;
}

.shop_main_inner_right.sticky-fixed.is-sticky:not([style*="margin-bottom"]) {
  margin-bottom: 0 !important;
}

.shop_main_inner_right.sticky-fixed.is-absolute {
  position: absolute;
}
/* 電話番号とSNSエリア */
.inner_right_area{
  margin-top: 5px;
  padding:24px 15px 0 15px;
  position: relative;
}
.right_area_top{
  padding-bottom: 8px;
  border-bottom: 1px solid #bfbfbf;
}
.right_area_top img{
  position: absolute;
  top:16px;
}
.right_area_top p{
  color: #000;
  font-size: 12px;
  letter-spacing: 0;
  position: absolute;
  top: 18px;
  left: 40px;
}
.right_area_top p span{
  color: #50d789;
  font-size: 14px;
}
.right_area_top h3{
  margin: 10px 0 0 36px;
  color: #50d789;
  font-size: 26px;
  font-weight: bold;
  letter-spacing: 0;
}
.right_area_bottom_left .official_site{
  padding:10px 8px 10px 35px;
  color: #000;
  font-size: 12px;
  background: url(../../images/shop_detail/icon_site_green.png) 14px 10px no-repeat;
  border: 1px solid #50d789;
  border-radius: 5px;
  line-height: 5.5em;
  box-shadow:1px 5px 0px -3px #cccccc;
}
.sns_title_wrap img{
  width: 42px;
  height: 1px;
  margin-top: 8px;
}
.sns_title_wrap p{
  padding: 0 5px;
  color: #000;
  font-size: 11px;
}
.right_area_bottom_left ul{
  margin-top: 9px;
}
.right_area_bottom_left li{
  margin-right: 3px;
}
.right_area_bottom_left li:last-child{
  margin-right: 0;
}
.right_area_bottom_right{
  margin-top:11px;
  padding: 0 5px;
}
.right_area_bottom_right a{
  padding-left: 17px;
  color: #000;
  font-size: 12px;
  background: url(../../images/shop_detail/icon_sp.png) 0 0 no-repeat;
  letter-spacing: 0;
}


.contents_left_area{
  width: 790px;
  margin-right: 30px;
}

.section_wrap{
  margin-bottom: 15px;
}
.section_title{
  margin-bottom: 5px;
}
/* お得なクーポン */
.otoku-coupon_title{
  background: #fbf9f4 url(../../images/pref/border_red.jpg) left center no-repeat;
}
.otoku-coupon_title h2{
  padding-left: 45px;
  background: url(../../images/pref/icon_coupon_red.png) 14px 10px no-repeat;
}
.otoku-coupon_title .red{
  width: 106px;
  height: 24px;
  margin-right: 15px;
}
.otoku-coupon_innner{
  border: 6px solid #cc042f;
}
.otoku-coupon_group{
  border: 4px solid #fff;
}

.coupon_top_area{
  margin-bottom: 10px;
  background: url(../../images/shop_detail/coupon_big_bg.png) no-repeat;
}
.coupon_top_area h5{
  padding:31px 0 12px 0;
  color: #cc042f;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}
.coupon_top_area p{
  width: 620px;
  margin-left: 64px;
  padding: 18px 0;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 1.3em;
}
.coupon_top_area .coupon_shop_name{
  width: 650px;
  height: 33px;
  margin:auto;
  padding: 0;
  background-color: #cc042f;
  border-radius: 6px;
  color: #fff;
  font-size: 16px;
  text-align: center;
  line-height: 2.2em;
}
.coupon_bottom_area{
  width: 760px;
  margin: auto;
}
.bottom_area_left p{
  font-size: 11px;
  letter-spacing: 0;
}
.bottom_area_left p:first-child{
  width: 80px;
}
.bottom_area_left p:last-child{
  width: 370px;
}
.bottom_area_right {
  padding-left: 11px;
}

.bottom_area_right p{
  width: 144px;
  height: 38px;
  margin-right: 5px;
  padding-top: 4px;
  text-align: center;
  color: #777777;
  border: 1px solid #d5d5d5;
  font-size: 12px;
  line-height: 1.3em;
}

/* リアルタイム速報 */

.sokuhou_area{
  border: 1px solid #6e68f0;
  margin-bottom: 15px;
}
.sokuhou{
  width: 788px;
  border: 1px solid #fff;
  border-collapse:collapse;
}
.sokuhou_title_wrap{
  background-color: #6e68f0;
}
.purple{
  width: 82px;
  display: flex;
  margin-left: 10px;
}
.sokuhou_title{
  padding-left: 22px;
  background: #6e68f0 url(../../images/pref/icon_clock.png) 7px 7px no-repeat;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  text-align: left;
  line-height: 2.3em;
  position: relative;
}
.sokuhou_title .dot{
  position: relative;
  top: 22px;
}
.sokuhou tbody td{
  color: #222;
  font-size: 14px;
  padding: 5px;
  border-bottom: 1px solid #ebebeb;
}

.sokuhou tbody a{
  color: #6e68f0;
  font-size: 16px;
}

.sokuhou .badge{
  width: 85px;
  height: 20px;
  padding-top: 0;
  font-size: 14px;
  margin-left: 0;
}

/* 店舗画像 3カラム */
.shop_card_inner_wrap{
  width: 258px;
  margin-right: 8px;
  position: relative;
}
.shop_card_inner_wrap:nth-child(3n){
  margin-right: 0;
}

.card_img_area{
  height: 145px;
  border: 1px solid #ceb57d;
}
.card_img_area img{
  border: 1px solid #fff;
}
.shop_card_inner_wrap .icon_zoom{
  position: absolute;
  right: 5px;
  bottom: 50px;
  border: 0;
}
.card-content{
  margin-top: 1px;
  background-color: #fbf9f4
}
.card-content p{
  padding: 6px 8px;
  color: #222;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 1.2em;
}


/* 写メ日記 */
.photo_diary_title{
  background: #fbf9f4 url(../../images/shop_detail/border_oramge.jpg) left center no-repeat;
}
.photo_diary_title h2{
  padding-left: 45px;
  background: url(../../images/shop_detail/icon_camera_ora.png) 14px 3px no-repeat;
}
.orange {
  width: 82px;
  margin-right: 15px;
}

.photo_diary_innner{
  border: 6px solid #fb724d;
}
.photo_diary_group{
  border: 4px solid #fff;
}
.photo_diary_card{
  margin-right: 5px;
}
.photo_diary_card:nth-child(5n){
  margin-right: 0;
}
.photo_diary_img_area{
  width: 150px;
  height: 150px;
  border: 1px solid #fee3db;
}
.photo_diary_img_area img{
  border: 2px solid #fff;
}
.photo_diary_text {
  text-align: center;
}
.photo_diary_text p{
  font-size: 14px;
  font-weight: bold;
}
.photo_diary_text p:nth-child(1n){
  color: #e64d95;
}
.photo_diary_text p:nth-child(2n){
  color: #fb724d;
}
.photo_diary_text p span{
  color: #1d1d1d;
  font-size: 11px;
}
/* 即癒し */
.iyashi{
  margin-bottom: 10px;
  background: #fbf9f4 url(../../images/pref/border_blu.jpg) left center no-repeat;
}
.iyashi h2{
  margin-top: 5px;
  padding-left: 45px;
  background: url(../../images/pref/icon_hourglass.png) 20px 5px no-repeat;
  font-size: 24px;
  font-weight: bold;
}

.date_time{
  margin: 12px 0 0 5px;
  font-size: 16px;
  font-family: "ＭＳ Ｐゴシック";
}

.count{
  margin: auto 5px;
  padding: 4px 12px;
  color: #fff;
  background-color: #27d4df;
  border-radius: 5px;
  font-size: 18px;
  font-family: "メイリオ";
  line-height: 1.2em;
}
.sky{
  width: 82px;
  margin-right: 15px;
}

/* 即癒し-5カラム- */
.iyashi_area{
  border: 6px solid #27d4df;
}

.iyashi_innner{
  border: 6px solid #fff;
}
.card{
  width: 149px;
  height: 282px;
  text-align: center;
  border: 1px solid #d9e7e8;
  background-color: #fbf9f4;
  margin-right: 5px;
}
.card:nth-child(5n){
  margin-right: 0;
}
.card_innner{
  border: 3px solid #fbf9f4;
}
.time{
  text-align: center;
  color: #27d4df;
  background-color: #effeff;
  border: 1px solid #27d4df;
  font-size: 14px;
  font-weight: bold;
}
.card_innner img{
  width: 140px;
}
.card_text_area{
  text-align: center;
  color: #222;
  font-size: 10px;
  line-height: 1.4em;
}
.card_text_area h5{
  color: #e64d95;
  font-size: 14px;
  font-weight: bold;
}

.card_text_area h5 span{
  margin-left: 7px;
  color: #1d1d1d;
  font-size: 11px;
}
.card_text_area p{
  padding: 2px 0;
}
.card_text_area .cach_copy{
  color: #e64d95;
  font-size: 12px;
  background-color: #fff;
  border: 1px solid  #e64d95;
}

/* セラピスト */
.therapist_title{
  background: #fbf9f4 url(../../images/shop_detail/border_pink.jpg) left center no-repeat;
}
.therapist_title h2{
  margin-top: 5px;
  padding-left: 45px;
  background: url(../../images/shop_detail/icon_women_pink.png) 17px 3px no-repeat;
}
.pink{
  width: 121px;
  margin-right: 15px;
}

.therapist_innner{
  border: 6px solid  #e64d95;
}
.therapist_group{
  border: 4px solid #fff;
}
.therapist_card{
  margin-right: 5px;
  height: 220px;
  background-color: #fbf9f4;
  border: 1px solid #d9e7e8;
}
.therapist_card:nth-child(5n){
  margin-right: 0;
}
.therapist_img_area{
  width: 148px;
  height: 190px;
}
.therapist_img_area img{
  border: 2px solid #fbf9f4;
}
.therapist_text {
  text-align: center;
}
.therapist_text p{
  padding-top: 5px;
  color: #e64d95;
  font-size: 14px;
  font-weight: bold;
}

.therapist_text p span{
  color: #1d1d1d;
  font-size: 11px;
}

/* 口コミ */
.kuchikomi_title{
  background: #fbf9f4 url(../../images/pref/border_yel.jpg) left center no-repeat;
}
.kuchikomi_title h2{
  padding-left: 45px;
  background: url(../../images/pref/icon_kuchikomi.png) 14px 11px no-repeat;
  line-height: 1.9em;
}
.yellow{
  margin-right: 15px;
}
.kuchikomi_area{
  border: 6px solid #ffbc08;
}
.kuchikomi_gruop{
  width: 100%;
  margin-right: 0;
  margin-bottom: 0;
  border: 4px solid #fff;
  border-collapse:collapse;
}

.kuchikomi_gruop tr{
  border-bottom: 4px solid #fff;
}

.kuchikomi_gruop h4{
  color: #ff5908;
  font-size: 18px;
  font-weight: bold;
}

.kuchikomi_gruop p{
  font-size: 12px;
}
.kuchikomi_gruop span{
  font-size: 14px;
}

.kuchikomi_gruop td{
  padding: 5px 0 5px 10px;
  background-color: #fbf9f4;
  letter-spacing: 0;
}
.kuchikomi_gruop td:nth-child(2n){
  width: 40%;
  text-align: right;
}
.kuchikomi_gruop img{
  padding: 0 5px;
}
.kuchikomi_gruop td:nth-child(3n){
  padding: 0 10px;
  line-height: 0;
}

.text-center{
  text-align: center;
}
.evaluation_group{
  padding-left: 20px;
  background: #fbf9f4 url(../../images/shop_detail/icon_list_ora.png) 0 5px no-repeat;
  font-size: 14px;
}

.kuchikomi_gruop .point{
  font-size: 21px;
}

/* ランキング */
.ranking_contens{
  margin-bottom: 10px;
  background: #fbf9f4 url(../../images/shop_detail/border_green.jpg) left center no-repeat;
}
.ranking_contens h2{
  margin-top: 5px;
  padding-left: 45px;
  background: url(../../images/shop_detail/icon_ranking_gre.png) 15px 3px no-repeat;
  font-size: 24px;
  font-weight: bold;
}

.ranking_contens .green{
  width: 120px;
  margin-right: 15px;
}
/* ランキング-5カラム- */
.ranking_area{
  border: 6px solid #50d789;
}

.ranking_innner{
  border: 6px solid #fff;
}
.ranking_card{
  width: 149px;
  height: 256px;
  text-align: center;
  border: 1px solid #d9e7e8;
  background-color: #fbf9f4;
  margin-right: 5px;
}
.ranking_card:nth-child(5n){
  margin-right: 0;
}
.ranking_card_innner{
  border: 3px solid #fbf9f4;
  text-align: center;
  position: relative;
}
.ranking_card_innner img{
  width: 140px;
}
.ranking_card_innner .ranking_no{
  width: 24px;
  height: 24px;
  position: absolute;
  top: 5px;
  left: 5px;
}
.ranking_card_text_area{
  text-align: center;
  color: #222;
  font-size: 10px;
  line-height: 1.4em;
}
.ranking_card_text_area h5{
  color: #e64d95;
  font-size: 14px;
  font-weight: bold;
}

.ranking_card_text_area h5 span{
  margin-left: 7px;
  color: #1d1d1d;
  font-size: 11px;
}
.ranking_card_text_area p{
  padding: 2px 0;
}
.ranking_card_text_area .cach_copy{
  color: #e64d95;
  font-size: 12px;
  background-color: #fff;
  border: 1px solid  #e64d95;
}

/* 店舗情報-テーブル- */
.shop_detail_table_wrap{
  margin-top: 19px;
  border: 1px solid #a38a72;
  text-align: left;
}
/* 店舗情報-メニューテーブル- */
.shop_menu_table thead th{
  width: 790px;
  padding:5px 0 5px 26px;
  color: #222;
  font-size: 14px;
  font-weight: normal;
  background: #f3e9dc url(../../images/icon_bed.png) 4px center no-repeat;
  text-align: left;
  position: relative;
}

.shop_menu_table thead th img{
  position: absolute;
  top: 31px;
  left: 15px;
}

.shop_menu_table tbody th{
  padding:15px 0 10px 26px;
  color: #424242;
  background: url(../../images/shop_detail/dot_green.png) 10px 20px no-repeat;
  font-size: 14px;
  text-align: left;
}
.shop_menu_table tbody ul{
  padding-left: 20px;
}
.shop_menu_table tbody ul:first-child{
  margin-bottom: 5px;
}
.shop_menu_table tbody li{
  margin: 2px;
  padding: 0px 4px;
  color: #ae2d5b;
  border: 1px solid #ae2d5b;
  border-radius: 3px;
  font-size: 13px;
}
.shop_menu_table .service_menu li{
  color: #754b47;
  border: 1px solid #754b47;
}
.shop_menu_table ul{
  width: 782px;
}
/* 店舗情報-詳細テーブル- */
.shop_info_table{
  width: 760px;
  margin: 25px auto 15px auto;
  color: #424242;
  font-size: 13px;
  border-top: 1px solid #b7b7b7;
  border-bottom: 1px solid #b7b7b7;
  border-collapse: collapse;
}

.shop_info_table tr:nth-child(even){
  background-color: #fbfbfb;
}
.shop_info_table tr{
  border-bottom: 1px solid #eeeeee;
}
.shop_info_table tr:last-child{
  border-bottom: 0;
}
.shop_info_table td{
  padding:12px 0 12px 20px;
}
.shop_info_table tr td:nth-child(odd){
  border-right: 1px solid #eeeeee;
}
.shop_info_table tr td a{
  color: #3b87d4;
}


/* サイドコンテンツ */
.contents_right_area{
  width: 320px;
}
.side_contents_title{
  background-color: #fbf9f4;
  border-bottom: 1px solid #a38a72;
}
.side_contents_title h5{
  padding: 8px 0 7px 40px;
  background-color: #fbf9f4;
  color: #1d1d1d;
  font-size: 18px;
}
.side_contents_title .green{
  width: 83px;
}
/* 新人セラピスト */
.new_face_inner img{
  width: 100%;
}
.new_face_text{
  width: 100%;
}
.new_face_text p{
  width: 190px;
  padding: 3px 0;
  margin-bottom: 6px;
}
.new_face_text ul li{
  font-size: 14px;
}
.new_face_text ul li:first-child{
  font-size: 11px;
}
.new_face_text ul li .name{
  font-size: 16px;
}
/* お店PR動画 */
.movie_text{
  width: 195px;
  margin-top: 0;
  line-height: 1em;
  letter-spacing: 0;
}
.movie_text p{
  color: #222;
  font-size: 12px;
}
.movie_text p:first-child{
  margin: 0 0 5px 0;
  padding: 5px 0;
  color: #000;
  background-color: #fbf9f4;
  border: 1px solid #888;
  text-align: center;
}
.movie_text a{
  color: #c250d7;
  font-size: 14px;
}

/* 姉妹店情報 */
.sis_stor_area{
  border: 5px solid #fff;
  border-bottom: 0;
}
.sis_store{
  background: #a38a72 url(../../images/shop_detail/icon_link_pur.png) 12px 8px no-repeat;
}
.sis_stor_area ul li{
  padding: 10px 5px;
  background: url(../../images/shop_detail/arrow_right_gry.png) right center no-repeat;
  border-bottom: 1px solid #f3e9dc;
  line-height: 1.2em;
}
.sis_stor_area ul li:last-child{
  border-bottom: 0;
}
.sis_stor_area ul li a{
  color: #d03791;
  font-size:14px;
  display: block;
}

.sis_stor_area ul li a span{
  color: #222;
  font-size: 12px;
}


.modal_inner {
  width: 610px;
}
