@charset "UTF-8";

/* 全国TOP スタイル */
.header-header p{
  width: 1170px;
}
/* マップ検索 */
.nationwide_map{
  background-color: #efffeb;
  height: 670px;
}
.nationwide_map_inner{
  width: 1170px;
  margin: auto;
  padding-top: 15px;
  position: relative;
}

/* テーブルデザイン */
.nationwide_map table{
  background-color: #fff;
  border: 1px solid #a38a72;
}
.nationwide_map table th{
  padding: 0 16px 0 30px;
  color: #613d20;
  font-size: 18px;
  font-weight: normal;
  background-color: #f3e9dc;
}
.nationwide_map table td{
  color: #2e2218;
  background-color: #ffffff;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
}
.nationwide_map table td:nth-child(2n){
  background-color: #f6f6f6;
}
.nationwide_map table td span{
  margin-right: 2px;
  font-size: 21px;
}
.nationwide_map .shop{
  background: url(../../images/top/icon_bed.png) 8px center no-repeat #f3e9dc;
}
.nationwide_map .women{
  background: url(../../images/top/icon_women.png) 12px center no-repeat #f3e9dc;
}
.nationwide_map .coupon{
  padding-left: 35px;
  background: url(../../images/top/icon_coupon.png) 10px center no-repeat #f3e9dc;
}

/* 全国マップデザイン */
.map_area a{
  color: #fff;
  font-size: 18px;
}
.map_area{
  width: 650px;
  height: 450px;
  margin: auto;
  position: relative;
}
.map_area .map_1{
  padding: 150px 54px 92px 32px;
  text-align: right;
  background: url(../../images/top/map_1.png) no-repeat;
  position: absolute;
  right: 0;
}
.map_area .map_2{
  padding: 40px 37px 54px 76px;
  text-align: center;
  background: url(../../images/top/map_2.png) no-repeat;
  position: absolute;
  right: 23px;
  bottom: 36px;
}
.map_area .map_3{
  padding: 33px 80px 72px 108px;
  background: url(../../images/top/map_3.png) no-repeat;
  position: absolute;
  right: 98px;
  bottom: 96px;
}
.map_area .map_4{
  padding: 40px 58px 72px 76px;
  background: url(../../images/top/map_4.png) no-repeat;
  position: absolute;
  right: 172px;
  bottom: 18px;
}
.map_area .map_5{
  padding: 64px 50px 64px 35px;
  background: url(../../images/top/map_5.png) no-repeat;
  position: absolute;
  left: 238px;
  bottom: 33px;
}
.map_area .map_6{
  padding: 30px 36px 64px 104px;
  background: url(../../images/top/map_6.png) no-repeat;
  position: absolute;
  left: 62px;
  bottom: 66px;
}
.map_area .map_7{
  padding: 30px 40px 28px 39px;
  background: url(../../images/top/map_7.png) no-repeat;
  position: absolute;
  left: 124px;
  bottom: 16px;
}
.map_area .map_8{
  padding: 56px 23px 74px 50px;
  text-align: right;
  background: url(../../images/top/map_8.png) no-repeat;
  position: absolute;
  left: 0px;
  bottom: -42px;
}

/* 各地方ボタングループデザイン */
.btn_link_group{
  width: 226px;
  background-color: #fff;
  border: 1px solid #613d20;
  border-radius: 6px;
  text-align: center;
}

.btn_link_group p{
  padding: 10px 0 7px 0;
  font-size: 18px;
  font-weight: bold;
}

.btn_link_group a{
  width: 48%;
  margin:2px;
  padding: 3px;
  color: #333;
  border: 1px solid #8c735f;
  border-radius: 6px;
  box-shadow:0px -2px 0px 0px rgba(97,61,32,0.39) inset;
  font-size: 16px;
  text-align: center;
}
.btn_link_group a:hover{
  background-color: #c8bbb1;
}
.btn_link_group a:nth-child(odd){
  margin-left: 4px;
}
.btn_link_group a:nth-child(even){
  margin-right: 4px;
}
.btn_link_group div:last-child{
  margin-bottom: 4px;
}

.btn_link_group span{
  margin-left: 3px;
  padding: 1px 3px;
  font-size: 10px;
  color: #fff;
  background-color: #613d20;
  border-radius: 3px;
  letter-spacing: 0;
}
.btn_link_group .no{
  color: #969696;
  border: 1px solid #969696;
  box-shadow: none;
  pointer-events: none;
}
.btn_link_group .no:hover{
  pointer-events: none;
}
/* 北海道・東北ボタングループデザイン */
.map_1_area{
  position: absolute;
  top: 60px;
  right: 14px;
}
.map_1_area p{
  color: #6e68f0;
  background: url(../../images/top/icon_map_1.png) 36px center no-repeat;
}
/* 関東ボタングループデザイン */
.map_2_area{
  position: absolute;
  top: 454px;
  right: 28px;
}
.map_2_area p{
  color: #c268f0;
  background: url(../../images/top/icon_map_2.png) 72px center no-repeat;
}
/* 北信越ボタングループデザイン */
.map_3_area{
  position: absolute;
  top: 275px;
  right: 28px;
}
.map_3_area p{
  color: #f068b5;
  background: url(../../images/top/icon_map_3.png) 65px center no-repeat;
}
/* 東海ボタングループデザイン */
.map_4_area{
  position: absolute;
  top: 525px;
  right: 300px;
}
.map_4_area p{
  color: #f06868;
  background: url(../../images/top/icon_map_4.png) 65px center no-repeat;
}
/* 関西ボタングループデザイン */
.map_5_area{
  position: absolute;
  top: 130px;
  left: 470px;
}
.map_5_area p{
  color: #ff8828;
  background: url(../../images/top/icon_map_5.png) 74px center no-repeat;
}
/* 中国ボタングループデザイン */
.map_6_area{
  position: absolute;
  top: 170px;
  left: 230px;
}
.map_6_area p{
  color: #72bd10;
  background: url(../../images/top/icon_map_6.png) 74px center no-repeat;
}
/* 四国ボタングループデザイン */
.map_7_area{
  position: absolute;
  top: 525px;
  left: 400px;
}
.map_7_area p{
  color: #11cd65;
  background: url(../../images/top/icon_map_7.png) 74px center no-repeat;
}
/* 九州・沖縄ボタングループデザイン */
.map_8_area{
  position: absolute;
  top: 405px;
  left: 14px;
}
.map_8_area p{
  color: #08c3d4;
  background: url(../../images/top/icon_map_8.png) 48px center no-repeat;
}

/* INFORMARTION */
/* バナーエリア */
.info_bnr_area{
  width: 1000px;
  margin: auto;
  padding-top: 42px;
  padding-bottom: 50px;
  text-align: center;
}
section h2{
  padding-bottom: 46px;
  font-size: 30px;
  font-family: "Roboto";
  font-weight: normal;
  letter-spacing: 0;
}

.col_2_bnr_area {
  margin-bottom: 24px;
}


/* ABOUT */
.about_area{
  background-color: #fdf8ea;
  padding-bottom: 45px;
  margin-bottom: 45px;
}
.about_area_inner{
  width: 1170px;
  margin: auto;
  padding-top: 40px;
  text-align: center;
}
/* ABOUT-エステの森とは- */
.about_col2_group div{
  width: 50%;
  background-color: #fbf9f4;
  border: 1px solid #a38a72;
  text-align: left;
}
.about_col2_group div:first-child{
  margin-right: 30px;
}
.about_col2_group div h3{
  color: #333;
  font-size: 21px;
  font-weight: bold;
}
.about_text_area h3{
  width: 520px;
  margin: auto;
  padding:20px 0 20px 40px;
  background: url(../../images/top/icon_book.png) 0 center no-repeat;
}
.about_text_area p{
  width: 520px;
  margin: 0 auto 20px auto;
  color: #333;
  font-size:14px;
  letter-spacing: 0.05em;
}

/* ABOUT-掲載エリア- */
.about_published_area h3{
  width: 520px;
  margin: auto;
  padding: 20px 0 12px 40px;
  background: url(../../images/top/icon_list_green.png) 0 center no-repeat;
}
.about_published_area table{
  width: 538px;
  margin: auto;
  letter-spacing: 0;
  padding-bottom: 15px;
}
.about_published_area table th{
  width: 116px;
  height: 40px;
  color: #fff;
  font-size: 16px;
  font-weight: normal;
  text-align: center;
  position: relative;
}
.about_published_area table th img{
  position: absolute;
  right: -6px;
  bottom: 13px;
}

.about_map_area li{
  border-right: 1px solid #555;
  line-height: 1em;
}
.about_map_area li:last-child{
    border-right: 0;
}
.about_map_area a{
  padding: 0 6px;
  font-size: 16px;
  line-height: 1em;
}
.about_map_1 th{
  background-color: #6e68f0;
}
.about_map_1 a{
  color: #6e68f0;
}
.about_map_1 a:hover{
  color: #fff;
  background-color: #6e68f0;
}
.about_map_2 th{
  background-color: #c268f0;
  margin-bottom: 8px;
}
.about_map_2 a{
  color: #c268f0;
}
.about_map_2 a:hover{
  color: #fff;
  background-color: #c268f0;
}
.about_map_3 th{
  background-color: #f068b5;
}
.about_map_3 a{
  color: #f068b5;
}
.about_map_3 a:hover{
  color: #fff;
  background-color: #f068b5;
}
.about_map_4 th{
  background-color: #f06868;
}
.about_map_4 a{
  color: #f06868;
}
.about_map_4 a:hover{
  color: #fff;
  background-color: #f06868;
}
.about_map_5 th{
  background-color: #ff8828;
}
.about_map_5 a{
  color: #ff8828;
}
.about_map_5 a:hover{
  color: #fff;
  background-color: #ff8828;
}
.about_map_6 th{
  background-color: #72bd10;
}
.about_map_6 a{
  color: #72bd10;
}
.about_map_6 a:hover{
  color: #fff;
  background-color: #72bd10;
}
.about_map_7 th{
  background-color: #11cd65;
}
.about_map_7 a{
  color: #11cd65;
}
.about_map_7 a:hover{
  color: #fff;
  background-color: #11cd65;
}
.about_map_8 th{
  background-color: #08c3d4;
}
.about_map_8 a{
  color: #08c3d4;
}
.about_map_8 a:hover{
  color: #fff;
  background-color:#08c3d4;
}
