@charset "UTF-8";

/* 店舗詳細 スタイル */
.main_area{
  width: 1140px;
  margin: 20px auto 0 auto;
}
.open_area_type{
  padding-bottom: 5px;
}
.open{
  margin-right: 10px;
  padding: 0 14px 0 30px ;
  background: url(../../images/shop_list/icon_door.png) 12px 5px no-repeat;
  border: 1px solid #50d789;
  border-radius: 15px;
}
.shop_kuchikomi_wrap{
  text-align: right;
}
.shop_kuchikomi_wrap p{
  padding: 12px 0 0 20px;
  background: url(../../images/shop_list/icon_list_ore.png) 2px 18px no-repeat;
  font-size: 12px;
}
.shop_kuchikomi_wrap img{
  margin: 0 5px;
}
.shop_kuchikomi_wrap p span{
  margin-right: 2px;
  font-size: 21px;
}
.shop_kuchikomi_wrap p a{
  padding: 0 5px;
  color: #50d789;
  border-bottom: 1px solid #50d789;
}
.okiniiri{
  padding:5px 14px 5px 32px;
  color: #777;
  font-size: 14px;
  background: url(../../images/shop_list/icon_heart_gry.png) 12px 8px no-repeat;
  border-radius: 5px;
  border: 1px solid #777;
}
.shop_name_wrap{
  padding-bottom: 6px;
}
.shop_name_wrap h2{
  color: #50d789;
  font-size: 30px;
}

.shop_detail_wrap {
  height:42px;
  background-color: #f7f3ed;
  box-shadow: 2px 2px 4px #ccc;
}
.shop_detail_wrap h3{
  font-size: 24px;
  font-weight: normal;
}
.shop_detail_wrap h3 span{
  margin-left: 10px;
  padding-left: 30px;
  font-size: 16px;
  font-weight: normal;
  background: url(../../images/shop_list/icon_clock_br.png) 6px 0 no-repeat;
}
.shop_detail_wrap h3 .womens{
  background: url(../../images/staff/icon_womens_brn.png) 6px 0 no-repeat;
}
.staff_count{
  margin-right: 20px;
  padding:2px 10px 2px 30px;
  font-size: 12px;
  background: #fff url(../../images/shop_list/icon_hell.png) 12px 10px no-repeat;
  border-radius: 20px;
  border: 1px solid #50d789;
}
.staff_count span{
  color: #ff55a5;
  font-size: 18px;
}
.shop_mai_inner_wrap{
  width: 1140px;
  margin: 11px auto 15px auto;
}
.shop_main_inner_left{
  height: 250px;
  border: 15px solid #efefef;
  margin-right: 30px;
}
.shop_main_inner_right{
  width: 320px;
  height: 250px;
  border: 10px solid #efefef;
}
/* 電話番号とSNSエリア */
.inner_right_area{
  margin-top: 5px;
  padding:24px 15px 0 15px;
  position: relative;
}
.right_area_top{
  padding-bottom: 8px;
  border-bottom: 1px solid #bfbfbf;
}
.right_area_top img{
  position: absolute;
  top:16px;
}
.right_area_top p{
  color: #000;
  font-size: 12px;
  letter-spacing: 0;
  position: absolute;
  top: 18px;
  left: 40px;
}
.right_area_top p span{
  color: #50d789;
  font-size: 14px;
}
.right_area_top h3{
  margin: 10px 0 0 36px;
  color: #50d789;
  font-size: 26px;
  font-weight: bold;
  letter-spacing: 0;
}
.right_area_bottom_left .official_site{
  padding:10px 8px 10px 35px;
  color: #000;
  font-size: 12px;
  background: url(../../images/shop_detail/icon_site_green.png) 14px 10px no-repeat;
  border: 1px solid #50d789;
  border-radius: 5px;
  line-height: 5.5em;
  box-shadow:1px 5px 0px -3px #cccccc;
}
.sns_title_wrap img{
  width: 42px;
  height: 1px;
  margin-top: 8px;
}
.sns_title_wrap p{
  padding: 0 5px;
  color: #000;
  font-size: 11px;
}
.right_area_bottom_left ul{
  margin-top: 9px;
}
.right_area_bottom_left li{
  margin-right: 3px;
}
.right_area_bottom_left li:last-child{
  margin-right: 0;
}
.right_area_bottom_right{
  margin-top:11px;
  padding: 0 5px;
}
.right_area_bottom_right a{
  padding-left: 17px;
  color: #000;
  font-size: 12px;
  background: url(../../images/shop_detail/icon_sp.png) 0 0 no-repeat;
  letter-spacing: 0;
}
/* タイトル-写メ日記- */
.section_title{
  margin:20px 0;
}
.section_title a{
  margin-right: 20px;
  color: #333;
  font-size: 14px;
  font-weight: bold;
}
.section_title a span{
  padding: 0 5px 0 20px;
  background: url(../../images/shop_detail_dialy_list/exclamation_mark.png) 3px 3px no-repeat;
  letter-spacing: 0;
}
.content_area_wrap{
  padding-bottom: 86px;
}
/* 左サイド */
.side_left_area{
  width: 280px;
}
.side_left_area table{
  border-collapse: collapse;
}
.side_left_area .side_inner h2{
  width: 280px;
  height: 32px;
  padding-left: 28px;
  background-color: #ffe6df ;
  color: #1d1d1d;
  font-size: 14px;
  font-weight: normal;
  text-align: left;
  letter-spacing: 0;
  line-height: 2.5em;
  position: relative;
}
.side_left_area .side_inner h2 img{
  position: absolute;
  top: 27px;
  left: 6px;
}
.calendar h2{
  background: url(../../images/shop_detail_dialy_list/icon_calendar.png) 8px 8px no-repeat;
}
.archive h2{
  background: url(../../images/shop_detail_dialy_list/icon_box.png) 8px 12px no-repeat;
}
.diary h2{
  background: url(../../images/shop_detail_dialy_list/icon_women_ora.png) 9px 9px no-repeat;
}
.side_left_area .side_inner{
  margin-bottom: 25px;
}
.side_left_area .side_inner table{
  width: 100%;
}
/* カレンダーデザイン */
.calendar table{
  margin-top: 22px;
  border: 2px solid #ebebeb;
  color: #515151;
  font-size: 12px;
}
.calendar table thead td,th{
  height: 40px;
  padding-top: 20px;
  text-align:center;
}
.back_arrow a{
  padding-left: 10px;
  background: url(../../images/shop_detail_dialy_list/left_arrow.png) 0 center no-repeat;
}
.next_arrow a{
  padding-right: 10px;
  background: url(../../images/shop_detail_dialy_list/right_arrow.png) 0 center no-repeat;
}
.calendar table thead tr{
  border-top: 2px solid #ebebeb;
}
.calendar table thead th p{
  padding: 2px 15px;
  background-color: #eee;
  border: 1px solid #d7d7d7;
  border-radius: 35px;
  font-weight: normal;
  display: inline-block;
}
.calendar table tbody th{
  vertical-align:bottom;
}
.calendar table tbody td{
  width: 40px;
  height: 40px;
  border: 1px solid #ececec;
  vertical-align: top;
  padding: 1px 0 0 2px;
}
.calendar table .today{
  background-color: #ffe6df;
  color: #fff;
}
.calendar table .today span{
  background-color: #ea5a57;
  border-radius: 50px;
}
.calendar table .no_date{
  background-color: #f3f3f5;
}
/* 月別アーカイブ */
.archive table{
  margin-top: 25px;
}
.archive table tr{
  height: 35px;
  border-bottom: 1px solid #ebebeb;
}
.archive table tr td a{
  padding-left: 8px;
  color: #4894cb;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 3em;
}
.archive table tr td a span{
  margin-left: 10px;
}
/* 日記コンテンツエリア */
.main_content_area{
  width: 838px;
  margin-left: 22px;
  text-align: center;
}
.photo_diary_wrap h3{
  width: 272px;
  height: 48px;
  margin: 0 auto 15px auto;
  padding-left: 30px;
  background: url(../../images/shop_detail_dialy_list/icon_photo_ora.png) 15px center no-repeat #ffe6df;
  border-radius: 50px;
  color: #1d1d1d;
  font-size: 21px;
  line-height: 2.4em;
}
/* 日記 -4カラム- */
.diary_col_4_wrap{
  margin-bottom: 26px;
}
.diary_col_4{
  margin-bottom: 10px;
}
.diary_col_inner{
  background-color: #fbf9f4;
  border: 1px solid #fee3db;
}
.diary_col_inner a{
  padding: 1px;
  display: inline-block;
}
.inner_detail_wrap{
  width: 100%;
  padding: 0 6px;
  text-align: left;
  line-height: 1em;
}
.inner_detail_wrap p{
  color: #1d1d1d;
  font-size: 11px;
}
.inner_detail_wrap h4{
  color: #fb724d;
  font-size: 14px;
}
.inner_detail_wrap span{
  color: #e64d95;
  font-size: 14px;
  font-weight: bold;
}
.inner_detail{
  margin-top: 10px;
}
.inner_detail img{
  width: 32px;
  height: 32px;
  margin-right: 7px;
  border-radius: 50px;
}
