@charset "UTF-8";
/* 店舗詳細 スタイル */
.shop_detail_main{
  width: 1200px;
  margin: 10px auto 100px auto;
  padding: 1px;
  border: 1px solid #e7e7e7;

}
.shop_detail_inner{
  border-top: 8px solid #50d789;
}
.shop_detail_inner_group{
  width: 1140px;
  margin: auto;
}
.shop_top_area{
  margin-top: 20px;
  box-shadow: 0px 1px 4px #ccc;
}
.main_area{
  width: 1140px;
  margin: 20px auto 0 auto;
}
.open_area_type{
  padding-bottom: 5px;
}
.open{
  margin-right: 10px;
  padding: 0 14px 0 30px ;
  background: url(../../images/shop_list/icon_door.png) 12px 5px no-repeat;
  border: 1px solid #50d789;
  border-radius: 15px;
}
.shop_kuchikomi_wrap{
  text-align: right;
}
.shop_kuchikomi_wrap p{
  padding: 12px 0 0 20px;
  background: url(../../images/shop_list/icon_list_ore.png) 2px 18px no-repeat;
  font-size: 12px;
}
.shop_kuchikomi_wrap img{
  margin: 0 5px;
}
.shop_kuchikomi_wrap p span{
  margin-right: 2px;
  font-size: 21px;
}
.shop_kuchikomi_wrap p a{
  padding: 0 5px;
  color: #50d789;
  border-bottom: 1px solid #50d789;
}
.okiniiri{
  padding:5px 14px 5px 32px;
  color: #777;
  font-size: 14px;
  background: url(../../images/shop_list/icon_heart_gry.png) 12px 8px no-repeat;
  border-radius: 5px;
  border: 1px solid #777;
}
.shop_name_wrap{
  padding:10px 15px 0 15px;
}
.shop_name_wrap h2{
  color: #50d789;
  font-size: 30px;
}

.shop_detail_wrap {
  height:42px;
  background-color: #f7f3ed;
}
.shop_detail_wrap h3{
  padding-left: 50px;
  font-size: 24px;
  font-weight: normal;
  background: url(../../images/shop_list/icon_tell_br.png) 23px 7px no-repeat;
}
.shop_detail_wrap h3 span{
  margin-left: 20px;
  padding-left: 30px;
  font-size: 16px;
  font-weight: normal;
  background: url(../../images/shop_list/icon_clock_br.png) 6px 0 no-repeat;
}
.shop_detail_wrap h3 .womens{
  background: url(../../images/staff/icon_womens_brn.png) 6px 0 no-repeat;
}
.staff_count{
  margin-right: 20px;
  padding:2px 10px 2px 30px;
  font-size: 12px;
  background: #fff url(../../images/shop_list/icon_hell.png) 12px 10px no-repeat;
  border-radius: 20px;
  border: 1px solid #50d789;
}
.staff_count span{
  color: #ff55a5;
  font-size: 18px;
}
.shop_mai_inner_wrap{
  width: 1140px;
  margin: 11px auto 15px auto;
}
.shop_main_inner_left{
  height: 250px;
  border: 15px solid #efefef;
  margin-right: 30px;
}

/* セラピストメインエリア */
.staff_detail_main{
  width: 800px;
  margin-right: 20px;
  border: 1px solid #ddd;
}
/* セラピストヘッダー */
.staff_header_wrap{
  border-bottom: 1px solid #ddd;
}
.staff_header_wrap p{
  padding: 10px 0;
  color: #ff779d;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}
.staff_header_inner{
  border-bottom: 1px solid #ddd;
}
.staff_header_name img{
  height: 70px;
}
.staff_header_name h1{
  display: inline-block;
  padding:8px 38px 6px 0;
  background: url(../../images/staff/icon_biginner.png) right 0 no-repeat;
  color: #ff779d;
  font-size: 24px;
  font-weight: bold;
}
.staff_header_name h1 span{
  margin-left: 10px;
  color: #222;
  font-size: 16px;
  font-weight: normal;
}
.staff_header_detail{
  padding: 5px 0;
  margin-left: 15px;
  line-height: 1.4em;
}
.staff_header_detail p{
  padding: 0;
  color: #222;
  font-size: 14px;
  font-weight:normal;
}
.block_area{
  margin-top: 30px;
}
/* 本日出勤 */
.block_area .now{
  height: 32px;
  margin:0 5px 0 37px;
  padding:2px 8px 2px 26px;
  background: url(../../images/staff/icon_heel.png) 6px center no-repeat;
  border: 2px solid #50d789;
  color: #ff55a5;
  font-size: 16px;
}
/* 待機時間 */
.block_area .wait{
  height: 32px;
  padding:5px 10px 0 30px;
  background: url(../../images/staff/icon_time_wht.png) 12px center no-repeat #27d4df;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
}
/* お気に入りボタン */
.staff_header_wrap .favorite{
  text-align: center;
  padding:52px 5px 3px 11px;
  background: url(../../images/staff/icon_favorite.jpg) no-repeat;
  background-size: cover;
  color: #7a7a7a;
  font-size: 10px;
  font-weight: bold;
}
.staff_header_wrap .favorite:hover{
  opacity: 0.5;
}
/* お気に入りボタン-active- */
.btn.active {
  text-align: center;
  padding:52px 5px 3px 11px;
  color: #7a6806;
  background: url(../../images/staff/icon_favorite_active.jpg) no-repeat;
  background-size: cover;
  font-size: 10px;
  font-weight: bold;
}
.btn > span:last-of-type,
.btn.active > span:first-of-type{
  display: none;
}

.btn.active > span:last-of-type {
  display: inline;
}
/*タブ切り替え全体のスタイル*/
.tabs {
  width: 770px;
  margin: 20px auto 0 auto;
  background-color: #fff;
}

/*タブのスタイル*/
.tab_item {
  width: calc(96%/2);
  height: 43px;
  margin:0 12px 0 10px;
  border: 1px solid #ddd;
  border-bottom: 0;
  background-color: #fff;
  line-height: 50px;
  font-size: 18px;
  text-align: center;
  color: #929292;
  display: block;
  float: left;
  text-align: center;
  font-weight: bold;
  transition: all 0.2s ease;
}
.tab_item:nth-child(4n){
  margin: 0;
}
.tab_item .diary_icon{
  height: 43px;
}
.tab_item .diary_icon:hover{
  background-color:#fcbcce;
}

.profile_icon span{
  padding-left: 36px;
  background: url(../../images/staff/icon_prof_gry.png) left 2px no-repeat;
}
.diary_icon span{
  padding-left: 30px;
  background: url(../../images/staff/icon_photo_gry.png) left 2px no-repeat;
}

/*ラジオボタンを全て消す*/
input[name="tab_item"] {
  display: none;
}

/*タブ切り替えの中身のスタイル*/
.tab_content {
  display: none;
  width: 770px;
  padding: 20px 16px 0 16px;
  margin: auto;
  clear: both;
  overflow: hidden;
  border-top: 1px solid #ddd;
}


/*選択されているタブのコンテンツのみを表示*/
#profile:checked ~ #profile_content,
#diary:checked ~ #diary_content{
  display: block;
}

/*選択されているタブのスタイルを変える*/
.tabs input:checked + .tab_item {
  background-color: #ff779d;
  color: #fff;
}
.tabs input:checked + .tab_item .profile_icon {
  padding-bottom: 50px;
  background: url(../../images/staff/dot_pink.png) 164px 38px no-repeat;
}
.tabs input:checked + .tab_item .profile_icon span {
  background: url(../../images/staff/icon_prof_wht.png) left 2px no-repeat #ff779d;
}
.tabs input:checked + .tab_item .diary_icon {
  padding-bottom: 50px;
  background: url(../../images/staff/dot_pink.png) 170px 38px no-repeat;
}
.tabs input:checked + .tab_item .diary_icon span {
  background: url(../../images/staff/icon_photo_wht.png) left 2px no-repeat #ff779d;
}
/* プロフィールエリア */

/* メインビジュアル */
.mv_wrap{
  margin-right: 12px;
}
.mv_img{
  width: 365px;
  height: 480px;
}
.thum_img{
  width: 365px;
  height: 95px;
  margin-top: 7px;
}
.thum_img img{
  width: 73px;
  height: 95px;
}
.right_area_wrap{
  width: 50%;
  text-align: left;
}
.right_area_wrap h2{
  padding:5px 0 0 45px;
  font-size: 18px;
  line-height: 1.7em;
}
/* セラピスト情報 */
.information{
  width: 100%;
}
.information h2{
  background: url(../../images/staff/icon_list_pink.jpg) left center no-repeat #fff1f5;
}
.information table{
  width: 94%;
  margin: auto;
  border-collapse: collapse;
}
.information table th,.information table td{
  padding: 10px 0;
  color: #222;
  font-size: 16px;
  font-weight: normal;
}
.information table tr{
  border-bottom: 1px solid #ddd;
}
.information table th{
  padding:0 5px;
  letter-spacing: 1em;
}
.information table td{
  padding-left: 20px;
  background: url(../../images/staff/right_arrow.png) left center no-repeat;
}
.information table td:first-child{
  padding-left: 0;
  background: none;
}
.information .size{
  letter-spacing: 0;
}
.information table td span{
  font-size: 14px;
}
.information table ul li{
  margin-right: 2px;
  padding: 3px 10px;
  border: 1px solid #ff779d;
  border-radius: 5px;
  font-size: 14px;
}
.information table ul li:last-child{
  margin-right: 0;
}
/* もっと教えて */
.more_information h2{
  margin-top: 20px;
  padding-left: 35px;
  background: url(../../images/staff/icon_memo.png) 6px center no-repeat;
  line-height: 2em;
}
.more_information table{
  width: 96%;
  margin: auto;
  border-collapse: collapse;
}
.more_information table tr{
  border-bottom: 1px solid #ddd;
}
.more_information table tr:first-child{
  border-top: 1px solid #ddd;
}

.more_information table th{
  width: 50%;
  padding: 4px 0 4px 6px;
  font-size: 12px;
  font-weight: normal;
}
.more_information table td{
  font-size: 14px;
  padding: 4px 0 4px 20px;
  background: url(../../images/staff/right_arrow_green.png) left center no-repeat;
}
/* お客様へのメッセージ・お店からのコメント */
.text_area_wrap{
  margin-top: 32px;
}
.text_area_wrap h3{
  margin-bottom: 16px;
  padding-left: 30px;
  color: #222;
  font-size: 18px;
}
.text_area_wrap p{
  width: 327px;
  font-size: 16px;
  letter-spacing: 0;
}
.message{
  margin-bottom: 20px;
}
.message h3{
  background: url(../../images/staff/icon_coment_pink.png) left center no-repeat;
}
.coment h3{
  background: url(../../images/staff/icon_coment_blue.png) left center no-repeat;
}
/* 出勤情報 */
.calendar {
  margin-top: 16px;
}
.calendar h2{
  height: 36px;
  padding-top: 5px;
  padding-left: 40px;
  background: url(../../images/staff/icon_calendar.jpg) left center no-repeat #eafff3;
  font-size: 18px;
}
.calendar table{
  width: 100%;
  margin-top: 5px;
}
.calendar table th {
  width: calc(100%/7);
  font-size: 14px;
  text-align: center;
}
.calendar table td{
  width: calc(100%/7);
  font-size: 14px;
  text-align: center;
}
.calendar table th{
  padding: 5px 0;
  background-color: #f7f3ed;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  font-weight: normal;
}
.calendar table td{
  border-bottom: 1px solid #ccc;
}
.calendar .sat{
  background-color: #eaf6f9;
}
.calendar .sun{
  background-color: #f8e5f6;
}
/* 写メ日記 */
.photo_diary{
  margin-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #ddd;
}
.photo_diary_title2 {
  height: 36px;
  margin-bottom: 5px;
  padding-left: 40px;
  background: url(../../images/staff/icon_photo_diary.jpg) left center no-repeat #fee3db;
}
.photo_diary_title2 h2{
  font-size: 18px;
}
.photo_diary_title2 a{
  margin-right: 8px;
}
.photo_diary_title2 a:hover{
  opacity: 0.5;
}
.card_item{
  width: 23.7%;
  margin-right: 12px;
  background-color: #fbf9f4;
  border: 1px solid #fee3db;
  text-align: center;
}
.card_item:nth-child(4n){
  margin-right: 0;
}
.card_item:nth-child(n+5){
  margin-top: 12px;
}
.card_item a{
  width: 100%;
  border: 1px solid #fbf9f4;
  display:inline-block ;
}
.card_item a:hover{
  opacity: 0.5;
}
.card_item a img{
  width: 100%;
}
.card_item p{
  width: 94%;
  padding-bottom: 3px;
  margin: auto;
  color: #fb724d;
  font-size: 13px;
  font-weight: bold;
  text-align: left;
  line-height: 1.3em;
}
.card_item p span{
  color: #1d1d1d;
  font-size: 10px;
  font-weight: normal;
}
/* ボタン */
.btn_wrap{
  display: block;
  margin: 20px auto;
  text-align: center;
}
.btn_wrap a{
  margin: 0 6px;
  color: #a38a72;
  border: 1px solid #a38a72;
  border-radius: 5px;
  font-size: 16px;
}
.btn_wrap a:hover{
  background-color: #443526;
}
.back_btn{
  padding: 5px 10px 5px 22px;
  background: url(../../images/staff/left_arrow_brn.png) 8px center no-repeat;
}
.list_btn{
  padding: 5px 10px 5px 32px;
  background: url(../../images/staff/icon_list_brn.png) 10px center no-repeat;
}
.next_btn{
  padding: 5px 22px 5px 10px;
  background: url(../../images/staff/right_arrow_brn.png) 133px center no-repeat;
}
