@charset "UTF-8";

/* 店舗詳細 スタイル */
.main_area{
  width: 1140px;
  margin: 20px auto 0 auto;
  padding-bottom: 28px;
}
.open_area_type{
  padding-bottom: 5px;
}
.open{
  margin-right: 10px;
  padding: 0 14px 0 30px ;
  background: url(../../images/shop_list/icon_door.png) 12px 5px no-repeat;
  border: 1px solid #50d789;
  border-radius: 15px;
}
.shop_kuchikomi_wrap{
  text-align: right;
}
.shop_kuchikomi_wrap p{
  padding: 12px 0 0 20px;
  background: url(../../images/shop_list/icon_list_ore.png) 2px 18px no-repeat;
  font-size: 12px;
}
.shop_kuchikomi_wrap img{
  margin: 0 5px;
}
.shop_kuchikomi_wrap p span{
  margin-right: 2px;
  font-size: 21px;
}
.shop_kuchikomi_wrap p a{
  padding: 0 5px;
  color: #50d789;
  border-bottom: 1px solid #50d789;
}
.okiniiri{
  padding:5px 14px 5px 32px;
  color: #777;
  font-size: 14px;
  background: url(../../images/shop_list/icon_heart_gry.png) 12px 8px no-repeat;
  border-radius: 5px;
  border: 1px solid #777;
}
.shop_name_wrap{
  padding-bottom: 6px;
}
.shop_name_wrap h2{
  color: #50d789;
  font-size: 30px;
}

.shop_detail_wrap {
  height:42px;
  background-color: #f7f3ed;
  box-shadow: 2px 2px 4px #ccc;
}
.shop_detail_wrap h3{
  font-size: 24px;
  font-weight: normal;
}
.shop_detail_wrap h3 span{
  margin-left: 10px;
  padding-left: 30px;
  font-size: 16px;
  font-weight: normal;
  background: url(../../images/shop_list/icon_clock_br.png) 6px 0 no-repeat;
}
.shop_detail_wrap h3 .womens{
  background: url(../../images/staff/icon_womens_brn.png) 6px 0 no-repeat;
}
.staff_count{
  margin-right: 20px;
  padding:2px 10px 2px 30px;
  font-size: 12px;
  background: #fff url(../../images/shop_list/icon_hell.png) 12px 10px no-repeat;
  border-radius: 20px;
  border: 1px solid #50d789;
}
.staff_count span{
  color: #ff55a5;
  font-size: 18px;
}
.shop_mai_inner_wrap{
  width: 1140px;
  margin: 11px auto 15px auto;
}
.shop_main_inner_left{
  height: 250px;
  border: 15px solid #efefef;
  margin-right: 30px;
}
.contents_left_area{
  width: 790px;
  margin-right: 30px;
}

.section_wrap{
  margin-bottom: 15px;
}
.section_title{
  margin-bottom: 5px;
}
/* お得なクーポン */
.otoku-coupon{
  width: 790px;
}
.coupon_inner_wrap{
  width: 100%;
  height: 260px;
  border: 6px solid #cc042f;
}
.coupon_inner{
  height: 248px;
  border: 4px solid #fff;
  background: url(../../images/shop_detail_coupon_list/coupon_big_bg.png) no-repeat;
  background-size: auto 240px;
  position: relative;
}
.coupon_inner img{
  position: absolute;
  top: 0;
  left: 0;
}
.inner_main{
  width: 650px;
  margin: 25px 0 0 115px;
  text-align: center;
}
.coupon_title{
  color: #333;
  font-size: 18px;
  font-weight: bold;
}
.coupon_inner h5{
  color: #cc042f;
  font-size: 24px;
  font-weight: bold;
}
.coupon_inner h6{
  width: 620px;
  height: 33px;
  margin: 10px auto 0 auto;
  background-color: #cc042f;
  border-radius: 6px;
  color: #fff;
  font-size: 18px;
  font-weight: normal;
  line-height: 2em;
}
.conditions{
  width: 620px;
  margin: 12px auto 11px auto;
  padding-left: 15px;
  text-align: left;
}
.conditions p{
  font-size: 11px;
}
.conditions p:first-child{
  margin-right: 14px;
}
.conditions p:last-child{
  width: 374px;
}
.col_2_wrap{
  width: 620px;
  height: 38px;
  margin: auto;
}
.expiration_date{
  width: 305px;
  height: 38px;
  border: 1px solid #d5d5d5;
  background-color: #fff;
  font-size: 16px;
}
.expiration_date p{
  line-height: 2.4em;
}
.expiration_date p:first-child{
  width: 100px;
  color: #fff;
  border: 1px solid #fff;
  background-color: #bfbfbf;
}
.expiration_date p:last-child{
  color: #777;
  margin-left:16px;
}
.notes{
  width: 305px;
  height: 38px;
  background-color: #ceb57d;
  color: #fff;
  text-align: left;
}
.notes p{
  margin: 5px 0 5px 8px;
  font-size: 12px;
  line-height:1.4em;
}
.notes p span{
  font-size: 15px;
  font-weight: bold;
}
.coupon_text_area{
  margin-bottom: 20px;
  padding: 23px 0 17px 0;
  color: #222;
  border-bottom: 1px dashed #5d5d5d;
  font-size: 14px;
}
/* 店舗情報-テーブル- */
.shop_detail_table_wrap{
  margin-top: 50px;
  border: 1px solid #a38a72;
  text-align: left;
}
/* 店舗情報-メニューテーブル- */
.shop_menu_table thead th{
  width: 790px;
  padding:5px 0 5px 26px;
  color: #222;
  font-size: 14px;
  font-weight: normal;
  background: #f3e9dc url(../../images/icon_bed.png) 4px center no-repeat;
  text-align: left;
  position: relative;
}

.shop_menu_table thead th img{
  position: absolute;
  top: 31px;
  left: 15px;
}

.shop_menu_table tbody th{
  padding:15px 0 10px 26px;
  color: #424242;
  background: url(../../images/shop_detail/dot_green.png) 10px 20px no-repeat;
  font-size: 14px;
  text-align: left;
}
.shop_menu_table tbody ul{
  padding-left: 20px;
}
.shop_menu_table tbody ul:first-child{
  margin-bottom: 5px;
}
.shop_menu_table tbody li{
  margin: 2px;
  padding: 0px 4px;
  color: #ae2d5b;
  border: 1px solid #ae2d5b;
  border-radius: 3px;
  font-size: 13px;
}
.shop_menu_table .service_menu li{
  color: #754b47;
  border: 1px solid #754b47;
}
.shop_menu_table ul{
  width: 782px;
}
/* 店舗情報-詳細テーブル- */
.shop_info_table{
  width: 760px;
  margin: 25px auto 15px auto;
  color: #424242;
  font-size: 13px;
  border-top: 1px solid #b7b7b7;
  border-bottom: 1px solid #b7b7b7;
  border-collapse: collapse;
}

.shop_info_table tr:nth-child(even){
  background-color: #fbfbfb;
}
.shop_info_table tr{
  border-bottom: 1px solid #eeeeee;
}
.shop_info_table tr:last-child{
  border-bottom: 0;
}
.shop_info_table td{
  padding:12px 0 12px 20px;
}
.shop_info_table tr td:nth-child(odd){
  border-right: 1px solid #eeeeee;
}
.shop_info_table tr td a{
  color: #3b87d4;
}


/* サイドコンテンツ */
.contents_right_area{
  width: 320px;
}
.side_contents_title{
  background-color: #fbf9f4;
  border-bottom: 1px solid #a38a72;
}
.side_contents_title h5{
  padding: 8px 0 7px 40px;
  background-color: #fbf9f4;
  color: #1d1d1d;
  font-size: 18px;
}
.side_contents_title .green{
  width: 83px;
}
/* 新人セラピスト */
.new_face_inner img{
  width: 100%;
}
.new_face_text{
  width: 100%;
}
.new_face_text p{
  width: 190px;
  padding: 3px 0;
  margin-bottom: 6px;
}
.new_face_text ul li{
  font-size: 14px;
}
.new_face_text ul li:first-child{
  font-size: 11px;
}
.new_face_text ul li .name{
  font-size: 16px;
}
/* お店PR動画 */
.movie_text{
  width: 195px;
  margin-top: 0;
  line-height: 1em;
  letter-spacing: 0;
}
.movie_text p{
  color: #222;
  font-size: 12px;
}
.movie_text p:first-child{
  margin: 0 0 5px 0;
  padding: 5px 0;
  color: #000;
  background-color: #fbf9f4;
  border: 1px solid #888;
  text-align: center;
}
.movie_text a{
  color: #c250d7;
  font-size: 14px;
}

/* 姉妹店情報 */
.sis_stor_area{
  border: 5px solid #fff;
  border-bottom: 0;
}
.sis_store{
  background: #a38a72 url(../../images/shop_detail/icon_link_pur.png) 12px 8px no-repeat;
}
.sis_stor_area ul li{
  padding: 10px 5px;
  background: url(../../images/shop_detail/arrow_right_gry.png) right center no-repeat;
  border-bottom: 1px solid #f3e9dc;
  line-height: 1.2em;
}
.sis_stor_area ul li:last-child{
  border-bottom: 0;
}
.sis_stor_area ul li a{
  color: #d03791;
  font-size:14px;
  display: block;
}

.sis_stor_area ul li a span{
  color: #222;
  font-size: 12px;
}


.modal_inner {
  width: 610px;
}
