@charset "UTF-8";
/* 店舗詳細 スタイル */
.main_area{
  width: 1140px;
  margin: 20px auto 0 auto;
  padding-bottom: 100px;
}
.open_area_type{
  padding-bottom: 5px;
}
.open{
  margin-right: 10px;
  padding: 0 14px 0 30px ;
  background: url(../../images/shop_list/icon_door.png) 12px 5px no-repeat;
  border: 1px solid #50d789;
  border-radius: 15px;
}
.shop_kuchikomi_wrap{
  text-align: right;
}
.shop_kuchikomi_wrap p{
  padding: 12px 0 0 20px;
  background: url(../../images/shop_list/icon_list_ore.png) 2px 18px no-repeat;
  font-size: 12px;
}
.shop_kuchikomi_wrap img{
  margin: 0 5px;
}
.shop_kuchikomi_wrap p span{
  margin-right: 2px;
  font-size: 21px;
}
.shop_kuchikomi_wrap p a{
  padding: 0 5px;
  color: #50d789;
  border-bottom: 1px solid #50d789;
}
.okiniiri{
  padding:5px 14px 5px 32px;
  color: #777;
  font-size: 14px;
  background: url(../../images/shop_list/icon_heart_gry.png) 12px 8px no-repeat;
  border-radius: 5px;
  border: 1px solid #777;
}
.shop_name_wrap{
  padding-bottom: 6px;
}
.shop_name_wrap h2{
  color: #50d789;
  font-size: 30px;
}

.shop_detail_wrap {
  height:42px;
  background-color: #f7f3ed;
  box-shadow: 2px 2px 4px #ccc;
}
.shop_detail_wrap h3{
  font-size: 24px;
  font-weight: normal;
}
.shop_detail_wrap h3 span{
  margin-left: 10px;
  padding-left: 30px;
  font-size: 16px;
  font-weight: normal;
  background: url(../../images/shop_list/icon_clock_br.png) 6px 0 no-repeat;
}
.shop_detail_wrap h3 .womens{
  background: url(../../images/staff/icon_womens_brn.png) 6px 0 no-repeat;
}
.staff_count{
  margin-right: 20px;
  padding:2px 10px 2px 30px;
  font-size: 12px;
  background: #fff url(../../images/shop_list/icon_hell.png) 12px 10px no-repeat;
  border-radius: 20px;
  border: 1px solid #50d789;
}
.staff_count span{
  color: #ff55a5;
  font-size: 18px;
}
.shop_mai_inner_wrap{
  width: 1140px;
  margin: 11px auto 15px auto;
}
.shop_main_inner_left{
  height: 250px;
  border: 15px solid #efefef;
  margin-right: 30px;
}
.shop_main_inner_right{
  width: 320px;
  height: 250px;
  border: 10px solid #efefef;
}
/* 電話番号とSNSエリア */
.inner_right_area{
  margin-top: 5px;
  padding:24px 15px 0 15px;
  position: relative;
}
.right_area_top{
  padding-bottom: 8px;
  border-bottom: 1px solid #bfbfbf;
}
.right_area_top img{
  position: absolute;
  top:16px;
}
.right_area_top p{
  color: #000;
  font-size: 12px;
  letter-spacing: 0;
  position: absolute;
  top: 18px;
  left: 40px;
}
.right_area_top p span{
  color: #50d789;
  font-size: 14px;
}
.right_area_top h3{
  margin: 10px 0 0 36px;
  color: #50d789;
  font-size: 26px;
  font-weight: bold;
  letter-spacing: 0;
}
.right_area_bottom_left .official_site{
  padding:10px 8px 10px 35px;
  color: #000;
  font-size: 12px;
  background: url(../../images/shop_detail/icon_site_green.png) 14px 10px no-repeat;
  border: 1px solid #50d789;
  border-radius: 5px;
  line-height: 5.5em;
  box-shadow:1px 5px 0px -3px #cccccc;
}
.sns_title_wrap img{
  width: 42px;
  height: 1px;
  margin-top: 8px;
}
.sns_title_wrap p{
  padding: 0 5px;
  color: #000;
  font-size: 11px;
}
.right_area_bottom_left ul{
  margin-top: 9px;
}
.right_area_bottom_left li{
  margin-right: 3px;
}
.right_area_bottom_left li:last-child{
  margin-right: 0;
}
.right_area_bottom_right{
  margin-top:11px;
  padding: 0 5px;
}
.right_area_bottom_right a{
  padding-left: 17px;
  color: #000;
  font-size: 12px;
  background: url(../../images/shop_detail/icon_sp.png) 0 0 no-repeat;
  letter-spacing: 0;
}

.main_wrap_area{
  margin-top: 20px;
}
.contents_left_area{
  width: 790px;
  margin-right: 30px;
}

.section_wrap{
  margin-bottom: 15px;
}
.section_title{
  margin-bottom: 15px;
}
/* ランキング一覧 スタイル */
.ranking_list_title{
  background: #fbf9f4 url(../../images/shop_detail/border_green.jpg) left center no-repeat;
}
.ranking_list_title h2{
  padding-left: 45px;
  background: url(../../images/shop_detail/icon_ranking_gre.png) 17px 8px no-repeat;
  line-height: 1.9em;
  font-size: 24px;
}
.each_ranking_title{
  height: 60px;
  margin: 0 auto 15px auto ;
  background-color: #f7f3ed;
  border: solid 2px #613d20;
  border-radius: 30px;
  display: inline-flex;
}
.each_ranking_title:nth-child(n+2){
  margin-top: 30px;
}

.each_ranking_title h3{
  color: #1d1d1d;
  font-size: 28px;
}
.each_ranking_title img{
  margin: auto 10px;
}
/* 結果エリア */
.result_area{
  padding: 0 10px;
  text-align: center;
}
.result_area_inner{
  margin-bottom: 10px;
}
.staff_card_wrap{
  width: 214px;
  margin: auto 5px;
  border: 1px solid #f4bed8;
}
.staff_card_inner{
  border: 1px solid #fff;
}
.time_area{
  width: 210px;
  height: 32px;
  background-color:#fbf9f4;
}
.working_time{
  background-color: #effeff;
}
.waiting{
  background-color: #effeff;
}
.time_area h3{
  color: #27d4df;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  line-height: 2.3em;
}
.working_time h3{
  padding-left: 20px;
  background: url(../../images/shop_detail_staff_list/icon_clock.png) 4px 7px no-repeat;
  letter-spacing: -0.02em;
}
.waiting h3{
  background: url(../../images/shop_detail_staff_list/icon_time.png) 38px 7px no-repeat;
}
.img_area{
  position: relative;
}
.img_area{
  width: 210px;
  height: 280px;
}
.img_area .new_face_icon{
  width: 30px;
  height: 36px;
  position: absolute;
  top: 5px;
  left: 7px;
}
.img_area .ranking_no{
  position: absolute;
  left: 5px;
  bottom: 5px;
}
.img_area .cup_size{
  width: 54px;
  height: 45px;
  padding: 5px 0 0 7px;
  background: url(../../images/shop_detail_staff_list/cup_bg.png) no-repeat;
  color: #e64d95;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  position: absolute;
  right: 0;
  bottom: 0;
}
.text_area {
  padding: 4px 5px;
  position: relative;
}
.text_area img{
  width: 24px;
  height: 21px;
  position: absolute;
  right: 4px;
  bottom: 4px;
}
.text_inner h2{
  color: #e64d95;
  font-size: 18px;
  text-align: left;
}
.text_inner h2 span{
  color: #1d1d1d;
  font-size: 14px;
  font-weight: normal;
}
.text_inner p{
  color: #1d1d1d;
  font-size: 12px;
  letter-spacing: 0;
}

