@charset "UTF-8";

html {
  font-size: 62.5% !important;
}

body {
  width: 100%;
  margin: 0 auto;
  font: 0.625rem "メイリオ", Meiryo, "Meiryo UI", "Noto Sans JP", Avenir, "Open Sans", "Helvetica Neue", Helvetica, Arial, Verdana, Roboto, "游ゴシック", "Yu Gothic", "游ゴシック体", "YuGothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",  "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  letter-spacing: 0.05em;
  color: #111;
  font-size: 1.5rem;
  word-break: break-all;
}

/* for IE 6 */
* html body {
  font-size: 75%;
}

/* for IE 7 */
*:first-child + html body {
  font-size: 75%;
}
/* 共通 */
ul li{
  list-style: none;
}

a{
  text-decoration: none;
}

.center_line{
  width: 94%;
  margin: auto;
}

/* Flexbox レイアウト */
.flex_wrap {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.flex_wrap.v_center {
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.flex_wrap.vh_center {
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -webkit-box-pack: center;
  justify-content: center;
  -ms-flex-pack: center;
}

.flex_wrap.space_between_vh {
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -ms-flex-pack: space-between;
}

.flex_wrap.space_between {
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -ms-flex-pack: space-between;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.flex_wrap.reverse {
  -webkit-flex-direction: row-reverse;
  -moz-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  flex-direction: row-reverse;
}

.flex_wrap.flex_end {
  -webkit-flex-direction: flex-end;
  -moz-flex-direction: flex-end;
  -webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
}

.flex_wrap.wrap {
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.l-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.l-column.col5 .col_inner:nth-child(-n+5){
  margin-bottom: 4px;
}
.l-column.col5 .col_inner_2:nth-child(n+5){
  margin-bottom: 10px;
}
.l-column.col5 .col_inner_3:nth-child(n+6){
  margin-top: 10px;
}
.l-column.col4 .col_inner{
  margin-right: 10px;
}
.l-column.col4 .col_inner:nth-child(4n){
  margin-right: 0;
}
.l-column.col4 .col_inner:nth-child(n+5){
  margin-top: 10px;
}

/* ボタン切り替え */
.btn > span:last-of-type,
.btn.active > span:first-of-type{
  display: none;
}
.btn.active > span:last-of-type {
  display: inline;
}
/* チェックボックススタイル */
/* ラベルのスタイル */
.checkbox label {
	padding-left:		1.2em;			/* ラベルの位置 */
	line-height:		1.1em;
	display:		inline-block;
	cursor:			pointer;
	position:		relative;
}
.checkbox label:before{
  content:		'';
	width:			12px;			/* ボックスの横幅 */
	height:			12px;			/* ボックスの縦幅 */
	display:		inline-block;
	position:		absolute;
	left:			0;
	background-color:	#fff;
	border-radius: 2px;
  border: 1px #51d789 solid;
}
/* 元のチェックボックスを表示しない */
.checkbox input[type=checkbox] {
	display:		none;
}
/* チェックした時のスタイル */
.checkbox input[type=checkbox]:checked + label:before {
	content:		'\2714';		/* チェックの文字 */
	font-size:		12px;			/* チェックのサイズ */
	color:			#fff;			/* チェックの色 */
	background-color:	#51d789;			/* チェックした時の色 */
  line-height: 1em;
}

/* ラベルのスタイル */
.checkbox-1 label {
	padding-left:		1.1em;			/* ラベルの位置 */
	line-height:		1.1em;
	display:		inline-block;
	cursor:			pointer;
	position:		relative;
  margin-right: 5px;
}
.checkbox-1 label:before{
  content:		'';
	width:			13px;			/* ボックスの横幅 */
	height:			13px;			/* ボックスの縦幅 */
	display:		inline-block;
	position:		absolute;
	left:			0;
	background-color:	#fff;
	border-radius: 2px;
  border: 1px #51d789 solid;
}
/* 元のチェックボックスを表示しない */
.checkbox-1 input[type=checkbox] {
	display:		none;
}
/* チェックした時のスタイル */
.checkbox-1 input[type=checkbox]:checked + label:before {
	content:		'\2714';		/* チェックの文字 */
	font-size:		12px;			/* チェックのサイズ */
	color:			#fff;			/* チェックの色 */
	background-color:	#51d789;			/* チェックした時の色 */
  line-height: 1em;
}

/* マージン */
.mb-7h{
  margin-bottom: 7.5px;
}

/* ヘッダー */
.header-header{
  background-color: #735b40;
}
.header-body{
  border-bottom: 1px solid #735b40;
}
.header-header p{
  width: 100%;
  margin: auto;
  padding: 3px 0 3px 2%;
  color: #fff;
  font-size: 0.6em;
  letter-spacing: 0;
}
.title_wrap{
  width: 97%;
  margin: auto;
}
.title_group{
  width: 75%;
  padding-top: 5px;
}
.title_wrap h1{
  width: 75%;
  margin: 0;
  padding-bottom: 5px;
  display: block;
}
.title_wrap h1 a{
  height: 100%;
  display: inherit;
}
.title_wrap h1 img{
  width: 100%;
  height: 100%;
}
.header_menu1{
  width: 25%;
  padding: 0 0 0 5px;
  margin-top: 9%;
}

.header_menu1 li a{
  padding: 0 7px;
  border-right: 1px solid #535353;
  color:#535353;
  font-size: 12px;
}

.city{
  width: 51.5px;
  height: 16px;
  text-align: center;
  background-color: #f3e9dc;
  border-radius: 5px;
  color:#535353;
  display: inline-block;
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 1.8rem;
}
.selectWrap{
  width: 64px;
  margin: 0;
  font-size: 1rem;
  display: inline-block;
  position: relative;
}
.selectWrap::after {
  content: '▼';
  color: #535353;
  font-size: 10px;
  position: absolute;
  top: -1px;
  right: 0;
  z-index: 9;
}
.select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  position: relative;
  z-index: 1;
  padding: 0 0 0 3px;
  border-radius: 2px;
  color: #535353;
}
select::-ms-expand {
    display: none;
}
.select option{
  font-size: 1rem;
}
/* 入力検索_sp */
.text_search_wrap{
 width: 98%;
 height: 34px;
 margin: auto;
 padding:2px 5px 2px 0; 
 background: #fff url(../images/icon_search_sp.png) 98% 4px no-repeat;
 background-size: 24px;
 border: 1px solid #a38a72;
 border-radius: 5px;
}
.text_search_wrap .select{
  width: 90%;
  margin-left: 3%;
  padding: 5px 0 5px 8% ;
  background-color: #e6d7c3;
  font-size: 1.2rem;
}
.text_search_wrap .selectWrap::after{
  font-size: 1.2rem;
  top: 5px;
  right: 10px;
}
.text_search_wrap input{
  width: 100%;
  padding-left: 3%;
}

/* ハンバーガー */
.hamburger_icon {
  width: 48px;
  height: 48px;
  background: #fff;
  border: 1px solid #bdbdbd;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 2rem;
  text-align: center;
  z-index: 99;
  position: fixed;
  right: 3%;
}

#nav-toggle {
  margin: auto;
  display: block;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

#nav-toggle div {
  position: relative;
}

#nav-toggle span {
  display: block;
  position: absolute;
  height: 5px;
  width: 100%;
  background: #000;
  border-radius: 3px;
  left: 0;
  -webkit-transition: .35s ease-in-out;
  -moz-transition: .35s ease-in-out;
  -o-transition: .35s ease-in-out;
  transition: .35s ease-in-out;
}
#nav-toggle span:nth-child(1) {
  top: 5px;
}

#nav-toggle span:nth-child(2) {
  top: 15px;
}

#nav-toggle span:nth-child(3) {
  top: 25px;
}

.open #nav-toggle span:nth-child(1) {
  top: 15px;
  -webkit-transform: rotate(315deg);
  -moz-transform: rotate(315deg);
  -ms-transform: rotate(315deg);
  transform: rotate(315deg);
}

.open #nav-toggle span:nth-child(2) {
  width: 0;
  left: 50%;
}

.open #nav-toggle span:nth-child(3) {
  top: 15px;
  -webkit-transform: rotate(-315deg);
  -moz-transform: rotate(-315deg);
  -ms-transform: rotate(-315deg);
  transform: rotate(-315deg);
}

.sp_menu_bg {
  display: none;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9;
  background-color: rgba(255, 255, 255, 0.75);
}

/* TOPヘッダー */
.title_wrap_2{
  width: 1170px;
  margin: auto;
}
.header-body_2{
  background: url(../images/top/logo_bg_img.jpg) 0 212px no-repeat;
  background-size: 100% 24px;
}
.header-body_2 h1{
  width: 458px;
  height: 155px;
  margin-bottom: 0;
}
.header_main_area{
  position: relative;
}
.header_main_area h1 img{
  margin-top: 41px;
}
.header_main_area .header_menu1{
  margin: 174px 0 0 64px;
}
.header_main_area .header_mv img{
  width: 520px;
  height: 320px;
}
.header_main_area .header_mv{
  position: absolute;
  top: 83px;
  right: 0px;
}
.header_text_area{
  margin-top: 42px;
  padding-bottom: 15px;
}
.header_text_area p{
  width: 620px;
  color: #535353;
  font-size: 18px;
  letter-spacing: 0em;
}


/*メインナビ*/
.main_nav_wrap{
  background-color: #bde5b3;
  border-bottom: 3px solid #50d789;
}

.main_nav_area{
  width: 1200px;
  margin: auto;
}

.main_nav li{
  padding: 16px 0;
}

.main_nav li a{
  padding: 0 15px;
  color: #222;
  font-size: 18px;
  font-weight: bold;
  border-left: 1px solid #735b40;
  border-right: 1px solid #fff;
}

.main_nav li:hover{
  height: 100%;
  background: linear-gradient(#8fdd7e, #50d789) ;
  color: #fff;
}
.main_nav li a:hover{
  color: #fff;
}

.main_nav li.home{
  background: url(../images/icon_home_bk.png) 13px 15px no-repeat;
}
.main_nav li.home a{
  padding-left: 40px;
  position: relative;
}
.main_nav li.home:hover{
  background: url(../images/icon_home_wh.png) 13px 15px no-repeat, linear-gradient(#8fdd7e, #50d789) ;
}
.main_nav li.home a:before{
  content: "";
  left: 1px;
  width: 1px;
  height: 27px;
  background: #fff;
  display: block;
  position: absolute;
  left: -2px;
}
.main_nav li.home.active{
  background: url(../images/icon_home_wh.png) 13px 15px no-repeat, linear-gradient(#8fdd7e, #50d789) ;
}
.main_nav li.home.active a{
  color: #fff;
}
.main_nav_wrap li.ranking a{
  position: relative;
}
.main_nav_wrap li.ranking a:after{
  content: "";
  right: 1px;
  width: 1px;
  height: 27px;
  background:#735b40;
  display: block;
  position: absolute;
  top: 0px;
  right: -2px;
}
/* 一覧ナビ-2カラム- */
.nav_2{
  background-color: #50d789;
  border-top: 1px solid #735b40;
  border-bottom: 1px solid #bdbdbd;
  font-size: 1.6rem;
  font-weight: bold;
}
.nav_2 li{
  width: 50%;
  text-align: center;
}
.nav_2 li:first-child{
  border-right: 1px solid #bdbdbd;
}
.nav_2 li:last-child{
  border-left: 1px solid #bdbdbd;
}
.nav_2 li a{
  padding: 4px 0;
  color: #fff;
  display:inherit;
}
.nav_2 li a:hover{
  background-color: #95e2b5;
}
.shop_list a img{
  width: 1.5rem;
  margin:0 3% -1% 0;
}
.staff_list a img{
  width: 1rem;
  margin:0 2% -1.5% 0;
}
/* 店舗詳細ナビ */
.shop_detail_nav{
  width: 1140px;
  height: 61px;
  background-color: #d8f1d2;
  margin:10px 0 15px 0;
}
.shop_detail_nav ul li{
  padding: 0 17px;
  border-right: 1px solid #fff;
}
.shop_detail_nav ul li:hover{
  background-color: #bde5b3;
}
.shop_detail_nav .active{
  background-color: #bde5b3;
}
.shop_detail_nav ul li a{
  color: #222;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  line-height: 3.4em;
}


/* TOPナビ */
.main_nav_wrap_2{
  background-color: #bde5b3;
  border-bottom: 3px solid #50d789;
}
.nav_wrap_2_inner{
  width: 1170px;
  margin: auto;
}
.nav_wrap_2_inner .home{
  width: 64px;
  height: 60px;
  text-align: center;
  background: url(../images/icon_home_wh.png) 20px center no-repeat, linear-gradient(#8fdd7e, #50d789) ;
}

.main_nav_wrap_2 p{
  margin: auto 0 auto 10px;
  color: #353535;
  font-size: 21px;
  font-weight: bold;
}

/*パンくず*/
.breadcrumb{
  background-color: #efefef;
  border-bottom: 1px solid #b7b7b7;
}
.breadcrumb p{
  width: 97%;
  margin: auto;
  padding:4px 0 2px 16px;
  background: url(../images/icon_home_pan_sp.png) left 45% no-repeat;
  background-size: 16px;
  color: #222;
  font-size: 1rem;
}

.breadcrumb a{
  padding:0 15px 0 5px;
  color: #2b83d6;
  background: url(../images/right_arrow_sp.png) right 3px no-repeat;
  background-size: 7px;
  line-height: 1.8em;
}
.breadcrumb a:last-child{
  background: none;
}

/*メインエリア*/
.main_wrap{
  margin-top: 5px;
}
.main_wrap h1{
  padding: 3px 0;
  background-color: #f3e9dc;
  color: #5f4918;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
}
.section_wrap{
  padding: 5px 0 10px 0;
}
.section_wrap_2{
  padding-bottom: 10px;
}
/* スライダー */
.main_coupon_area{
  width: 90%;
  margin: auto;
  padding: 6px 0;
}
.main_coupon_area img{
  width: 100%;
}
/* 3カラムスライダー */
.slider_style{
  width: 100%;
}
.slider_style .slider_inner_style{
  border: 2px solid #fff;
}
/* カラムインナーデザイン */
.card{
  width: 33%;
  height: 433px;
  padding: 2px;
  text-align: center;
  border: 1px solid #d9e7e8;
  background-color: #fbf9f4;
  margin: 0 1px;
}
.card_innner{
  height: auto;
}
.card_innner img{
  width: 100%;
}
.time{
  text-align: center;
  color: #27d4df;
  background-color: #effeff;
  border: 1px solid #27d4df;
  font-size: 11px;
  font-weight: bold;
}
.card_text_area{
  margin-top: 8px;
  margin-left: 2px;
  text-align: left;
  color: #222;
  font-size: 10px;
  line-height: 1.3em;
  letter-spacing: 0;
}
.card_text_area h5{
  margin-bottom: 5px;
  color: #e64d95;
  font-size: 1.6rem;
  font-weight: bold;
}
.card_text_area h5 span{
  margin-left: 7px;
  color: #222;
  font-size: 1rem;
  font-weight: normal;
}
.date_time{
  margin: 3px 0 6px 0;
  font-size: 1.2rem;
  letter-spacing: 0;
}
.date_time p:first-child{
  margin-right: 6px;
}
.count{
  margin: auto 5px;
  padding: 1px 12px 0px 12px;
  color: #fff;
  background-color: #27d4df;
  border-radius: 5px;
  font-size: 1.8rem;
}
.more_area{
  width: 94%;
  margin: auto;
}
/* 即癒し-スライダー- */
.blue_border{
  border: 5px solid #27d4df;
  border-bottom: 18px solid #27d4df;
}
/* 新人セラピスト-スライダー- */
.green_border{
  border: 5px solid #50d789;
  border-bottom: 18px solid #50d789;
}
/*タイトルデザイン*/
/* 共通タイトル */
.section_title{
  background-color: #fbf9f4;
  margin-bottom: 4px;
}
h2{
  padding:3px 0 2px 30px;
  color: #1d1d1d;
  font-size: 1.8rem;
  font-weight: bold;
}
.section_title2 {
  padding: 5px 0 3px 35px;
  color: #fff;
  font-size: 1.6rem;
  font-weight: bold;
}

/* 即癒し */
.iyashi{
  background: #fbf9f4 url(../images/border_blu.jpg) left center no-repeat;
  background-size: 0.5rem;
}
.iyashi h2{
  background: url(../images/icon_hourglass.png) 13px 6px no-repeat;
  background-size: 1.2rem;
}
/* お得クーポン */
.otoku-coupon_title{
  background: #fbf9f4 url(../images/border_red.jpg) left center no-repeat;
  background-size: 0.5rem;
}
.otoku-coupon_title h2{
  background: url(../images/icon_coupon_red.png) 11px 12px no-repeat;
  background-size: 15px;
}
/* 写メ日記 */
.photo_diary_title{
  background: #fbf9f4 url(../images/border_orange.jpg) left center no-repeat;
  background-size: 0.5rem;
}
.photo_diary_title h2{
  background: url(../images/icon_photo_ora.png) 10px 6px no-repeat;
  background-size: 17px;
}
/* リアルタイム速報 */
.sokuhou_title{
  background: #6e68f0 url(../images/icon_clock.png) 12px 6px no-repeat;
  background-size: 18px;
}
/* 新人セラピスト */
.new_face_title{
  background: #fbf9f4 url(../images/border_green.jpg) left center no-repeat;
  background-size: 0.5rem;
}
.new_face_title h2{
  background: url(../images/icon_beginner.png) 10px 6px no-repeat;
  background-size: 16px;
}
/* 最新口コミ情報 */
.kuchikomi_title{
  background: #fbf9f4 url(../images/border_yellow.jpg) left center no-repeat;
  background-size: 0.5rem;
}
.kuchikomi_title h2{
  background: url(../images/icon_bubble.png) 10px 8px no-repeat;
  background-size: 18px;
}
/* 動画 de お店PR */
.shop_movie_title{
  background: #c250d7 url(../images/icon_movie_wh.png) 12px 7px no-repeat;
  background-size: 18px;
}
/* 新規掲載店 */
.new_shop_title{
  background: #00b4ff url(../images/icon_newspaper.png) 10px 10px no-repeat;
  background-size: 26px;
}
/* ランキング */
.ranking_title{
  background: #fbf9f4 url(../images/border_green.jpg) left center no-repeat;
  background-size: 0.5rem;
}
.ranking_title h2{
  background: url(../images/icon_ranking.png) 10px 6px no-repeat;
  background-size: 18px;
}

/* サイドコンテンツ */
.side_contents_area{
  width: 262px;
}
.side_contents_area h5{
  padding:8px 0 7px 45px;
  background-color: #fbf9f4;
  color: #1d1d1d;
  font-size: 18px;
  border-bottom: 1px solid #a38a72;
}
.side_contents{
  border: 1px solid #a38a72;
  margin-bottom: 16px;
}
/* 写メ日記 */
.photo_diary_area{
  border: 5px solid #fff;
}
.photo{
  background: #a38a72 url(../images/pref/icon_photo.png) 12px 8px no-repeat;
}
.small_col_3{
  width: 100%;
  height: auto;
  padding: 1px;
}
.small_col_3 a{
  width: 33%;
  margin-right: 1px;
  display: flex;
}
.small_col_3 a img{
  width: 100%;
  height: 100%;
}
.small_col_3 a:nth-child(-n+3){
  margin-bottom: 1px;
}
.small_col_3 a:nth-child(3n){
  margin-right: 0;
}

/* 新人セラピスト */

.new_face_area{
  border: 5px solid #fff;
}
.new_face{
  background: #a38a72 url(../images/pref/icon_beginner.png) 12px 8px no-repeat;
}
.new_face_inner_wrap{
  margin-top: 5px;
  margin-right: 10px;
  width: 240px;
}
.new_face_inner_wrap img{
  width: 108px;
  height: 143px;
  margin-right: 10px;
}
.new_face_text{
  width: 124px;
  height: 143px;
}
.new_face_text p{
  text-align: center;
  margin-bottom: 11px;
  color: #50d789;
  background-color: #edfaf3;
  border:1px solid #50d789;
  font-size: 14px;
  font-weight: bold;
}
.new_face_text ul li{
  color: #1d1d1d;
  font-size: 12px;
}
.new_face_text ul li .name{
  margin-right: 6px;
  color: #e64d95;
  font-size: 14px;
  font-weight: bold;
}

/* テキストエリア */
.free_text_area{
  width: 97%;
  margin: auto;
  padding: 10px;
  background-color: #fbf9f4;
  border: 1px solid #a38a72;
  font-size: 10px;
}
.read_more_btn{
  padding: 4px 18px 4px 12px;
  color: #fff;
  background: #77c762 url(../images/down_arrow.png) 67px 8px no-repeat;
  background-size: 10px;
  position: absolute;
  right: 5%;
}

.slider_button{
  margin-top: 5px;
  background-color: #eeeeee;
}
.slider_button a{
  width: 52px;
  height: 23px;
  text-align: center;
  padding-top: 3px;
  background-color: #a38a72;
  border-right: 1px solid #fff;
}
.slider_button a:last-child{
  border-left: 1px solid #fff;
  border-right: 0;
}

/* arrow.dotsデザイン */
#new_face_slider .slick-arrow{
  width: 52px;
  height: 23px;
  background-color: #a38a72;
  border-right: 1px solid #fff;
}
#new_face_slider .slick-arrow:last-child{
  border-right: 0 solid #fff;
  border-left: 1px solid #fff !important;
}

#new_face_slider .slick-prev{
  top:164px !important;
  left: 0 !important;
  z-index: 1 !important;
}
#new_face_slider .slick-next{
  top:164px !important;
  right: 0 !important;
}
#new_face_slider .slick-prev:before, .slick-next:before{
  font-size: 30px !important;
  position: relative !important;
  top: -7px !important;
}
#new_face_slider .slick-next:before{
  font-size: 30px !important;
  position: relative !important;
  top: -7px !important;
}
.slick-prev:before, .slick-next:before{
  font-size: 45px !important;
  opacity: 1 !important;
}
.slick-prev:before{
  content: '\2039' !important;
}
.slick-next:before{
  content: '\203A' !important;
}
.slick-dotted.slick-slider{
  margin-bottom: 21px !important;
}
.slick-dots{
  bottom: -20px !important;
  right: 7px !important;
  text-align: right !important;
}
.slick-dots li{
  width: 2px !important;
}
.slick-dots li.slick-active button:before{
  color: #a38a72 !important;
}
.slick-dots li button:before{
  color: #d7d7d7 !important;
}

#sub_slider .slick-prev{
  top: 135px !important;
  left: 14px !important;
  z-index: 1 !important;
}
#sub_slider .slick-next{
  top: 135px !important;
  right: 14px !important;
}
/* spスライダー */
.slider_style  .slick-arrow{
  width: 20px;
  height: 20px;
  text-align: center;
  border-radius: 50px;
}
.slider_style .slick-prev{
  left: -5px !important;
  z-index: 1 !important;
}
.slider_style .slick-next{
  right: -5px !important;
  z-index: 1 !important;
}
.slider_style .slick-prev:before,.slick-next:before {
  font-size: 24px !important;
}
.slider_style .slick-prev:before{
  line-height: 0.5em;
}
.slider_style .slick-next:before{
  line-height: 1.2em !important;
}
.slider_style{
  position: relative;
}
.slider_style .slick-dots{
  position: absolute;
  text-align: center !important;
}
.slider_style .slick-dots li{
  margin: 0 8px !important;
}
.slider_style .slick-dots li button:before{
  color: #fff!important;
  font-size: 8px !important;
  opacity: 1 !important;
  line-height: 26px !important;
}
.slider_style .slick-dots li.slick-active button:before{
  color: #a5a5a5!important;
  opacity: 1 !important;
}
.right_arrow .slider_col3_2 .slick-prev:before{
  display: none;
}
/* メインスライダー */
#mv_coupon_slider .slick-prev{
  width: 0;
  left: -15px;
}
#mv_coupon_slider .slick-next{
  width: 0;
  right: -2px;
}
#mv_coupon_slider .slick-arrow:before{
  color: #1d1d1d;
  font-size: 30px !important;
  line-height: 0 !important;
}
#mv_coupon_slider .slick-prev:before{
  position: absolute;
  top: 5px !important;
}
#mv_coupon_slider .slick-next:before{
  top: 55% !important;
  right: 34% !important;
}
.slider_style .slick-dotted.slick-slider{
  margin-bottom: 0 !important;
}
/* 即癒しスライダー */
#iyashi_s .slick-arrow{
  background-color: #8cdbe0;
}
/* 新人セラピストスライダー */
#new_face_s .slick-arrow{
  background-color: #67d997;
}
/* お店ランキング */
#s_shop_ranking .slick-next {
  background-color: #4894cb;
}
/* セラピストランキング */
#s_staff_ranking .slick-next{
  background-color: #e64d95;
}

/* もっと見るボタン デザイン */
.more_btn_style{
  width: 75.5px;
  height: 19px;
  padding: 2px 0px 2px 2px;
  background: #fefefe;
  box-shadow:0px 1px 4px -1px rgba(47,43,47,0.47);
  border-radius: 3px;
  color: #222;
  font-family: "メイリオ";
  font-size: 1rem;
  text-align: center;
}
.more_btn_style img{
  width: 13px;
  height: 13px;
  padding: 2px 3px;
  border-radius: 3px;
}
.style_2{
  width: 100%;
  height: 33px;
  font-size: 14px;
}
.style_2 img{
  width: 16px;
  height: 17px;  
  border-radius: 3px;
}
.sky{
  background:linear-gradient( #ffffff 0%, #ffffff 24%, #e7e7e7 47%, #eff5f9 61%, #fefefe 100%);
  border: 1px solid #27d4df;
}
.sky img{
  background-color: #27d4df;
}
.red{
  background: linear-gradient( #ffffff 0%, #ffffff 24%, #e7e7e7 47%, #f9eff3 61%, #fefefe 100%);
  border: 1px solid #cc042f;
}
.red img{
  background-color: #cc042f;
}
.blue{
  background: linear-gradient( #ffffff 0%, #ffffff 24%, #e7e7e7 47%, #eff3f9 61%, #fefefe 100%);
  border: 1px solid #4894cb;
  font-weight: normal;
  letter-spacing: 1px;
}
.blue img{
  background-color: #4894cb;
  margin-bottom: 2px;
}
.pink{
  background: linear-gradient( #ffffff 0%, #ffffff 24%, #e7e7e7 47%, #f6e9ef 61%, #fefefe 100%);
  border: 1px solid #e64d95;
  font-weight: normal;
  letter-spacing: 1px;
}
.pink img{
  background-color: #e64d95;
  margin-bottom: 2px;
}
.yellow{
  background: linear-gradient( #ffffff 0%, #ffffff 24%, #e7e7e7 47%, #f9f5ef 61%, #fefefe 100%);
  border: 1px solid #ffbc08;
  font-weight: normal;
  letter-spacing: 1px;
}
.yellow img{
  background-color: #ffbc08;
}
.purple{
  background: linear-gradient( #ffffff 0%, #ffffff 24%, #e7e7e7 47%, #d3d1ed 61%, #fefefe 100%);
  border: 1px solid #c6c3f2;
  font-weight: normal;
  letter-spacing: 1px;
}
.purple img{
  background-color: #6e68f0;
}
.purple2{
  background: linear-gradient( #ffffff 0%, #ffffff 24%, #e7e7e7 47%, #f3e0f6 61%, #fefefe 100%);
  border: 1px solid #c250d7;
  font-weight: normal;
  letter-spacing: 1px;
}
.purple2 img{
  background-color: #c250d7;
}
.orange{
  background: linear-gradient( #ffffff 0%, #ffffff 24%, #e7e7e7 47%, #eff5f9 61%, #fefefe 100%);
  border: 1px solid #fb724d;
  font-weight: normal;
}
.orange img{
  background-color: #fb724d;
}
.orange2{
  background: linear-gradient( #ffffff 0%, #ffffff 24%, #fef6f3 47%, #fbede9  61%, #fefefe 100%);
  border: 1px solid #fb724d;
  font-weight: normal;
}
.orange2 img{
  background-color: #fb724d;
}
.green{
  background: linear-gradient( #ffffff 0%, #ffffff 24%, #e7e7e7 47%, #eaf6e9 61%, #fefefe 100%);
  border: 1px solid #50d789;
  font-weight: normal;
}
.green img{
  background-color: #50d789;
}
/* もっと見るボタン-サイドエリア- */
.side_more_area{
  margin-top: 5px;
  padding: 5px;
  text-align: right;
  background-color: #fbf9f4;
}
.side_more_btn{
  color: #222;
  font-size: 12px;
  display: inline-flex;
}
.side_more_btn img{
  width: 14px;
  height: 14px;
  margin:1px 0 0 2px;
  padding: 2px 3px;
  border-radius: 3px;
}
.s_orange:hover{
  color: #fb724d;
  font-weight: bolder;
}
.s_orange img{
  background-color: #fb724d;
}
.s_purple:hover{
  color: #c250d7;
  font-weight: bolder;
}
.s_purple img{
  background-color: #c250d7;
}
/* ピックアップエリアアイコンデザイン */
.icon{
  width: 83px;
  height: 21px;
  padding:3px 0 0 24px;
  color: #fff;
  font-size: 11px;
  text-align: center;
}
.coupon_icon{
  background: #cc042f url(../images/icon_coupon_wht.png) 7px center no-repeat;
}

/* バッチデザイン */
.badge2{
  height: 17px;
  margin-right: 2%;
  padding: 0 5px 0 24px;
  background: url(../images/coupon_wht_bg.png) 5px 3px no-repeat;
  background-size: 16px;
  color: #fff;
  font-size: 10px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 1.8rem;
}
.sp_badge{
  width: 70px;
  height: 20px;
  margin-right: 5px;
  color: #fff;
  display: inline-block;
  text-align: center;
}
.coupon_badge{
  width: 90px;
  padding-left: 18px;
  background: url(../images/coupon_wht_bg.png) 5px center no-repeat;
  background-size: 14px;
  font-weight: bold;
}
.event_mark{
  background-color: #8950a6;
}
.news_mark{
  background-color: #1ea6df;
}
.experience_mark{
  background-color: #4cae6d;
}
.no_mark{
  background-color: #f9f9f9;
  border: 1px solid #d5d5d5;
}
.coupon_mark{
  background-color: #cc042f;
}
.new_face_mark{
  background-color: #e64d95;
}
.work_mark{
  background-color: #27d4df;
}
/* ページャー */
.page_number_link{
padding-bottom: 20px;
}
.page_number_link ul{
  width: 473px;
  margin: auto;
}
.page_number_link li{
  margin-right: 10px;
}
.page_number_link li:last-child{
  margin-right: 0;
}
.page_number_link a{
  padding: 5px 10px;
  background: -moz-linear-gradient( #ffffff 0%, #fafafa 50%, #f2f2f2 100%);
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), color-stop(50%, #fafafa), to(#f2f2f2));
  background: -webkit-linear-gradient( #ffffff 0%, #fafafa 50%, #f2f2f2 100%);
  background: -o-linear-gradient( #ffffff 0%, #fafafa 50%, #f2f2f2 100%);
  background: -ms-linear-gradient( #ffffff 0%, #fafafa 50%, #f2f2f2 100%);
  background: linear-gradient( #ffffff 0%, #fafafa 50%, #f2f2f2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=#ffffff, endColorstr=#f2f2f2,GradientType=0 );
  border: 1px solid #ddd;
  border-radius: 3px;
  color: #556270;
  font-size: 13px;
  font-weight: bold;
  display: inline-flex;
}
.page_number_link a:hover{
  background: #d8f1d2;
}
.page_number_link .active{
  color: #fff;
  background: #50d789;
  border: 1px solid #22be64;
}
/* 店舗詳細の共通デザイン */
.shop_detail_main{
  width: 1200px;
  margin: 10px auto 100px auto;
  padding: 1px;
  border: 1px solid #e7e7e7;
}
.shop_detail_inner{
  border-top: 8px solid #50d789;
}
.shop_detail_inner_group{
  width: 1140px;
  margin: auto;
}
.shop_top_area{
  margin-top: 20px;
  box-shadow: 0px 1px 4px #ccc;
}
.shop_name_wrap{
  padding: 10px 15px 0 15px;
}
/* テーブルデザイン */
.nationwide_map table{
  width: 98%;
  margin: auto;
  background-color: #fff;
  border: 1px solid #a38a72;
}
.nationwide_map table th{
  padding: 2px 5px 2px 27px;
  color: #613d20;
  font-size: 10px;
  font-weight: normal;
  text-align: left;
}
.nationwide_map table td{
  color: #2e2218;
  background-color: #ffffff;
  font-size: 12px;
  text-align: center;
  letter-spacing: 0;
}
.nationwide_map table td:nth-child(2n){
  background-color: #f6f6f6;
}
.nationwide_map table td span{
  margin-right: 2px;
  font-size: 16px;
}
.nationwide_map .shop{
  background: url(../images/top/icon_bed.png) 6px center no-repeat #f3e9dc;
}
.nationwide_map .women{
  background: url(../images/top/icon_women.png) 12px center no-repeat #f3e9dc;
  background-size: 10px;
}
.nationwide_map .coupon{
  background: url(../images/top/icon_coupon.png) 8px 6px no-repeat #f3e9dc;
  background-size: 16px;
}
/* タイプボタンデザイン */
.type_btn a{
  padding:5px 0;
  text-align: center;
  background: linear-gradient(#fff, #f9f6ef);
  border: 1px solid #ceb57d;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.3);
}
.b_col3{
  width: 98%;
  margin: auto;
}
.b_col3 a{
  width: 33%;
  margin: 0px 1px;
  color: #222;
  font-size: 14px;
  display: block;
}
.b_col1 a{
  width: 170px;
  margin: auto;
  color: #613d20;
  font-size: 1.4rem;
  display: block;
}
.gps_search a{
  margin-top: 10px;
  padding-left: 8%;
  background: url(../images/icon_map.png) 15% 7px no-repeat,linear-gradient(#fff, #f9f6ef);
  background-size: 18px;
}
/*フッター*/
footer{
  padding: 40px 0;
  background-color:#f3e9dc;
}
.footer_area{
  width: 1200px;
  margin: auto;
  font-size: 14px;
}
.footer_area h3{
  color: #a38a72;
  font-size: 16px;
  font-weight: bold;
}
.footer_area div{
  margin-bottom: 20px;
}
.footer_area li{
  border-left: 1px solid #222;
  margin-bottom: 5px;
}
.footer_area a{
  padding: 0 10px;
  color: #222;
}
.footer_area li a:hover{
  background-color: #a38a72;
  color: #fff;
}
/* sp */
@media screen and (max-width: 834px){

  /* グローバルナビゲーション */
  .global-nav {
    display: none;
    padding: 50px;
    position: fixed;
    top: 0;
    right: 25%;
    bottom: 0;
    left: 0;
    background: -webkit-gradient(linear, left top, left bottom, from(#206fbd), to(#509ae4));
    background: -webkit-linear-gradient(top, #206fbd, #509ae4);
    background: -o-linear-gradient(top, #206fbd, #509ae4);
    background: linear-gradient(180deg, #206fbd, #509ae4);
    z-index: 99;
    font-size: 1.8rem;
  }
  .global-nav .menu {
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .global-nav li {
    width: 100%;
    margin-left: 0;
    padding-left: 20px;
    position: relative;
  }
  .global-nav li:not(:last-child) {
    margin-bottom: 2em;
  }
  .global-nav li:after {
    content: '';
    width: 6px;
    height: 12px;
    margin-top: -6px;
    position: absolute;
    top: 50%;
    left: 0;
    display: block;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20class%3D%22arrow_next%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20206.3%20377.4%22%3E%3Cpath%20d%3D%22M202.7%20197.4c4.8-4.9%204.8-12.6%200-17.4C142.8%20121.1%2082%2062.2%2021.2%203.2%209.6-7.4-7.8%2010%203.8%2020.6c57.9%2056%20114.9%20112%20172.8%20168-57.9%2056-114.9%20112-172.8%20168-10.6%2011.6%205.8%2028%2017.4%2017.4C82%20315.1%20142.8%20256.2%20202.7%20197.4z%22%20fill%3D%22%23FFF%22%2F%3E%3C%2Fsvg%3E");
    background-repeat: no-repeat;
    background-size: contain;
  }
  .global-nav .btn-type01 {
    padding: 0;
    border-radius: 0;
    border: none;
  }
  .global-nav a {
    color: #FFF;
  }
  
  
  
  
}