@charset "UTF-8";

/* 店舗詳細 スタイル */
.main_area{
  width: 1140px;
  margin: 20px auto 0 auto;
  padding-bottom: 28px;
}
.open_area_type{
  padding-bottom: 5px;
}
.open{
  margin-right: 10px;
  padding: 0 14px 0 30px ;
  background: url(../../images/shop_list/icon_door.png) 12px 5px no-repeat;
  border: 1px solid #50d789;
  border-radius: 15px;
}
.shop_kuchikomi_wrap{
  text-align: right;
}
.shop_kuchikomi_wrap p{
  padding: 12px 0 0 20px;
  background: url(../../images/shop_list/icon_list_ore.png) 2px 18px no-repeat;
  font-size: 12px;
}
.shop_kuchikomi_wrap img{
  margin: 0 5px;
}
.shop_kuchikomi_wrap p span{
  margin-right: 2px;
  font-size: 21px;
}
.shop_kuchikomi_wrap p a{
  padding: 0 5px;
  color: #50d789;
  border-bottom: 1px solid #50d789;
}
.okiniiri{
  padding:5px 14px 5px 32px;
  color: #777;
  font-size: 14px;
  background: url(../../images/shop_list/icon_heart_gry.png) 12px 8px no-repeat;
  border-radius: 5px;
  border: 1px solid #777;
}
.shop_name_wrap{
  padding-bottom: 6px;
}
.shop_name_wrap h2{
  color: #50d789;
  font-size: 30px;
}

.shop_detail_wrap {
  height:42px;
  background-color: #f7f3ed;
  box-shadow: 2px 2px 4px #ccc;
}
.shop_detail_wrap h3{
  font-size: 24px;
  font-weight: normal;
}
.shop_detail_wrap h3 span{
  margin-left: 10px;
  padding-left: 30px;
  font-size: 16px;
  font-weight: normal;
  background: url(../../images/shop_list/icon_clock_br.png) 6px 0 no-repeat;
}
.shop_detail_wrap h3 .womens{
  background: url(../../images/staff/icon_womens_brn.png) 6px 0 no-repeat;
}
.staff_count{
  margin-right: 20px;
  padding:2px 10px 2px 30px;
  font-size: 12px;
  background: #fff url(../../images/shop_list/icon_hell.png) 12px 10px no-repeat;
  border-radius: 20px;
  border: 1px solid #50d789;
}
.staff_count span{
  color: #ff55a5;
  font-size: 18px;
}
.shop_mai_inner_wrap{
  width: 1140px;
  margin: 11px auto 15px auto;
  position: relative;
}
.shop_main_inner_left{
  height: 250px;
  border: 15px solid #efefef;
  margin-right: 30px;
}


.contents_left_area{
  width: 790px;
  margin-right: 30px;
}

.section_wrap{
  margin-bottom: 15px;
}
.section_title{
  margin-bottom: 5px;
}

/* リアルタイム速報 */
.sokuhou_area{
  padding-bottom: 31px;
}
.sokuhou_innner{
  margin-bottom: 20px;
}
.sokuhou_inner_top{
  position: relative;
}
.sokuhou_inner_top .dot{
  position: absolute;
  left: 15px;
  bottom: -11px;
}
.top_inner{
  padding: 6px 5px 4px 5px;
  color: #222;
  font-size: 14px;
  letter-spacing: 0;
}
.more_btn_style{
  margin-bottom: 2px;
}
.bg_p{
  background-color: #f3e9f8;
}
.bg_g{
  background-color: #f0f8e9;
}
.bg_lb{
  background-color: #e9eff8;
}
.badge3{
  margin-right: 5px;
}
.sokuhou_bottom{
  width: 754px;
  margin: 15px auto 40px auto;
  position: relative;
}
.sokuhou_img{
  width: 240px;
  height: 100%;
  margin-right: 15px;
}
.bottom_inner{
  position: relative;
}
.bottom_inner h3{
  margin-bottom: 12px;
  color: #6e68f0;
  font-size: 18px;
}
.bottom_inner p{
  color: #222;
  font-size: 14px;
  letter-spacing: 0;
}
.new_icon{
  position: absolute;
  right: 0;
  bottom: -30px;
}
/* モーダルデザイン */
.modaal-container{
  width: 790px !important;
}
.modaal-content-container{
  padding: 0 !important;
}
.modal_inner{
  position: relative;
}
.close{
  width: 48px;
  height: 48px;
  background: #ffffff;
  background: -moz-linear-gradient( #fefefe 0%, #f1eff9 80%, #e7e7e7 90%, #ffffff 100%);
  background: -webkit-gradient(linear, left top, left bottom, from(#fefefe), color-stop(80%, #f1eff9), color-stop(90%, #e7e7e7), to(#ffffff));
  background: -webkit-linear-gradient( #fefefe 0%, #f1eff9 80%, #e7e7e7 90%, #ffffff 100%);
  background: -o-linear-gradient( #fefefe 0%, #f1eff9 80%, #e7e7e7 90%, #ffffff 100%);
  background: -ms-linear-gradient( #fefefe 0%, #f1eff9 80%, #e7e7e7 90%, #ffffff 100%);
  background: linear-gradient( #fefefe 0%, #f1eff9 80%, #e7e7e7 90%, #ffffff 100%);
  border-radius: 50px;
  box-shadow:-6px 7px 6px -9px rgba(0,0,0,0.29);
  color: #222;
  font-size: 32px;
  position: absolute;
  top: -23px;
  right: -32px;
  z-index: 1;
}
.inner_modal{
  margin-bottom: 0;
}
.bottom_type2{
  width: 98%;
  margin: 15px auto;
}
.bottom_type2 img{
  margin-right: 15px;
}
.bottom_type2 .bottom_inner{
  width: 100%;
}
.bottom_type3{
  text-align: center;
}
.modaal-close{
  display: none !important;
}
.img_area{
  padding-bottom:18px;
  border-bottom: 1px solid #e2e2e2;
}
.bottom_type3 .modal_bottom {
  width: 55%;
  padding: 18px 0;
  text-align: left;
}
.modal_bottom ul{
  margin-bottom: 32px;
  font-size:14px; 
}
.modal_bottom ul li span{
  margin-left: 60px;
}

/* サイドコンテンツ */
.contents_right_area{
  width: 320px;
}
.side_contents_title{
  background-color: #fbf9f4;
  border-bottom: 1px solid #a38a72;
}
.side_contents_title h5{
  padding: 8px 0 7px 40px;
  background-color: #fbf9f4;
  color: #1d1d1d;
  font-size: 18px;
}
.side_contents_title .green{
  width: 83px;
}
/* 新人セラピスト */
.new_face_inner img{
  width: 100%;
}
.new_face_text{
  width: 100%;
}
.new_face_text p{
  width: 190px;
  padding: 3px 0;
  margin-bottom: 6px;
}
.new_face_text ul li{
  font-size: 14px;
}
.new_face_text ul li:first-child{
  font-size: 11px;
}
.new_face_text ul li .name{
  font-size: 16px;
}
/* お店PR動画 */
.movie_text{
  width: 195px;
  margin-top: 0;
  line-height: 1em;
  letter-spacing: 0;
}
.movie_text p{
  color: #222;
  font-size: 12px;
}
.movie_text p:first-child{
  margin: 0 0 5px 0;
  padding: 5px 0;
  color: #000;
  background-color: #fbf9f4;
  border: 1px solid #888;
  text-align: center;
}
.movie_text a{
  color: #c250d7;
  font-size: 14px;
}

/* 姉妹店情報 */
.sis_stor_area{
  border: 5px solid #fff;
  border-bottom: 0;
}
.sis_store{
  background: #a38a72 url(../../images/shop_detail/icon_link_pur.png) 12px 8px no-repeat;
}
.sis_stor_area ul li{
  padding: 10px 5px;
  background: url(../../images/shop_detail/arrow_right_gry.png) right center no-repeat;
  border-bottom: 1px solid #f3e9dc;
  line-height: 1.2em;
}
.sis_stor_area ul li:last-child{
  border-bottom: 0;
}
.sis_stor_area ul li a{
  color: #d03791;
  font-size:14px;
  display: block;
}

.sis_stor_area ul li a span{
  color: #222;
  font-size: 12px;
}


.modal_inner {
  width: 610px;
}
