@charset "UTF-8";
/* 即癒し一覧 スタイル */

/*チェックボックススタイル*/
.area_table div{
  margin-bottom: 3px;
}
.checkbox label:before{
  border: 1px solid #27d4df;
}
.checkbox input[type=checkbox]:checked + label:before{
  background-color: #27d4df;
}
.checkbox-1 label{
  margin-left: 4px;
}
.checkbox-1 label:before{
  border: 1px solid #27d4df;
}
.checkbox-1 label:nth-child(1n){
  margin-left: 0;
}
.checkbox-1 input[type=checkbox]:checked + label:before{
  background-color: #27d4df;
}
.kensuu{
  font-size: 14px;
  margin-bottom: 8px;
}
.kensuu span{
  font-size: 18px;
}

/* ラジオボタンスタイル */
/* ラベルのスタイル */
.radio label {
	padding-left:		20px;			/* ラベルの位置 */
	line-height:		16px;
	display:		inline-block;
	cursor:			pointer;
	position:		relative;
  margin-right: 14px;
}
.radio label:before{
  content:		'';
	width:			14px;			/* ボックスの横幅 */
	height:			14px;			/* ボックスの縦幅 */
	display:		inline-block;
	position:		absolute;
	left:0;
	background-color:	#fff;
	border-radius: 50px;
  border: 1px #27d4df solid;
}
/* 元のチェックボックスを表示しない */
.radio input[type=radio] {
	display:		none;
}
/* チェックした時のスタイル */
.radio input[type=radio]:checked + label:before {
	content:		'\02022';		/* チェックの文字 */
	font-size:	22px;			/* チェックのサイズ */
	color:			#27d4df;			/* チェックの色 */
	background-color:	#fff;			/* チェックした時の色 */
  border: 1px #27d4df solid;
  line-height: 0.6em;
}
/* テキストエリア */
.free_text_area{
  margin:15px auto;
  border: 0;
}
/* 店舗ランキング一覧 */
.shop_inner_wrap{
  margin-bottom: 14px;
  box-shadow: 0px 1px 4px #ccc;
}
.shop_top_area{
  margin-top: 0;
  border: 10px solid #e5f7ce;
  box-shadow: none;
}
.shop_top_area_wrap{
  width: 97%;
  margin: auto;
  padding-top:10px; 
}
.ranking_number2{
  margin:2px 5px 0 0;
}
.ranking_number2.style{
  width: 58px;
  height: 58px;
  margin-top: 10px;
  padding-top: 15px;
  text-align: center;
  color: #fff;
  background-color: rgba(0,6,10,0.8);
  border-radius: 50%;
  font-family: "ヒラギノ明朝 ProN W8", "HiraMinProN-W8", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
  font-size: 28px;
}
.shop_top_title_wrap{
  width: 100%;
}
.open_area_type{
  font-size: 16px;
}
.open{
  margin-right: 10px;
  padding: 0 14px 0 30px ;
  background: url(../../images/shop_list/icon_door.png) 12px 6px no-repeat;
  border: 1px solid #50d789;
  border-radius: 15px;
}
.shop_kuchikomi_wrap p{
  padding:5px 0 0 20px;
  background: url(../../images/shop_list/icon_list_ore.png) 2px 11px no-repeat;
  font-size: 12px;
}
.shop_kuchikomi_wrap img{
  margin: 0 5px;
}
.shop_kuchikomi_wrap p span{
  margin-right: 2px;
  font-size: 21px;
}
.shop_kuchikomi_wrap p a{
  padding: 0 5px;
  color: #50d789;
  border-bottom: 1px solid #50d789;
}
.okiniiri{
  padding:8px 14px 0 32px;
  margin-left: 10px;
  color: #777;
  font-size: 14px;
  background: url(../../images/shop_list/icon_heart_gry.png) 12px 10px no-repeat;
  border-radius: 5px;
  border: 1px solid #777;
}
.shop_name_wrap{
  margin: 0 auto;
  padding: 0;
}
.shop_name_wrap h2{
  color: #50d789;
  font-size: 26px;
}
.shop_name_wrap p{
  padding-left: 22px;
  color: #222;
  background: url(../../images/shop_list/icon_women_br.png) 0 0 no-repeat;
  font-size: 16px;
}
.shop_detail_wrap {
  height:42px;
  background-color: #f7f3ed;
}
.shop_detail_wrap h3{
  padding-left: 50px;
  font-size: 24px;
  font-weight: normal;
  background: url(../../images/shop_list/icon_tell_br.png) 23px 7px no-repeat;
}
.shop_detail_wrap h3 span{
  margin-left: 20px;
  padding-left: 30px;
  font-size: 16px;
  font-weight: normal;
  background: url(../../images/shop_list/icon_clock_br.png) 6px 0 no-repeat;
}
.staff_count{
  margin-right: 20px;
  padding:2px 10px 2px 30px;
  font-size: 12px;
  background: #fff url(../../images/shop_list/icon_hell.png) 12px 10px no-repeat;
  border-radius: 20px;
  border: 1px solid #50d789;
}
.staff_count span{
  color: #ff55a5;
  font-size: 18px;
}
.ranking_point{
  color: #ff0000;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 1em;
}
.ranking_point span{
  font-size: 12px;
}
.shop_content_wrap{
  width: 944px;
  margin: 15px auto 20px auto;
}
.shop_conten_right_area{
  width: 644px;
  margin-left: 30px;
}
.shop_text_area{
  margin-top: 20px;
  background-color: #f7f3ed;
}
.shop_text_area p{
  padding: 14px 14px 5px 14px;
  color: #222;
  font-size: 16px;
  letter-spacing: 0;
}
.treatment_menu h4{
  padding-left: 30px;
  background: #eafff3 url(../../images/shop_list/icon_list_gre.jpg) 0 0 no-repeat;
  font-size: 16px;
  font-weight: normal;
}
.treatment_menu ul{
  margin-bottom: 5px;
}
.treatment_menu ul:nth-child(1n){
  margin-top: 5px;
}
.treatment_menu li{
  text-align: center;
  margin-right: 5px;
  padding: 2px 5px;
  color: #ae2d5b;
  font-size: 11px;
  border: 1px solid #ae2d5b;
  border-radius: 3px;
}

.treatment_menu table{
  margin-bottom:14px;
  border-top: 1px solid #ccc;
  text-align: left;
  border-collapse:collapse;
}
.treatment_menu table th{
  padding: 3px 0;
  width: 162px;
  color: #1d1d1d;
  border-right: 1px solid #ccc;
  font-size: 16px;
  font-weight: normal;
}
.treatment_menu table td{
  width: 482px;
  padding-left: 16px;
  color: #1d1d1d;
  font-size: 16px;
}
.treatment_menu table tr{
  border-bottom: 1px solid #ccc;
}

.treatment_menu .add{
  padding-left: 28px;
  background: url(../../images/shop_list/icon_gps.png) 8px 4px no-repeat;
}
.treatment_menu .budget{
  padding-left: 28px;
  background: url(../../images/shop_list/icon_en.png) 8px 6px no-repeat;
}
.shop_coupon_area{
  position: relative;
}
.shop_coupon_area p{
  padding-right: 10px;
  position: absolute;
  top:10px;
  background: url(../../images/shop_list/coupon_arrow.png) right 9px no-repeat;
}
.shop_coupon_area a{
  padding:10px 0 8px 76px;
  margin:0 10px 20px 0;
  color: #fff;
  background: url(../../images/shop_list/icon_coupon_title.png) 13px 6px no-repeat;
  font-size: 21px;
}
.shop_coupon_area p img{
  margin-left: 10px;
}

.point_wrap h4{
  padding-left: 30px;
  background: #fdeaff url(../../images/shop_list/icon_point_pink.jpg) 0 0 no-repeat;
  font-size: 16px;
  font-weight: normal;
}
.point_wrap ul{
  margin-bottom: 5px;
}
.point_wrap ul:nth-child(1n){
  margin-top: 5px;
}
.point_wrap ul:last-child{
  margin-bottom: 0;
}
.point_wrap li{
  text-align: center;
  margin-right: 5px;
  padding: 2px 5px;
  color: #754b47;
  font-size: 11px;
  border: 1px solid #754b47;
  border-radius: 3px;
}
.point_wrap li:last-child{
  display: inline-block;
}
.shop_bottom_area{
  border: 10px solid #e5f7ce;
  border-top: 0;
}
.shop_bottom_area table{
  padding: 4px;
}
.shop_bottom_area table th{
  padding-left: 26px;
  font-size: 14px;
  font-weight: normal;
  background: url(../../images/shop_list/icon_time_purp.png) 2px 0 no-repeat;
  border-right: 1px solid #ccc;
}
.shop_bottom_area table th span{
  margin-left: 8px;
  padding-right: 8px;
  font-size: 12px;
}
.shop_bottom_area table td a{
  margin-left: 8px;
  color: #6e68f0;
  font-size: 14px;
}

