@charset "UTF-8";
/* 即癒し一覧 スタイル */

/*チェックボックススタイル*/
.area_table div{
  margin-bottom: 3px;
}
.checkbox label:before{
  border: 1px solid #27d4df;
}
.checkbox input[type=checkbox]:checked + label:before{
  background-color: #27d4df;
}
.checkbox-1 label{
  margin-left: 4px;
}
.checkbox-1 label:before{
  border: 1px solid #27d4df;
}
.checkbox-1 label:nth-child(1n){
  margin-left: 0;
}
.checkbox-1 input[type=checkbox]:checked + label:before{
  background-color: #27d4df;
}
.kensuu{
  font-size: 14px;
  margin-bottom: 8px;
}
.kensuu span{
  font-size: 18px;
}

/* ラジオボタンスタイル */
/* ラベルのスタイル */
.radio label {
	padding-left:		20px;			/* ラベルの位置 */
	line-height:		16px;
	display:		inline-block;
	cursor:			pointer;
	position:		relative;
  margin-right: 14px;
}
.radio label:before{
  content:		'';
	width:			14px;			/* ボックスの横幅 */
	height:			14px;			/* ボックスの縦幅 */
	display:		inline-block;
	position:		absolute;
	left:0;
	background-color:	#fff;
	border-radius: 50px;
  border: 1px #27d4df solid;
}
/* 元のチェックボックスを表示しない */
.radio input[type=radio] {
	display:		none;
}
/* チェックした時のスタイル */
.radio input[type=radio]:checked + label:before {
	content:		'\02022';		/* チェックの文字 */
	font-size:	22px;			/* チェックのサイズ */
	color:			#27d4df;			/* チェックの色 */
	background-color:	#fff;			/* チェックした時の色 */
  border: 1px #27d4df solid;
  line-height: 0.6em;
}
/* テキストエリア */
.free_text_area{
  margin:15px auto;
  border: 0;
}
/* 検索エリア  */
.search_form_wrap{
  padding: 10px 0;
  font-size: 16px;
}
.form_inner_wrap{
  width: 976px;
  margin: auto;
  border-bottom: 2px dashed #a38a72;
  margin-bottom: 10px;
}
.search_form_wrap dl dt{
  width: 148px;
  font-size: 16px;
  font-weight: bold;
}
.search_form_wrap dl dd{
  padding-left: 32px;
}
.box_style{
  margin-bottom: 8px;
  padding: 20px 0 19px 22px;
  border: 1px solid #a38a72;
}
.arrow_right{
  background: url(../../images/shop_iyashi_list/form_arrow_right.png) right 0px no-repeat;
}
.area_plus {
  width: 145px;
  text-align: right;
}
/* エリア選択 */
.plus_btn {
  padding: 5px 50px 5px 0;
  color: #222;
  font-size: 14px;
  background: url(../../images/shop_iyashi_list/icon_plus.png) 82px 2px no-repeat;
}
.minus_btn{
  padding: 5px 50px 5px 0;
  color: #222;
  font-size: 14px;
  background: url(../../images/shop_iyashi_list/icon_minus.png) 82px 2px no-repeat;
}
.area_wrap{
  width: 84%;
}
.area_wrap input{
  display: none;
}
/* 各エリアのチェックボックスエリア*/
.area_checkbox_group{
  padding-top: 25px;
  padding-left: 220px;
  font-size: 14px;
  display: none;
}
.reset_button_area{
  margin: 20px 0 0 190px;
  color: #27d4df;
  font-size: 16px;
  font-weight: bold;
}
.reset_button_area button{
  padding: 8px 20px;
  border: 2px solid #27d4df;
  border-radius: 8px;
}
.reset_button_area button:hover{
  color: #fff;
  background-color: #27d4df;
}
/* 入力エリア */
.word_search_area input{
  width: 760px;
  height: 45px;
  padding-left: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 3px;
}
/* 詳細検索・閉じるボタン */
.detail_search{
  width: 974px;
  margin: auto;
  padding: 5px 0;
  border: 1px solid #a38a72;
  text-align: center;
}
.detail_search span{
  padding: 10px 18px 10px 0;
  color: #222;
}
.detail_btn{
  background: url(../../images/shop_list/down_arrow.png) right center no-repeat;
}
.close_btn{
  background: url(../../images/shop_list/up_arrow.png) right center no-repeat;
}
.btn > span:last-of-type,
.btn.active > span:first-of-type{
  display: none;
}
.btn.active > span:last-of-type {
  display: inline;
}

/* 詳細検索表示エリア */
.detail_search_area{
  display: none;
}

/* 該当件数表示ボタン・クリアボタン */
.button_group{
  text-align: center;
  padding-bottom: 70px;
  margin-bottom: 20px;
  background: url(../../images/shop_iyashi_list/button_group_bg.png) 0 center no-repeat;
  position: relative;
}
.button_group button{
  background-color: #fff;
  border-radius: 8px;
  font-size: 14px;
}
.submit_button{
  padding: 6px 16px 6px 44px;
  color: #e64d95;
  position: absolute;
  left: 30%;
  box-shadow: 3px 3px 10px 0px rgba(255,255,255,0.75) inset,-1px -1px 3px 1px rgba(0,0,0,0.25) inset;
  background: url(../../images/shop_iyashi_list/icon_women_pink.png) 20px center no-repeat;
}
.submit_button span{
  font-size: 18px;
}
.reset_button{
  padding: 9px 16px 9px 46px;
  font-size: 14px;
  color: #777;
  position: absolute;
  left: 51%;
  box-shadow: 3px 3px 10px 0px rgba(255,255,255,0.75) inset,-1px -1px 3px 1px rgba(0,0,0,0.25) inset;
  background: url(../../images/shop_list/icon_reset.png) 20px center no-repeat;
}

/* 結果一覧 */
.result_area_inner{
  margin-bottom: 30px;
}
.staff_card_inner{
  height: 379px;
}

