@charset "UTF-8";
/* 店舗詳細 スタイル */
.main_area{
  width: 1140px;
  margin: 20px auto 0 auto;
  padding-bottom: 28px;
}
.open_area_type{
  padding-bottom: 5px;
}
.open{
  margin-right: 10px;
  padding: 0 14px 0 30px ;
  background: url(../../images/shop_list/icon_door.png) 12px 5px no-repeat;
  border: 1px solid #50d789;
  border-radius: 15px;
}
.shop_kuchikomi_wrap{
  text-align: right;
}
.shop_kuchikomi_wrap p{
  padding: 12px 0 0 20px;
  background: url(../../images/shop_list/icon_list_ore.png) 2px 18px no-repeat;
  font-size: 12px;
}
.shop_kuchikomi_wrap img{
  margin: 0 5px;
}
.shop_kuchikomi_wrap p span{
  margin-right: 2px;
  font-size: 21px;
}
.shop_kuchikomi_wrap p a{
  padding: 0 5px;
  color: #50d789;
  border-bottom: 1px solid #50d789;
}
.okiniiri{
  padding:5px 14px 5px 32px;
  color: #777;
  font-size: 14px;
  background: url(../../images/shop_list/icon_heart_gry.png) 12px 8px no-repeat;
  border-radius: 5px;
  border: 1px solid #777;
}
.shop_name_wrap{
  padding-bottom: 6px;
}
.shop_name_wrap h2{
  color: #50d789;
  font-size: 30px;
}

.shop_detail_wrap {
  height:42px;
  background-color: #f7f3ed;
  box-shadow: 2px 2px 4px #ccc;
}
.shop_detail_wrap h3{
  font-size: 24px;
  font-weight: normal;
}
.shop_detail_wrap h3 span{
  margin-left: 10px;
  padding-left: 30px;
  font-size: 16px;
  font-weight: normal;
  background: url(../../images/shop_list/icon_clock_br.png) 6px 0 no-repeat;
}
.shop_detail_wrap h3 .womens{
  background: url(../../images/staff/icon_womens_brn.png) 6px 0 no-repeat;
}
.staff_count{
  margin-right: 20px;
  padding:2px 10px 2px 30px;
  font-size: 12px;
  background: #fff url(../../images/shop_list/icon_hell.png) 12px 10px no-repeat;
  border-radius: 20px;
  border: 1px solid #50d789;
}
.staff_count span{
  color: #ff55a5;
  font-size: 18px;
}
.shop_mai_inner_wrap{
  width: 1140px;
  margin: 11px auto 15px auto;
}
.shop_main_inner_left{
  height: 250px;
  border: 15px solid #efefef;
  margin-right: 30px;
}
.shop_main_inner_right{
  width: 320px;
  height: 250px;
  border: 10px solid #efefef;
}
/* 電話番号とSNSエリア */
.inner_right_area{
  margin-top: 5px;
  padding:24px 15px 0 15px;
  position: relative;
}
.right_area_top{
  padding-bottom: 8px;
  border-bottom: 1px solid #bfbfbf;
}
.right_area_top img{
  position: absolute;
  top:16px;
}
.right_area_top p{
  color: #000;
  font-size: 12px;
  letter-spacing: 0;
  position: absolute;
  top: 18px;
  left: 40px;
}
.right_area_top p span{
  color: #50d789;
  font-size: 14px;
}
.right_area_top h3{
  margin: 10px 0 0 36px;
  color: #50d789;
  font-size: 26px;
  font-weight: bold;
  letter-spacing: 0;
}
.right_area_bottom_left .official_site{
  padding:10px 8px 10px 35px;
  color: #000;
  font-size: 12px;
  background: url(../../images/shop_detail/icon_site_green.png) 14px 10px no-repeat;
  border: 1px solid #50d789;
  border-radius: 5px;
  line-height: 5.5em;
  box-shadow:1px 5px 0px -3px #cccccc;
}
.sns_title_wrap img{
  width: 42px;
  height: 1px;
  margin-top: 8px;
}
.sns_title_wrap p{
  padding: 0 5px;
  color: #000;
  font-size: 11px;
}
.right_area_bottom_left ul{
  margin-top: 9px;
}
.right_area_bottom_left li{
  margin-right: 3px;
}
.right_area_bottom_left li:last-child{
  margin-right: 0;
}
.right_area_bottom_right{
  margin-top:11px;
  padding: 0 5px;
}
.right_area_bottom_right a{
  padding-left: 17px;
  color: #000;
  font-size: 12px;
  background: url(../../images/shop_detail/icon_sp.png) 0 0 no-repeat;
  letter-spacing: 0;
}

.main_wrap_area{
  margin-top: 20px;
}
.contents_left_area{
  width: 790px;
  margin-right: 30px;
}

.section_wrap{
  margin-bottom: 15px;
}
/* タイトルスタイル */
.section_title{
  margin-bottom: 20px;
}
.schedule_title{
  background: #fbf9f4 url(../../images/pref/border_blu.jpg) left center no-repeat;
}
.schedule_title h2{
  padding-left: 45px;
  background: url(../../images/shop_detail_schedule_list/icon_calendar.png) 17px 11px no-repeat;
}
.schedule_title h2 span{
  font-size: 16px;
}
/* カレンダーエリア */
.schedule_main_wrap{
  width: 1110px;
  margin: auto;
}
.week_schedule{
  width: 100%;
  height: 60px;
  margin-bottom: 21px;
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 5px;
  border-spacing: 0;
  box-shadow: 0 2px 0 #ccc;
}
.week_schedule td{
  text-align: center;
  border-right: 1px solid #ddd;
}
.week_schedule td:last-child{
  border-right: 0;
}
.week_schedule td a{
  height: 58px;
  color: #1d1d1d;
  font-size: 16px;
  letter-spacing: 0em;
  display: block;
  line-height: 3.3em;
}
.week_schedule td a:hover{
  background-color: #ddd;
}
.youbi{
  font-size: 12px;
}
.week_schedule .active a{
  color: #27d4df;
  border-bottom: 5px solid rgba(39,212,223,0.5);
}
.week_schedule .active .today{
  margin-left: 5px;
  padding: 2px 12px;
  background-color: #27d4df;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
}
.week_schedule .sat{
  background-color: #edf7fc;
}
.week_schedule .sun{
  background-color: #fbedfc;
}

/*タブのスタイル*/
/*タブ切り替え全体のスタイル*/
.tabs {
  width: 100%;
  margin-top: 50px;
  background-color: #fff;
  margin: 0 auto;
}

/*タブのスタイル*/
.tab_item {
  width: 180px;
  height: 54px;
  padding-left: 10px;
  color: #565656;
  line-height: 4em;
  font-size: 14px;
  display: block;
  float: left;
  text-align: center;
  transition: all 0.2s ease;
  border-right: 1px solid #fff;
}

.tab_item:hover {
  opacity: 0.75;
}
.women_icon{
  margin-left: 380px;
  background: url(../../images/shop_detail_schedule_list/icon_women_gry.png) 18px 14px no-repeat;
  border: 1px solid #e1e1e1;
  border-bottom: 0;
  border-radius: 5px 0 0 0;
}
.time_icon{
  background: url(../../images/shop_detail_schedule_list/icon_time_gry.png) 14px 14px no-repeat;
  border: 1px solid #e1e1e1;
  border-bottom: 0;
  border-radius: 0 5px 0 0;
}
.time_icon span{
  font-size: 12px;
}

/*ラジオボタンを全て消す*/
input[name="tab_item"] {
  display: none;
}

/*タブ切り替えの中身のスタイル*/
.tab_content {
  display: none;
  clear: both;
  overflow: hidden;
  padding-bottom: 100px;
  border-top: 4px solid #e64d95;
}

/*選択されているタブのコンテンツのみを表示*/
#today_schedule:checked ~ #today_schedule_content,
#iyashi_waiting:checked ~ #iyashi_waiting_content{
  display: block;
}

/*選択されているタブのスタイルを変える*/
.tabs input:checked + .tab_item {
  background-color: #e64d95;
  color: #fff;
  border: 1px solid #e64d95;
  border-bottom: 0;
}
.tabs input:checked + .women_icon {
  margin-left: 380px;
  background: url(../../images/shop_detail_schedule_list/icon_women_wht.png) 18px 14px no-repeat #e64d95;
}

.tabs input:checked + .time_icon {
  background: url(../../images/shop_detail_schedule_list/icon_time_wht.png) 14px 14px no-repeat #e64d95;
  border-radius: 0 5px 0 0;
}


/* 本日の出勤予定タブ内容  */
.result_area{
  margin-top: 10px;
}
.result_area_inner{
  margin-bottom: 10px;
}
.staff_card_wrap{
  width: 214px;
  margin: 0 10px 0 0;
  border: 1px solid #f4bed8;
}
.staff_card_wrap:nth-child(5n){
  margin-right: 0;
}
.staff_card_wrap:nth-child(n+6){
  margin-top: 10px;
}
.staff_card_inner{
  border: 1px solid #fff;
}
.time_area{
  width: 210px;
  height: 32px;
  background-color:#fff4f9;
}
.time_area h3{
  background-color: #effeff;
  color: #27d4df;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  line-height: 2.3em;
  letter-spacing: 0;
}

.img_area{
  position: relative;
}
.img_area{
  width: 210px;
  height: 280px;
}
.img_area .new_face_icon{
  width: 30px;
  height: 36px;
  position: absolute;
  top: 5px;
  left: 7px;
}
.staff_card_inner .img_area .cup_size{
  width: 40px;
  height: 37px;
  padding: 7px 0 0 7px;
  background: url(../../images/shop_detail_schedule_list/cup_size_bg.png) no-repeat;
  color: #e64d95;
  font-family: "Open Sans";
  font-size: 24px;
  font-weight: normal;
  text-align: center;
  position: absolute;
  right: 0;
  bottom: 0;
  line-height: 0.5em;
}
.cup_size span{
  color: #1d1d1d;
  font-size: 12px;
}
.text_area {
  padding: 4px 5px;
  position: relative;
}
.text_area img{
  width: 24px;
  height: 21px;
  position: absolute;
  right: 4px;
  bottom: 4px;
}
.text_inner h2{
  color: #e64d95;
  font-size: 18px;
}
.text_inner h2 span{
  color: #1d1d1d;
  font-size: 14px;
  font-weight: normal;
}
.text_inner p{
  color: #1d1d1d;
  font-size: 12px;
  letter-spacing: 0;
}
