@charset "UTF-8";

/* 都道府県TOP スタイル */
.section_wrap{
  margin-bottom: 15px;
}
/* メインヴィジュアル */
.main_coupon_area{
  width: 774px;
  height: 284px;
  margin-bottom: 4px;
  text-align: center;
  border: 6px solid #f3e9dc;
  background-color: #f3e9dc;
}
/* .main_coupon_area a{
  margin: auto;
} */
.mv_coupon {
  width: 760px;
  height: 220px;
  margin: 0 auto 4px auto;
}

.mv_coupon img{
  border: 1px solid #fff;
}

.coupon_text_area{
  width: 760px;
  margin: auto;
  padding-bottom: 1px;
  text-align: left;
  position: relative;
}

.text{
  margin-left: 5px;
  color: #222;
  font-size: 11px;
  line-height: 1.5em;
  letter-spacing: 0em;
}
.text span{
  font-size: 16px;
  font-weight: bold;
}
.coupon_text_area .pick_up{
  width: 44px;
  height: 44px;
  margin-top: 2px;
}
.coupon_text_area .icon_style{
  position: absolute;
  right: -1px;
}

/* メインヴィジュアル-スライダー- */
.slider_area{
  width: 234px;
  height: 284px;
  text-align: center;
  background-color: #f3e9dc;
  margin-left:5px;
}
.slider_area img{
  margin: 7px auto;
  border: 3px solid #fff;
}
/* お知らせバナーエリア-4カラム- */
.news_bnr{
  height: 107px;
  margin-bottom: 13px;
  background-color: #f3e9dc;
}

.news_bnr .col_4{
  width: 990px;
  margin: auto;
  padding-top: 7px;
  position: relative;
}

.col_innner{
  width: 245px;
  height: 94px;
  border-right: 2px solid #fff;
  border-top: 3px solid #fff;
  border-bottom: 3px solid #fff;
}
.col_innner:first-child{
  border-left: 3px solid #fff;
}
.col_innner:nth-child(4n){
  border-right: 3px solid #fff;
}


.col_innner img{
  width: 243px;
}
.col_innner img:first-child{
  width: 243px;
}
.col_innner p{
  width: 243px;
  padding: 3px 0;
  background-color: #000;
  opacity: 0.8;
  color: #fff;
  font-size: 12px;
  font-family: "ＭＳ Ｐゴシック";
  letter-spacing: 0em;
  text-align: center;
  position: absolute;
  bottom: 3px;
}
/* メインコンテンツ */
/* タイトル */
h2{
  height: 46px;
  padding-top: 7px;
  padding-left: 36px;
  color: #1d1d1d;
  font-size: 24px;
  font-weight: bold;
}

h2 span{
  margin-left: 10px;
  color: #222;
  font-size: 11px;
}

.section_title{
  background-color: #fbf9f4;
  margin-bottom: 5px;
}
.section_title a{
  margin: 0 10px 0 20px;
}
/* 即癒し */
.iyashi{
  background: #fbf9f4 url(../../images/pref/border_blu.jpg) left center no-repeat;
}
.iyashi h2{
  background: url(../../images/pref/icon_hourglass.png) 14px 10px no-repeat;
}

.date_time{
  margin-top: 5px;
  font-size: 16px;
  font-family: "ＭＳ Ｐゴシック";
}

.count{
  margin: auto 5px;
  padding: 4px 12px;
  color: #fff;
  background-color: #27d4df;
  border-radius: 5px;
  font-size: 18px;
  font-family: "メイリオ";
}
/* 即癒し-スライダー- */
.iyashi_slider_area{
  border: 6px solid #27d4df;
  width: 1012px;
}

.iyashi_slider_innner{
  margin: 0 20px;
  border: 6px solid #fff;
}
.card{
  width: 150px;
  height: 300px;
  text-align: center;
  border: 1px solid #d9e7e8;
  background-color: #fbf9f4;
  margin: 0 2px;
}
.arrow_type2{
  width: 20px;
  text-align: center;
  background-color: #8cdbe0;
}
.arrow_type2 img{
  margin-top: 140px;
}
.card_innner{
  height: 294px;
}
.time{
  text-align: center;
  color: #27d4df;
  background-color: #effeff;
  border: 1px solid #27d4df;
  font-size: 14px;
  font-weight: bold;
}
.card_text_area{
  margin-top: 8px;
  margin-left: 2px;
  text-align: left;
  color: #222;
  font-size: 10px;
  line-height: 1.3em;
}
.card_text_area h5{
  margin-bottom: 5px;
  color: #e64d95;
  font-size: 14px;
  font-weight: bold;
}

.card_text_area h5 span{
  margin-left: 7px;
  color: #222;
  font-size: 11px;
}

/* お得なクーポン */
.left_area{
  width: 736px;
  margin-right: 16px;
}
.otoku-coupon_title{
  background: #fbf9f4 url(../../images/pref/border_red.jpg) left center no-repeat;
}
.otoku-coupon_title h2{
  padding-left: 45px;
  background: url(../../images/pref/icon_coupon_red.png) 14px 15px no-repeat;
}
.otoku-coupon_title a{
  margin-top: 8px;
}

.otoku-coupon_innner{
  border: 6px solid #cc042f;
}
.otoku-coupon_group{
  border: 4px solid #fff;
}
.otoku-coupon{
  border: 3px solid #f8cad4;
}
.otoku-coupon_left{
  width: 548px;
  padding: 10px 0 0 10px;
  border-right: 3px dotted #f8cad4;
}
.otoku-coupon_left h5{
  color: #cc042f;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.8em;
}
.otoku-coupon_left p{
  font-size: 12px;
}
.otoku-coupon_right {
  width: 162px;
  margin: 0 auto 0 auto;
  padding: 9px;
}

.otoku-coupon_right p{
  text-align: center;
  color: #777777;
  border: 1px solid #d5d5d5;
  font-size: 12px;
}
.shop_link{
  padding-left: 22px;
  color: #4894cb;
  background: url(../../images/pref/icon_shop_blu.png) left center no-repeat;
  font-size: 10px;
  line-height: 2em;
}
.shop_link span{
  color: #222;
}
/* 共通table */
.main_left_table{
  width: 100%;
}
.main_left_table thead{
  text-align: left;
}

.main_left_table thead th{
  padding: 7px 0 7px 42px;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  position: relative;
}
.main_left_table thead th img{
  position: absolute;
  top:41px;
  left: 18px;
}

/* リアルタイム速報 */

.sokuhou_area{
  border: 1px solid #6e68f0;
  margin-bottom: 15px;
}
.sokuhou{
  border: 1px solid #fff;
  border-collapse:collapse;
}
.sokuhou thead{
  background: #6e68f0;
}
.sokuhou_title{
  background: #6e68f0 url(../../images/pref/icon_clock.png) 11px 8px no-repeat;
}
.sokuhou tbody td{
  color: #222;
  font-size: 12px;
  padding: 5px;
  border-bottom: 1px solid #ebebeb;
}

.sokuhou tbody a{
  color: #6e68f0;
}



/* 新規掲載店 */
.new_shop_area{
  border: 1px solid #00b4ff;
  margin-bottom: 15px;
}
.new_shop{
  border: 1px solid #fff;
  border-collapse:collapse;
}
.new_shop_title{
  background: #00b4ff url(../../images/pref/icon_newspaper.png) 10px 8px no-repeat;
}
.new_shop tbody td{
  color: #222;
  font-size: 12px;
  padding: 5px;
  border-bottom: 1px solid #ebebeb;
}

.new_shop tbody a{
  color: #4894cb;
}


/* ランキング */
.ranking_inner{
  border: 6px solid #50d789;
}
.ranking_group{
  border: 4px solid #fff;
}
.ranking_area{
  width: 50%;
  margin-right: 4px;
  margin-bottom: 0;
  border: 1px solid #a38a72;
}
.ranking_area:nth-child(2n){
  margin-right: 0;
}
.ranking_area table{
  width: 100%;
  border-collapse:collapse;
}
.ranking_area thead th{
  padding: 11px 3px 8px 40px;
  text-align: left;
  color: #1d1d1d;
  font-size: 18px;
  font-weight: bold;
  border-bottom: 1px solid #a38a72;
  letter-spacing: 0;
}
.ranking_area thead a{
  display:inline-flex;
}
.ranking_area  tbody tr{
  border-bottom: 1px solid #f3e9dc;
}

.ranking_area .ranking_text{
  line-height: 1.4em;
}
.ranking_area .image_area{
  display: inline-flex;
  padding: 4px 3px;
}

/* お店ランキング */
.shop_ranking{
  background: #fbf9f4 url(../../images/pref/shop_ranking.png) 10px 10px no-repeat;
  position: relative;
}
.shop_ranking .shop_ranking_more{
  position: absolute;
  top:9px;
  right:5px;
}
.left_ranking{
  border: 3px solid #fff;
  border-bottom: 0;
}
.left_ranking thead img{
}
.left_ranking tbody td a{
  color: #4894cb;
  font-size: 12px;
}
.left_ranking tbody td p{
  color: #222;
  font-size: 10px;
}

/* セラピストキング */
.therapist_ranking{
  background: #fbf9f4 url(../../images/pref/icon_women_pink.png) 15px 10px no-repeat;
  position: relative;
}
.right_ranking .therapist_ranking_more{
  position: absolute;
  top:9px;
  right:8px;
}
.right_ranking{
  border: 3px solid #fff;
  border-bottom: 0;
}
.right_ranking tbody td a{
  color: #4894cb;
  font-size: 12px;
}
.right_ranking tbody td{
  font-size: 11px;
}
.right_ranking .name{
  margin-right: 0;
  color: #e64d95;
  font-size: 14px;
  font-weight: bold;
}
.right_ranking .size{
  font-size: 12px;
  margin-right: 0;
}


/* 口コミ */
.kuchikomi_area{
  border: 6px solid #ffbc08;
}
.kuchikomi_gruop{
  width: 100%;
  margin-right: 0;
  margin-bottom: 0;
  border: 4px solid #fff;
  border-collapse:collapse;
}

.kuchikomi_gruop tr{
  border-bottom: 4px solid #fff;
}

.kuchikomi_gruop h4{
  color: #ff5908;
  font-size: 18px;
  font-weight: bold;
}

.title_area   a{
  color: #4894cb;
  font-size: 12px;
}
.kuchikomi_gruop p{
  font-size: 10px;
}

.kuchikomi_gruop td{
  padding-top: 5px;
  background-color: #fbf9f4;
}
.text-center{
  text-align: center;
}
.evaluation_group{
  background: #fbf9f4 url(../../images/pref/check.png) 30px 20px no-repeat;
}

.evaluation_group p{
  margin-left: 60px;
  font-size: 12px;
}
.evaluation_group img{
  margin-left: 60px;
}
.detail_more_btn {
  width: 87px;
  height: 26px;
  padding: 4px 19px 4px 5px;
  background: #ff5908 url(../../images/pref/right_arrow_wht.png) 76px center no-repeat;
  box-shadow:0px 2px 0px 0px #dcdcdc;
  color: #fff;
  font-size: 12px;
  line-height: 2.4em;
  text-align: center;
}
