@charset "UTF-8";
/* 店舗一覧 スタイル */
/*タブのスタイル*/
/*タブ切り替え全体のスタイル*/
.tabs {
  width: 100%;
  margin-top: 50px;
  background-color: #fff;
  margin: 0 auto;
}

/*タブのスタイル*/
.tab_item {
  width: calc(100%/3);
  height: 54px;
  background-color: #e8e8e8;
  line-height: 50px;
  font-size: 16px;
  text-align: center;
  color: #565656;
  display: block;
  float: left;
  text-align: center;
  transition: all 0.2s ease;
  border-right: 1px solid #fff;
}
.tab_item:nth-child(3n){
  border-right: 0;
}
.tab_item:hover {
  opacity: 0.75;
}
.shop_icon{
  padding-left: 25px;
  background: url(../../images/shop_list/icon_shop_gry.png) left 2px no-repeat;
}
.time_icon{
  padding-left: 20px;
  background: url(../../images/shop_list/icon_time_gry.png) left 1px no-repeat;
}
.coupon_icon{
  padding-left: 22px;
  background: url(../../images/shop_list/icon_coupon_gry.png) left 6px no-repeat;
}
/*ラジオボタンを全て消す*/
input[name="tab_item"] {
  display: none;
}

/*タブ切り替えの中身のスタイル*/
.tab_content {
  display: none;
  clear: both;
  overflow: hidden;
  border: 5px solid #51d789;
}

/*選択されているタブのコンテンツのみを表示*/
#shop_list:checked ~ #shop_list_content,
#sokuhou:checked ~ #sokuhou_content,
#coupon:checked ~ #coupon_content {
  display: block;
}

/*選択されているタブのスタイルを変える*/
.tabs input:checked + .tab_item {
  background: linear-gradient(#8fdd7e, #50d789) ;
  color: #fff;
}
.tabs input:checked + .tab_item .shop_icon {
  background: url(../../images/shop_list/icon_shop_wht.png) left 2px no-repeat;
}

.tabs input:checked + .tab_item .time_icon {
  background: url(../../images/shop_list/icon_time_wht.png) left 1px no-repeat;
}
.tabs input:checked + .tab_item .coupon_icon {
  background: url(../../images/shop_list/icon_coupon_wht.png) left 6px no-repeat;
}

/* お店一覧タブ内容  */
.shop_list_form_wrap{
  border: 10px solid #fff;
  font-size: 16px;
}
.area_table{
  width: 974px;
  margin: 0 auto 8px auto;
  padding: 25px 0;
  border: 1px solid #a38a72;
}
.table_group th{
  width: 150px;
}
.table_arrow_right{
  padding-left: 70px;
  background: url(../../images/shop_list/form_arrow_right.png) left center no-repeat;
}
.area_plus {
  width: 145px;
  text-align: right;
}
.plus_btn {
  padding: 5px 50px 5px 0;
  color: #222;
  font-size: 14px;
  background: url(../../images/shop_list/icon_plus.png) 82px 2px no-repeat;
}
.minus_btn{
  padding: 5px 50px 5px 0;
  color: #222;
  font-size: 14px;
  background: url(../../images/shop_list/icon_minus.png) 82px 2px no-repeat;
}
/* エリアチェックボックス */
.area_checkbox_group{
  padding-top: 25px;
  padding-left: 220px;
  font-size: 14px;
  display: none;
}
.reset_button_area{
  margin: 20px 0 0 190px;
  color: #51d789;
  font-size: 16px;
  font-weight: bold;
}
.reset_button_area button{
  padding: 8px 20px;
  border: 2px solid #51d789;
  border-radius: 8px;
}
.reset_button_area button:hover{
  color: #fff;
  background-color: #51d789;
}

.shop_type_table{
  width: 974px;
  margin: 0 auto 10px auto;
  padding: 25px 0;
  border: 1px solid #a38a72;
}
.shop_type_table .table_arrow_right{
  padding-left: 70px;
  background: url(../../images/shop_list/form_arrow_right.png) left center no-repeat;
}
.table_group{
  border-bottom: 2px dashed #a38a72;
  margin-bottom: 10px;
}


/*チェックボックススタイル*/
.area_table div{
  margin-bottom: 3px;
}
.checkbox-1 label{
  margin-left: 4px;
}
.checkbox-1 label:nth-child(1n){
  margin-left: 0;
}
.kensuu{
  font-size: 14px;
  margin-bottom: 8px;
}
.kensuu span{
  font-size: 18px;
}

/* ラジオボタンスタイル */
/* ラベルのスタイル */
.radio label {
	padding-left:		20px;			/* ラベルの位置 */
	line-height:		16px;
	display:		inline-block;
	cursor:			pointer;
	position:		relative;
  margin-right: 14px;
}
.radio label:before{
  content:		'';
	width:			14px;			/* ボックスの横幅 */
	height:			14px;			/* ボックスの縦幅 */
	display:		inline-block;
	position:		absolute;
	left:0;
	background-color:	#fff;
	border-radius: 50px;
  border: 1px #51d789 solid;
}
/* 元のチェックボックスを表示しない */
.radio input[type=radio] {
	display:		none;
}
/* チェックした時のスタイル */
.radio input[type=radio]:checked + label:before {
	content:		'\02022';		/* チェックの文字 */
	font-size:	22px;			/* チェックのサイズ */
	color:			#51d789;			/* チェックの色 */
	background-color:	#fff;			/* チェックした時の色 */
  border: 1px #51d789 solid;
  line-height: 0.6em;
}

.col_2_wrap{
  width: 100%;
}
.col_2_wrap .col_2_inner{
  width: 50%;
  margin-right: 10px;
}
.col_2_wrap .col_2_inner:last-child{
  margin-right: 0px;
}
.word_serch_area{
  padding: 15px 0;
}
.word_serch_area input{
  width: 300px;
  height: 45px;
  padding-left: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 3px;
}
.word_serch_area .table_arrow_right{
  padding-left: 25px;
}
.word_serch_area th{
  width: 130px;
}

/* リアルタイム速報内容 */
#sokuhou_content{
  width: 1004px;
}
.sokuhou thead{
  text-align: left;
}
.sokuhou thead th{
  padding: 7px 0 7px 42px;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  position: relative;
}
.sokuhou thead img{
  position: absolute;
  top: 41px;
  left: 18px;
}
.sokuhou_area{
  width: 100%;
  border: 1px solid #6e68f0;
}
.sokuhou{
  width: 100%;
  border: 1px solid #fff;
  border-collapse:collapse;
}
.sokuhou_title{
  background: #6e68f0 url(../../images/pref/icon_clock.png) 11px 7px no-repeat;
}
.sokuhou tbody td{
  color: #222;
  font-size: 12px;
  padding: 5px 5px 5px 16px;
  border-bottom: 1px solid #ebebeb;
}

.sokuhou tbody a{
  color: #6e68f0;
}

.sokuhou tbody td img{
  margin-top: 5px;
}

/* クーポンタブ内容 */
#coupon_content{
  width: 1004px;
}
.otoku-coupon_title{
  background: #fbf9f4 url(../../images/pref/border_red.jpg) left center no-repeat;
}
.otoku-coupon_title h2{
  padding-left: 45px;
  background: url(../../images/pref/icon_coupon_red.png) 14px 10px no-repeat;
}
.otoku-coupon_title h2 span{
  margin-left: 10px;
  color: #222;
  font-size: 11px;
}
.otoku-coupon_title a{
  margin-right: 15px;
}

.otoku-coupon_innner{
  border: 6px solid #cc042f;
}
.otoku-coupon_group{
  border: 4px solid #fff;
}
.otoku-coupon{
  border: 3px solid #f8cad4;
}
.otoku-coupon_left{
  width: 786px;
  padding: 10px 0 0 10px;
  border-right: 3px dotted #f8cad4;
}
.otoku-coupon_left h5{
  color: #cc042f;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.8em;
}
.otoku-coupon_left p{
  font-size: 12px;
}
.otoku-coupon_right {
  width: 162px;
  margin: 0 auto 0 auto;
  padding: 9px;
}

.otoku-coupon_right p{
  text-align: center;
  color: #777777;
  border: 1px solid #d5d5d5;
  font-size: 12px;
}
.shop_link{
  padding-left: 22px;
  color: #4894cb;
  background: url(../../images/pref/icon_shop_blu.png) left center no-repeat;
  font-size: 10px;
  line-height: 2em;
}
.shop_link span{
  color: #222;
}
.section_title{
  margin-bottom: 5px;
}


/* 詳細検索ボタン */
.detail_search{
  width: 974px;
  padding: 5px 0;
  border: 1px solid #a38a72;
  text-align: center;
}
.detail_search span{
  padding: 10px 18px 10px 0;
  color: #222;
}

.detail_btn{
  background: url(../../images/shop_list/down_arrow.png) right center no-repeat;
}
.close_btn{
  background: url(../../images/shop_list/up_arrow.png) right center no-repeat;
}
.btn > span:last-of-type,
.btn.active > span:first-of-type{
  display: none;
}

.btn.active > span:last-of-type {
  display: inline;
}

/* 詳細検索エリア */
.detail_search_area{
  display: none;
}


/* 該当件数表示ボタン・クリアボタン */
.button_group{
  text-align: center;
  padding-bottom: 70px;
  margin-bottom: 20px;
  background: url(../../images/shop_list/button_group_bg.png) 0 center no-repeat;
  position: relative;
}

.button_group a{
  background-color: #fff;
  border-radius: 8px;
  font-size: 14px;
}
.submit_button{
  padding: 6px 16px 6px 44px;
  color: #51d789;
  position: absolute;
  left: 286px;
  box-shadow: 3px 3px 10px 0px rgba(255,255,255,0.75) inset,-1px -1px 3px 1px rgba(0,0,0,0.25) inset;
  background: url(../../images/shop_list/icon_shop_green.png) 20px center no-repeat;
}
.submit_button span{
  font-size: 18px;
}
.reset_button{
  padding: 9px 16px 9px 46px;
  font-size: 14px;
  color: #777;
  position: absolute;
  box-shadow: 3px 3px 10px 0px rgba(255,255,255,0.75) inset,-1px -1px 3px 1px rgba(0,0,0,0.25) inset;
  background: url(../../images/shop_list/icon_reset.png) 20px center no-repeat;
}

/* 表示店舗一覧 */
.shop_list_area{
  margin-bottom: 30px;
}
.shop_inner_wrap{
  position: relative;
  margin-bottom:26px;
}
.shop_inner_wrap .day-time{
  width: 220px;
  padding: 2px 0 0 32px;
  background: #e5f7ce url(../../images/shop_list/icon_clock_purp.png) 16px 6px no-repeat;
  font-size: 14px;
  position: absolute;
  top: -15px;
  right: 0;
}
.shop_top_area{
  border: 10px solid #e5f7ce;
}
.shop_top_area_inner{
  width: 944px;
  margin: 15px auto 0 auto;
}
.open_area_type{
  font-size: 16px;
}
.open{
  margin-right: 10px;
  padding: 0 14px 0 30px ;
  background: url(../../images/shop_list/icon_door.png) 12px 6px no-repeat;
  border: 1px solid #50d789;
  border-radius: 15px;
}
.shop_kuchikomi_wrap p{
  padding:5px 0 0 20px;
  background: url(../../images/shop_list/icon_list_ore.png) 2px 11px no-repeat;
  font-size: 12px;
}
.shop_kuchikomi_wrap img{
  margin: 0 5px;
}
.shop_kuchikomi_wrap p span{
  margin-right: 2px;
  font-size: 21px;
}
.shop_kuchikomi_wrap p a{
  padding: 0 5px;
  color: #50d789;
  border-bottom: 1px solid #50d789;
}
.okiniiri{
  padding:8px 14px 0 32px;
  margin-left: 10px;
  color: #777;
  font-size: 14px;
  background: url(../../images/shop_list/icon_heart_gry.png) 12px 10px no-repeat;
  border-radius: 5px;
  border: 1px solid #777;
}
.shop_name_wrap{
  width: 944px;
  margin: 0 auto;
}
.shop_name_wrap h2{
  color: #50d789;
  font-size: 26px;
}
.shop_name_wrap p{
  padding-left: 22px;
  color: #222;
  background: url(../../images/shop_list/icon_women_br.png) 0 0 no-repeat;
  font-size: 16px;
}
.shop_detail_wrap {
  height:42px;
  background-color: #f7f3ed;
}
.shop_detail_wrap h3{
  padding-left: 50px;
  font-size: 24px;
  font-weight: normal;
  background: url(../../images/shop_list/icon_tell_br.png) 23px 7px no-repeat;
}
.shop_detail_wrap h3 span{
  margin-left: 20px;
  padding-left: 30px;
  font-size: 16px;
  font-weight: normal;
  background: url(../../images/shop_list/icon_clock_br.png) 6px 0 no-repeat;
}
.staff_count{
  margin-right: 20px;
  padding:2px 10px 2px 30px;
  font-size: 12px;
  background: #fff url(../../images/shop_list/icon_hell.png) 12px 10px no-repeat;
  border-radius: 20px;
  border: 1px solid #50d789;
}
.staff_count span{
  color: #ff55a5;
  font-size: 18px;
}
.shop_content_wrap{
  width: 944px;
  margin: 15px auto 20px auto;
}
.shop_conten_right_area{
  width: 644px;
  margin-left: 30px;
}
.shop_text_area{
  margin-top: 20px;
  background-color: #f7f3ed;
}
.shop_text_area p{
  padding: 14px 14px 5px 14px;
  color: #222;
  font-size: 16px;
  letter-spacing: 0;
}
.treatment_menu h4{
  padding-left: 30px;
  background: #eafff3 url(../../images/shop_list/icon_list_gre.jpg) 0 0 no-repeat;
  font-size: 16px;
  font-weight: normal;
}
.treatment_menu ul{
  margin-bottom: 5px;
}
.treatment_menu ul:nth-child(1n){
  margin-top: 5px;
}
.treatment_menu li{
  text-align: center;
  margin-right: 5px;
  padding: 2px 5px;
  color: #ae2d5b;
  font-size: 11px;
  border: 1px solid #ae2d5b;
  border-radius: 3px;
}

.treatment_menu table{
  margin:14px 0;
  border-top: 1px solid #ccc;
  text-align: left;
  border-collapse:collapse;
}
.treatment_menu table th{
  padding: 3px 0;
  width: 162px;
  color: #1d1d1d;
  border-right: 1px solid #ccc;
  font-size: 16px;
  font-weight: normal;
}
.treatment_menu table td{
  width: 482px;
  padding-left: 16px;
  color: #1d1d1d;
  font-size: 16px;
}
.treatment_menu table tr{
  border-bottom: 1px solid #ccc;
}

.treatment_menu .add{
  padding-left: 28px;
  background: url(../../images/shop_list/icon_gps.png) 8px 4px no-repeat;
}
.treatment_menu .budget{
  padding-left: 28px;
  background: url(../../images/shop_list/icon_en.png) 8px 6px no-repeat;
}
.shop_coupon_area{
  position: relative;
}
.shop_coupon_area p{
  padding-right: 10px;
  position: absolute;
  top:10px;
  background: url(../../images/shop_list/coupon_arrow.png) right 9px no-repeat;
}
.shop_coupon_area a{
  padding:10px 0 8px 76px;
  margin:0 10px 20px 0;
  color: #fff;
  background: url(../../images/shop_list/icon_coupon_title.png) 13px 6px no-repeat;
  font-size: 21px;
}
.shop_coupon_area p img{
  margin-left: 10px;
}
.shop_coupon_area .shop_coupon_bg{
}
.point_wrap h4{
  padding-left: 30px;
  background: #fdeaff url(../../images/shop_list/icon_point_pink.jpg) 0 0 no-repeat;
  font-size: 16px;
  font-weight: normal;
}
.point_wrap ul{
  margin-bottom: 5px;
}
.point_wrap ul:nth-child(1n){
  margin-top: 5px;
}
.point_wrap ul:last-child{
  margin-bottom: 0;
}
.point_wrap li{
  text-align: center;
  margin-right: 5px;
  padding: 2px 5px;
  color: #754b47;
  font-size: 11px;
  border: 1px solid #754b47;
  border-radius: 3px;
}
.point_wrap li:last-child{
  display: inline-block;
}
.shop_bottom_area{
  border: 10px solid #e5f7ce;
  border-top: 0;
}
.shop_bottom_area table{
  border: 4px solid #fff;
}
.shop_bottom_area table th{
  padding-left: 26px;
  font-size: 14px;
  font-weight: normal;
  background: url(../../images/shop_list/icon_time_purp.png) 2px 0 no-repeat;
  border-right: 1px solid #ccc;
}
.shop_bottom_area table th span{
  margin-left: 8px;
  padding-right: 8px;
  font-size: 12px;
}
.shop_bottom_area table td a{
  margin-left: 8px;
  color: #6e68f0;
  font-size: 14px;
}
