@charset "UTF-8";
/* 即癒し一覧 スタイル */

/*チェックボックススタイル*/
.area_table div{
  margin-bottom: 3px;
}
.checkbox label:before{
  border: 1px solid #c250d7;
}
.checkbox input[type=checkbox]:checked + label:before{
  background-color: #c250d7;
}
.checkbox-1 label{
  margin-left: 4px;
}
.checkbox-1 label:before{
  border: 1px solid #c250d7;
}
.checkbox-1 label:nth-child(1n){
  margin-left: 0;
}
.checkbox-1 input[type=checkbox]:checked + label:before{
  background-color: #c250d7;
}
.kensuu{
  font-size: 14px;
  margin-bottom: 8px;
}
.kensuu span{
  font-size: 18px;
}

/* ラジオボタンスタイル */
/* ラベルのスタイル */
.radio label {
	padding-left:		20px;			/* ラベルの位置 */
	line-height:		16px;
	display:		inline-block;
	cursor:			pointer;
	position:		relative;
  margin-right: 14px;
}
.radio label:before{
  content:		'';
	width:			14px;			/* ボックスの横幅 */
	height:			14px;			/* ボックスの縦幅 */
	display:		inline-block;
	position:		absolute;
	left:0;
	background-color:	#fff;
	border-radius: 50px;
  border: 1px #c250d7 solid;
}
/* 元のチェックボックスを表示しない */
.radio input[type=radio] {
	display:		none;
}
/* チェックした時のスタイル */
.radio input[type=radio]:checked + label:before {
	content:		'\02022';		/* チェックの文字 */
	font-size:	22px;			/* チェックのサイズ */
	color:			#c250d7;			/* チェックの色 */
	background-color:	#fff;			/* チェックした時の色 */
  border: 1px #c250d7 solid;
  line-height: 0.6em;
}
/* テキストエリア */
.free_text_area{
  margin:15px auto;
  border: 0;
}
/* 検索エリア  */
.search_form_wrap{
  padding: 10px 0;
  font-size: 16px;
}
.form_inner_wrap{
  width: 976px;
  margin: auto;
  /* border-bottom: 2px dashed #a38a72; */
  margin-bottom: 10px;
}
.search_form_wrap dl dt{
  width: 148px;
  font-size: 16px;
  font-weight: bold;
}
.search_form_wrap dl dd{
  padding-left: 32px;
}
.box_style{
  margin-bottom: 8px;
  padding: 20px 0 19px 22px;
  border: 1px solid #a38a72;
}
.box_style:last-child{
  margin-bottom: 0;
}
.arrow_right{
  background: url(../../images/shop_movie_list/form_arrow_right.png) right 0px no-repeat;
}
.area_plus {
  width: 145px;
  text-align: right;
}
/* エリア選択 */
.plus_btn {
  padding: 5px 50px 5px 0;
  color: #222;
  font-size: 14px;
  background: url(../../images/shop_movie_list/icon_plus.png) 82px 2px no-repeat;
}
.minus_btn{
  padding: 5px 50px 5px 0;
  color: #222;
  font-size: 14px;
  background: url(../../images/shop_movie_list/icon_minus.png) 82px 2px no-repeat;
}
.area_wrap{
  width: 84%;
}
.area_wrap input{
  display: none;
}
/* 各エリアのチェックボックスエリア*/
.area_checkbox_group{
  padding-top: 25px;
  padding-left: 220px;
  font-size: 14px;
  display: none;
}
.reset_button_area{
  margin: 20px 0 0 190px;
  color: #c250d7;
  font-size: 16px;
  font-weight: bold;
}
.reset_button_area button{
  padding: 8px 20px;
  border: 2px solid #c250d7;
  border-radius: 8px;
}
.reset_button_area button:hover{
  color: #fff;
  background-color: #c250d7;
}
/* 入力エリア */
.word_search_area input{
  width: 760px;
  height: 45px;
  padding-left: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 3px;
}
/* 詳細検索・閉じるボタン */
.detail_search{
  width: 974px;
  margin: auto;
  padding: 5px 0;
  border: 1px solid #a38a72;
  text-align: center;
}
.detail_search span{
  padding: 10px 18px 10px 0;
  color: #222;
}
.detail_btn{
  background: url(../../images/shop_list/down_arrow.png) right center no-repeat;
}
.close_btn{
  background: url(../../images/shop_list/up_arrow.png) right center no-repeat;
}
.btn > span:last-of-type,
.btn.active > span:first-of-type{
  display: none;
}
.btn.active > span:last-of-type {
  display: inline;
}

/* 詳細検索表示エリア */
.detail_search_area{
  display: none;
}

/* 該当件数表示ボタン・クリアボタン */
.button_group{
  text-align: center;
  padding-bottom: 70px;
  margin-bottom: 20px;
  background: url(../../images/shop_movie_list/button_group_bg.png) 0 center no-repeat;
  position: relative;
}
.button_group button{
  background-color: #fff;
  border-radius: 8px;
  font-size: 14px;
}
.submit_button{
  padding: 6px 16px 6px 44px;
  color: #c250d7;
  position: absolute;
  left: 30%;
  box-shadow: 3px 3px 10px 0px rgba(255,255,255,0.75) inset,-1px -1px 3px 1px rgba(0,0,0,0.25) inset;
  background: url(../../images/icon_movie.png) 14px center no-repeat;
}
.submit_button span{
  font-size: 18px;
}
.reset_button{
  padding: 9px 16px 9px 46px;
  font-size: 14px;
  color: #777;
  position: absolute;
  left: 51%;
  box-shadow: 3px 3px 10px 0px rgba(255,255,255,0.75) inset,-1px -1px 3px 1px rgba(0,0,0,0.25) inset;
  background: url(../../images/shop_list/icon_reset.png) 20px center no-repeat;
}

/* 結果一覧 */
.result_area{
  margin-bottom: 46px;
}
.col_inner{
  width: 24.25%;
}

/* モーダルデザイン */
.modaal-container{
  width: 648px !important;
  margin: auto;
}
.modaal-content-container{
  padding: 0 !important;
}
.modal_inner{
  position: relative;
}
.close{
  width: 48px;
  height: 48px;
  background: #ffffff;
  background: -moz-linear-gradient( #fefefe 0%, #f1eff9 80%, #e7e7e7 90%, #ffffff 100%);
  background: -webkit-gradient(linear, left top, left bottom, from(#fefefe), color-stop(80%, #f1eff9), color-stop(90%, #e7e7e7), to(#ffffff));
  background: -webkit-linear-gradient( #fefefe 0%, #f1eff9 80%, #e7e7e7 90%, #ffffff 100%);
  background: -o-linear-gradient( #fefefe 0%, #f1eff9 80%, #e7e7e7 90%, #ffffff 100%);
  background: -ms-linear-gradient( #fefefe 0%, #f1eff9 80%, #e7e7e7 90%, #ffffff 100%);
  background: linear-gradient( #fefefe 0%, #f1eff9 80%, #e7e7e7 90%, #ffffff 100%);
  border-radius: 50px;
  box-shadow:-6px 7px 6px -9px rgba(0,0,0,0.29);
  color: #222;
  font-size: 32px;
  position: absolute;
  top: -31px;
  right: -32px;
  z-index: 1;
}
.inner_modal{
  margin-bottom: 0;
}
.top_inner{
  padding: 5px 10px 5px 1px;
}
.more_btn_style{
  width: 82px;
}
.top_inner p{
  color: #222;
  font-size: 16px;
  letter-spacing: 0;
}
.shop_detail{
  font-size: 12px;
}
.bottom_type3{
  text-align: center;
}
.modaal-close{
  display: none !important;
}
.bottom_type3 .modal_bottom {
  width: 97%;
  margin: auto;
  padding: 10px 0;
  text-align: left;
}
.movie_bottom{
  padding: 1px;
}
.movie_bottom h3{
  color: #c250d7;
  font-size: 16px;
}
.movie_bottom p{
  color: #292929;
  font-size: 14px;
  letter-spacing: 0;
}
